<div class="animated fadeIn">
    <div ng-controller="aksesCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Hak Akses</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Tambahkan Hak Akses Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0px">
                                        <label for="nama" class="col-sm-1 col-form-label-sm mb-0px">Nama</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" st-search="nama" id="nama" placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0px">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td>{{ row.nama }}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0 && row.is_special==false" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-light">
                                <div class="form-group row mb-0px">
                                    <label for="nama" class="col-sm-2 col-form-label-sm mb-0px">Nama Hak Akses</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.nama" id="nama" ng-disabled="is_view || form.is_special"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks">Data Master</label>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_akses" type="checkbox"/>
                                            <i></i>
                                            Hak Akses
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_user" type="checkbox"/>
                                            <i></i>
                                            Pengguna
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_kategori_produk" type="checkbox"/>
                                            <i></i>
                                            Kategori Produk
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_produk" type="checkbox"/>
                                            <i></i>
                                            Produk
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_promo" type="checkbox"/>
                                            <i></i>
                                            Promo
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_big_order" type="checkbox"/>
                                            <i></i>
                                            Big Order
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_member" type="checkbox"/>
                                            <i></i>
                                            Member
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_member_delete" type="checkbox"/>
                                            <i></i>
                                            Edit & Hapus Member
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_pengajuan" type="checkbox"/>
                                            <i></i>
                                            Approval Member Baru
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_reseller" type="checkbox"/>
                                            <i></i>
                                            Reseller
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_bonus" type="checkbox"/>
                                            <i></i>
                                            Bonus / Commission
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_tree" type="checkbox"/>
                                            <i></i>
                                            Pohon Jaringan
                                        </label>
                                    </div>
                                    <!--<div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_forum" type="checkbox"/>
                                            <i></i>
                                            Forum Member
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_faq" type="checkbox"/>
                                            <i></i>
                                            Baca FAQ
                                        </label>
                                    </div> -->
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_faq_crud" type="checkbox"/>
                                            <i></i>
                                            Edit dan Hapus FAQ
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_artikel" type="checkbox"/>
                                            <i></i>
                                            Artikel
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_testimoni" type="checkbox"/>
                                            <i></i>
                                            Testimoni Pelanggan
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_slider" type="checkbox"/>
                                            <i></i>
                                            Slider
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_afiliasi_produk" type="checkbox"/>
                                            <i></i>
                                            Link Afiliasi Produk
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_afiliasi_member" type="checkbox"/>
                                            <i></i>
                                            Link Afiliasi Member
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_setting" type="checkbox"/>
                                            <i></i>
                                            Setting Web
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks">Transaksi</label>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.transaksi_keranjang" type="checkbox"/>
                                            <i></i>
                                            Keranjang Belanja
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.transaksi_keranjang_big" type="checkbox"/>
                                            <i></i>
                                            Keranjang Big Order
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.transaksi_histori_pesanan" type="checkbox"/>
                                            <i></i>
                                            Riwayat Pesanan
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.transaksi_histori_pesanan_member" type="checkbox"/>
                                            <i></i>
                                            Riwayat Pesanan (Edit Member)
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.master_komplain" type="checkbox"/>
                                            <i></i>
                                            Komplain Pelanggan
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.transaksi_konfirmasi_pembayaran" type="checkbox"/>
                                            <i></i>
                                            Konfirmasi Pembayaran
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group bg-white">
                                <div class="list-group-item">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.transaksi_approval_pembayaran" type="checkbox"/>
                                        <i></i>
                                        Approval Pembayaran
                                    </label>
                                </div>
                            </div>
                            <div class="list-group bg-white">
                                <div class="list-group-item">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.transaksi_mutasi" type="checkbox"/>
                                        <i></i>
                                        Mutasi Level Member
                                    </label>
                                </div>
                            </div>
                            <!-- Note : Menu arisan jadi menu tabungan -->
                            <div class="list-group bg-white">
                                <div class="list-group-item">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.transaksi_arisan" type="checkbox"/>
                                        <i></i>
                                        Tabungan
                                    </label>
                                </div>
                            </div>

                            <div class="list-group bg-white">
                                <div class="list-group-item">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.transaksi_arisan_pj" type="checkbox"/>
                                        <i></i>
                                        PJ Arisan
                                    </label>
                                </div>
                            </div>

                            <div class="list-group bg-white">
                                <div class="list-group-item">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.transaksi_arisan_list" type="checkbox"/>
                                        <i></i>
                                        List Arisan
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="panel panels panel-primary">
                                <div class="panel-heading">
                                    <label class="i-checks">Laporan</label>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_pesanan" type="checkbox"/>
                                            <i></i>
                                            Surat Pesanan
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.detail_komisi" type="checkbox"/>
                                            <i></i>
                                            Detail Komisi
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_poin_reseller" type="checkbox"/>
                                            <i></i>
                                            Poin reseller
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_bonus_pc" type="checkbox"/>
                                            <i></i>
                                            Personal Commission
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_bonus_rc" type="checkbox"/>
                                            <i></i>
                                            Recruitment Commission
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_bonus_mr" type="checkbox"/>
                                            <i></i>
                                            Monthly Reward
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_bonus_mcm" type="checkbox"/>
                                            <i></i>
                                            Member Commission Manager
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_bonus_mcs" type="checkbox"/>
                                            <i></i>
                                            Member Commission Supervisor
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_tutup_bulan" type="checkbox"/>
                                            <i></i>
                                            Tutup Bulan
                                        </label>
                                    </div>
                                </div>
                                <!-- Note : Arisan dirubah jadi tabungan -->
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_arisan" type="checkbox"/>
                                            <i></i>
                                            Tabungan
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.laporan_mutasi_moota" type="checkbox"/>
                                            <i></i>
                                            Mutasi Moota
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
