<div class="animated fadeIn">
    <div ng-controller="kpembayaranCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Konfirmasi Pembayaran</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                          <input st-search="kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode" />
                                        </div> -->
                                        <label class="col-sm-2 col-form-label-sm mb-0">Kode Surat Pesanan</label>
                                        <div class="col-sm-2">
                                            <input st-search="t_penjualan.kode" class="form-control form-control-sm" placeholder="Kode Surat Pesanan"/>
                                        </div>
                                        <label class="col-sm-3 col-sm-offset-3 col-form-label-sm mb-0">Kode Konfirmasi Pembayaran</label>
                                        <div class="col-sm-2">
                                            <input st-search="t_konfirmasi_pembayaran.kode" class="form-control form-control-sm" placeholder="Kode Konfirmasi Bayar"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode Konfirmasi Pembayaran</th>
                                    <th class="align-left">Kode Surat Pesanan</th>
                                    <th class="text-center">Total Tagihan</th>
                                    <th class="text-center">Nominal Transfer</th>
                                    <th class="text-center">Tanggal Transfer</th>
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.t_penjualan_kode }}</td>
                                <td class="text-right">
                                  <!-- <span class="float-left">Rp.</span> -->
                                  {{ row.grand_total | currency:"Rp."}}
                                </td>
                                <td class="text-right">
                                  <!-- <span class="float-left">Rp.</span> -->
                                  {{ row.nominal_transfer | currency:"Rp."}}
                                </td>
                                <td class="text-center">{{ row.tanggal_transfer | date:"dd MMM yyyy" }}</td>
                                <!-- <td class="align-left">
                                  <h6><span ng-if="row.is_used == 1" class="badge badge-success">Aktif</span></h6>
                                  <h6><span ng-if="row.is_used == 0" class="badge badge-secondary">Non-aktif</span></h6>
                                </td> -->
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <!-- <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kode</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Transfer</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_transfer')" is-open="opened.tanggal_transfer" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_transfer" ng-disabled="is_view"  placeholder="Tanggal Transfer"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kode Surat Pesanan</label>
                                <div class="col-sm-6">
                                  <ui-select ng-model="form.t_penjualan_id" class="w100" theme="bootstrap" ng-disabled="is_view" on-select="setPesanan(form.t_penjualan_id)">
                                      <ui-select-match placeholder="Pilih Kode Pesanan [Ketikkan Kode]">{{ $select.selected.kode }}</ui-select-match>
                                      <ui-select-choices position="down" refresh="getPesanan($select.search)" repeat="pesanan in listPesanan">{{ pesanan.kode }}</ui-select-choices>
                                  </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Total Tagihan</label>
                                <div class="col-sm-6">
                                  <div class="input-group input-group-sm">
                                    <span class="input-group-text">Rp.</span>
                                    <input type="text" class="form-control form-control-sm text-right" ng-model="form.grand_total" ng-disabled="1" ui-number-mask="0"/>
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Sisa Tagihan</label>
                                <div class="col-sm-6">
                                  <div class="input-group input-group-sm">
                                    <span class="input-group-text">Rp.</span>
                                    <input type="text" class="form-control form-control-sm text-right" ng-model="form.sisa_tagihan" ng-disabled="1" ui-number-mask="0"/>
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Surat Pesanan</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_pesanan')" is-open="opened.t_penjualan_tanggal" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.t_penjualan_tanggal" ng-disabled="1"  placeholder="Tanggal Surat Pesanan"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Jenis Pembayaran</label>
                                <div class="col-sm-6">
                                    <select type="text" class="form-control form-control-sm" ng-model="form.jenis_pembayaran" ng-disabled="is_view">
                                      <option value="">.: Pilih Jenis Pembayaran :.</option>
                                      <option value="Pembayaran DP">Pembayaran DP</option>
                                      <option value="Pelunasan DP">Pelunasan</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm required">Bank</label>
                              <div class="col-sm-6">
                                <ui-select ng-model="form.bank" class="w100" theme="bootstrap" ng-disabled="is_view">
                                    <ui-select-match placeholder="Pilih Bank [Ketikkan Nama Bank]">{{ $select.selected.name }}</ui-select-match>
                                    <ui-select-choices position="down" repeat="bank in listBank | filter:$select.search">{{ bank.name }}</ui-select-choices>
                                </ui-select>
                              </div>
                          </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama Pemilik Bank</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.bank_atas_nama" ng-disabled="is_view" placeholder="Nama Pemilik Bank"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nominal Transfer</label>
                                <div class="col-sm-6">
                                  <div class="input-group input-group-sm">
                                    <span class="input-group-text">Rp.</span>
                                    <input type="text" class="form-control form-control-sm text-right" ng-model="form.nominal_transfer" ng-disabled="is_view" ui-number-mask="0" placeholder="Nominal Transfer"/>
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Foto Bukti Transfer</label>
                                <div class="col-sm-9">
                                    <input accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.foto_transfer" type="file" ng-disabled="is_view" ng-if="form.link_transfer == undefined"/>
                                    <a class="btn btn-info btn-sm mt-2" ng-disabled="is_view" target="_blank" href="./api/file/pembayaran/{{form.t_penjualan_id.m_member_id}}/{{ form.link_transfer }}" ng-if="form.link_transfer != undefined">
                                        <i class="fa fa-download"></i>
                                        &nbsp;Download Bukti Transfer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
