<div class="animated fadeIn">
    <div ng-controller="amemberCtrl">
        <div class="card" ng-if="!is_edit">
            <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
                <div class="card-header">
                    <strong class="d-md-down-none">Sentral Cargo</strong>
                    <div class="btn-group pull-right mt-5px" role="group">
                        <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed">
                            <i class="fa fa-search"></i>
                            &nbsp;Pencarian
                        </button>
                        <button class="btn btn-primary btn-sm" ng-click="create();">
                            <i class="fa fa-plus"></i>
                            &nbsp;Buat Baru
                        </button>
                    </div>
                </div>
                <div class="card-body p-0px">
                    <div class="pl-15px pr-15px">
                        <div class="row mt-15px" ng-show="!isCollapsed">
                            <div class="col-md-12">
                                <div class="alert alert-secondary">
                                    <form name="landaform" novalidate="">
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-2 col-form-label-sm mb-0">Kecamatan</label>
                                            <div class="col-sm-4">
                                                <input st-search="kecamatan" class="form-control form-control-sm" placeholder="Kecamatan"/>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-2 col-form-label-sm mb-0">Kode</label>
                                            <div class="col-sm-4">
                                                <input st-search="kode_distrik_sc" class="form-control form-control-sm" placeholder="Kode distrik"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th class="text-center">Provinsi</th>
                                        <th class="text-center">Kota</th>
                                        <th class="text-center">Kecamatan</th>
                                        <th class="text-center">Kode</th>
                                        <!-- <th class="align-left">Aktif / Non-Aktif</th> -->
                                        <th></th>
                                    </tr>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                    <td class="text-center">{{ $index + 1 }}.</td>
                                    <td class="align-left">{{ row.provinsi }}</td>
                                    <td class="text-center">{{ row.kota }}</td>
                                    <td class="text-center">
                                      {{row.kecamatan}}
                                    </td>
                                    <td class="text-center">
                                      <input class="form-control form-control-sm" type="text" ng-model="row.kode_distrik_sc" ng-blur="update(row)">
                                    </td>
                                    <td>
                                        <div class="btn-group pull-right" role="group">
                                            <button type="button" class="btn btn-info fa fa-save" ng-click="update(row)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div st-pagination="" st-items-by-page="100" st-template="tpl/common/pagination.custom.html"></div>
                </div>
            </div>
        </div>

    </div>
</div>
