

    <!-- Banner Section Start -->
    <div class="banner-section section fix mb-70 mb-lg-50 mb-md-50 mb-sm-50 mb-xs-30 mt-40">

      <div class="row">
          <div class="section-title text-center col mb-30">
              <h1>Promo Minggu Ini</h1>
              <!-- <p>Koleksi buku yang tersedia</p> -->
          </div>
      </div>


        <div class="row row-5">
          {% if produkPromo | length > 0 %}
            {% for key, row in produkPromo %}

              {% if (produkPromo | length == 3) and (key==0) %}
              <div class="col-lg-4 col-md-6 col-12 mb-10" style="padding:5px 30px 5px 30px">
              {% elseif (produkPromo | length) == 2 and (key==0) %}
              <div class="col-lg-4 offset-lg-2 col-md-6 col-12 mb-10" style="padding:5px 30px 5px 30px">
              {% elseif (produkPromo | length == 1) and (key==0) %}
              <div class="col-lg-4 offset-lg-4 col-md-6 col-12 mb-10" style="padding:5px 30px 5px 30px">
              {% else %}
              <div class="col-lg-4 col-md-6 col-12 mb-10" style="padding:5px 30px 5px 30px">
              {% endif %}
                <div class="banner banner-3 border border-kafilah">
                    <a href="{{ site_url }}/produk/{{row.url}}" class="image">
                      <img src="{{ row.foto }}" alt="Banner Image">
                    </a>
                    <a href="{{site_url}}/produk" class="shop-link" data-hover="Belanja Sekarang">Belanja Sekarang</a>
                </div>
              </div>
              {% endfor %}
            {% endif %}

        </div>
    </div><!-- Banner Section End -->
