<!-- Banner Section Start -->
<!-- <div class="banner-section section mt-40 mt-xs-20 mb-60 mb-lg-40 mb-md-40 mb-sm-40 mb-xs-20">
    <div class="container-fluid">

      <div class="row">
          <div class="section-title text-center col mb-30">
              <h1>Best Seller</h1>
              <p>Produk-produk Terlaris</p>
          </div>
      </div>

        <div class="row row-10">
          {% for key, row in bestSeller %}

            <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                <div class="product-item border border-kafilah">
                    <div class="product-inner">

                        <div class="image">
                            <img src="{{row.foto}}" alt="">

                            <div class="image-overlay">
                                <div class="action-buttons">
                                    <button class="tambahKeranjang" id="{{row.id}}" value="{{row.id}},{{row.jenis}}">add to cart</button>

                                </div>
                            </div>

                        </div>

                        <div class="content">
                            <div class="content-left">
                                <h4 class="title">
                                  <a href="{{site_url}}/produk/{{row.url}}">
                                    {{ row.nama|length > 24 ? row.nama|slice(0, 24) ~ '...' : row.nama }}
                                  </a>
                                </h4>

                                <span class="ratting" style="display: block;font-size: 18px;font-weight: 600;color: #ff708a;font-family: 'Dosis', sans-serif;">
                                  Rp.{{row.harga_jual | number_format}},-
                                  <strike class="text-secondary" style="font-size:15px">
                                      {% if row.harga_coret > 0 %}
                                      Rp.{{row.harga_coret | number_format}}
                                      {% endif %}
                                  </strike>
                                </span>

                                <h5 class="size">&nbsp;</h5>
                                <h5 class="color">&nbsp;</h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

          {% endfor %}

        </div>
    </div>
</div> -->
<!-- Banner Section End -->
