<!-- Blog Section Start -->
    <div class="blog-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">
            <div class="row">

                <div class="col-xl-12 col-lg-12 col-12">

                    <div class="row">
                        <div class="section-title text-left col mb-30">
                            <h1>REVIEW PELANGGAN</h1>
                            <p>Kata mereka tentang Kami</p>
                        </div>
                    </div>

                    <div class="row">

                      {% for key, row in listTestimoni %}
                        <div class="col-md-6 col-sm-12 mb-40">
                            <div class="testimonial-item">
                                <p>{{ row.testimoni }}</p>
                                <div class="testimonial-author">
                                    <img src="assets/images/testimonial/testimonial-1.png" alt="">
                                    <div class="content">
                                        <h4>{{ row.nama }}</h4>
                                        <p>{{ row.identitas }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div><!-- Blog Section End -->


<!-- Blog Section Start -->
<div class="blog-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
    <div class="container">
        <div class="row">

            <!-- <div class="col-xl-6 col-lg-5 col-12">

                <div class="row">
                    <div class="section-title text-left col mb-30">
                        <h1>REVIEW PELANGGAN</h1>
                        <p>Testimoni Pelanggan Tentang Kami</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 mb-40">
                        <div class="testimonial-item">
                            <p>Kafilah is one of the most exclusive Book Store in the world, where you can find all product for your baby that your want to buy for your baby. I recomanded this shop all of you</p>
                            <div class="testimonial-author">
                                <img src="{{base_url}}/assets/images/testimonial/testimonial-1.png" alt="">
                                <div class="content">
                                    <h4>Zacquline Smith</h4>
                                    <p>CEO, Momens Group</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-40">
                        <div class="testimonial-item">
                            <p>Kafilah is one of the most exclusive Book Store in the world, where you can find all product for your baby that your want to buy for your baby. I recomanded this shop all of you</p>
                            <div class="testimonial-author">
                                <img src="{{base_url}}/assets/images/testimonial/testimonial-2.png" alt="">
                                <div class="content">
                                    <h4>Nusaha Williams</h4>
                                    <p>CEO, Momens Group</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> -->

            <div class="col-xl-12 col-lg-12 col-12">
                <div class="row">
                    <div class="section-title text-left col mb-30">
                        <h1>DAFTAR ARTIKEL</h1>
                        <p>Artikel terbaru dari Kami</p>
                    </div>
                </div>
              </div>

              <!-- Artikel sisi 1 -->
              <div class="col-xl-12 col-lg-12 col-12">
                <div class="row">
                  {% for key, row in listArtikel %}
                    <div class="col-md-6 col-sm-12 mb-40">
                        <div class="blog-item">
                            <div class="image-wrap">
                                <h4 class="date">{{ row.tanggal_publish | date("F") }} <span>{{ row.tanggal_publish | date("d") }}</span></h4>
                                <a class="image" href="{{row.url}}">
                                  <img src="{{row.firstImg}}" alt="{{row.judul}}"></a>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="{{row.url}}">{{row.judul}}</a></h4>
                                <div class="desc">
                                    <p>{{row.deskripsi}}</p>
                                </div>
                                <ul class="meta">
                                    <li><a href="#">
                                      <img src="{{base_url}}/assets/images/blog/blog-author-default.png" alt="Blog Author">
                                      {{row.created_by}}</a>
                                    </li>
                                    <!-- <li><a href="#">25 Likes</a></li> -->
                                    <li><a href="#">{{row.views}} Kali Dibaca</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <!-- Artikel sisi 1 end -->

            <!-- Artikel sisi 2 -->
            <!-- <div class="col-xl-6 col-lg-7 col-12">
              <div class="row">
                {% for key, row in listArtikel | slice(2, 2) %}
                  <div class="col-12 mb-40">
                      <div class="blog-item">
                          <div class="image-wrap">
                              <h4 class="date">{{ row.tanggal_publish | date("F") }} <span>{{ row.tanggal_publish | date("d") }}</span></h4>
                              <a class="image" href="{{row.url}}">
                                <img src="{{row.firstImg}}" alt="{{row.judul}}"></a>
                          </div>
                          <div class="content">
                              <h4 class="title"><a href="{{row.url}}">{{row.judul}}</a></h4>
                              <div class="desc">
                                  <p>{{row.deskripsi}}</p>
                              </div>
                              <ul class="meta">
                                  <li><a href="#">
                                    <img src="{{base_url}}/assets/images/blog/blog-author-default.png" alt="Blog Author">
                                    {{row.created_by}}</a>
                                  </li>

                                  <li><a href="#">{{row.views}} Kali Dibaca</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div> -->
            <!-- Artikel sisi 2 end -->

        </div>
    </div>
</div><!-- Blog Section End -->
