<!-- Brand Section Start -->
<div class="brand-section section mb-80 mb-lg-60 mb-md-60 mb-sm-60 mb-xs-40">
    <div class="container-fluid">
        <div class="row">
            <div class="brand-slider">

                <div class="brand-item col">
                    <img src="{{base_url}}/assets/images/brands/brand-vecteezy-1.png" alt="">
                </div>

                <div class="brand-item col">
                    <img src="{{base_url}}/assets/images/brands/brand-vecteezy-2.png" alt="">
                </div>

                <div class="brand-item col">
                    <img src="{{base_url}}/assets/images/brands/brand-vecteezy-3.png" alt="">
                </div>

                <div class="brand-item col">
                    <img src="{{base_url}}/assets/images/brands/brand-vecteezy-4.png" alt="">
                </div>

                <div class="brand-item col">
                    <img src="{{base_url}}/assets/images/brands/brand-vecteezy-5.png" alt="">
                </div>

                <div class="brand-item col">
                    <img src="{{base_url}}/assets/images/brands/brand-vecteezy-6.png" alt="">
                </div>

            </div>
        </div>
    </div>
</div><!-- Brand Section End -->
