<!-- Feature Section Start -->
<div class="feature-section section bg-theme-two pt-65 pt-lg-55 pt-md-45 pt-sm-45 pt-xs-25 pb-65 pb-lg-55 pb-md-45 pb-sm-45 pb-xs-25 fix" style="background-image: url({{base_url}}/assets/images/pattern/pattern-dot.png);">
    <div class="container">
        <div class="row">
          <div class="col-md-12 col-12 mt-15 mb-15 text-center">
            <h1>
              <i>
                "Siapa yang menempuh jalan untuk mencari ilmu, maka Allah akan mudahkan baginya jalan menuju Surga"
                <br>
                (HR. Abu Daud, 3641)
              </i>
            </h1>
          </div>


            <!-- <div class="col-md-4 col-12 mt-15 mb-15">
                <div class="feature-item text-center">

                    <div class="icon"><img src="{{base_url}}/assets/images/feature/feature-1.png" alt=""></div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>Start from $100</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 mt-15 mb-15">
                <div class="feature-item text-center">

                    <div class="icon"><img src="{{base_url}}/assets/images/feature/feature-2.png" alt=""></div>
                    <div class="content">
                        <h3>Money Back Guarantee</h3>
                        <p>Back within 25 days</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 mt-15 mb-15">
                <div class="feature-item text-center">

                    <div class="icon"><img src="{{base_url}}/assets/images/feature/feature-3.png" alt=""></div>
                    <div class="content">
                        <h3>Secure Payment</h3>
                        <p>Payment Security</p>
                    </div>

                </div>
            </div> -->

        </div>
    </div>
</div><!-- Feature Section End -->
