<!-- Footer Top Section Start -->
<div class="footer-top-section section bg-theme-two-light pt-80 pt-lg-60 pt-md-60 pt-sm-60 pt-xs-40 pb-40 pb-lg-20 pb-md-20 pb-sm-20 pb-xs-0">
    <div class="container">
        <div class="row">

          <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
            <h4 class="title">FANS PAGE KAMI</h4>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKafilahsinergiutama&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=811641299201180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          </div>

            <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                <h4 class="title">HUBUNGI KAMI</h4>
                <p>{{ session.setting.alamat }}</p>
                <p>
                  <a href="tel:{{ session.setting.no_telp }}">
                    {{ session.setting.no_telp }}
                  </a>
                <p>
                  <a href="mailto:{{ session.setting.email }}">
                    {{ session.setting.email }}
                  </a>
            </div>

            <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                <h4 class="title">PETA LOKASI</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.194330384732!2d106.91636541437053!3d-6.238098362822047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698d952398e447%3A0x51dccc03a5bbc52!2sMaghfirah+Pustaka+%7C+Penerbit+Buku+Islam+dan+Al-Quran!5e0!3m2!1sen!2sid!4v1566463873476!5m2!1sen!2sid" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div><!-- Footer Top Section End -->

<!-- Footer Bottom Section Start -->
<div class="footer-bottom-section section bg-kafilah pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="footer-copyright">Copyright &copy; 2019 Kafilah Book Store</p>
            </div>
        </div>
    </div>
</div><!-- Footer Bottom Section End -->
