<div class="alert-kafilah"></div>
<!-- Header Section Start -->
<div class="stickyNavbar header-section section">

    <!-- Header Top Start -->
    <div class="header-top header-top-one bg-kafilah">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="col mt-10 mb-10 d-none d-md-flex">
                    <!-- Header Top Left Start -->
                    <div class="header-top-left">
                        <p>Selamat Datang di Web Kafilah</p>
                        <p>Hotline: <a href="tel:{{session.setting.no_telp}}">{{session.setting.no_telp}}</a></p>
                    </div><!-- Header Top Left End -->
                </div>

                <div class="col mt-10 mb-10">
                    <!-- Header Shop Links Start -->
                    <div class="header-top-right">

                        {% if(session.customer.id is defined) %}
                        <p>
                          <a href>{{session.customer.nama}}</a>
                        </p>
                        <p>
                          <a href="{{site_url}}/logout">Logout</a>
                        </p>
                        {% else %}
                        <!-- <p><a href="#">My Account</a></p> -->
                        <p>
                          <a href="{{site_url}}/login-register">Register</a>
                          <a href="{{site_url}}/login-register">Login</a>
                        </p>
                        {% endif %}
                    </div><!-- Header Shop Links End -->
                </div>

            </div>
        </div>
    </div><!-- Header Top End -->

    <!-- Header Bottom Start -->
    <div class="header-bottom header-bottom-one header-sticky@">
        <div class="container-fluid">
            <div class="row menu-center align-items-center justify-content-between">

                <div class="col mt-15 mb-15">
                    <!-- Logo Start -->
                    <div class="header-logo">
                        <a href="{{site_url}}">
                            <img src="{{base_url}}/assets/images/kafila-logo-150x40.png" alt="Kafilah">
                        </a>
                    </div><!-- Logo End -->
                </div>

                <div class="col order-2 order-lg-3">
                    <!-- Header Advance Search Start -->
                    <div class="header-shop-links">
                      {% if( session.setting.is_maintenance == 0 ) %}
                        <div class="header-mini-cart" title="Pesanan Pre Order">
                            <a href="{{ site_url }}/cart?tipe=po">
                              <i class="fa fa-shopping-cart text-primary"></i>
                              <span>{{ session.jumlah_pesan.po }}</span>
                            </a>
                        </div>

                        <div class="header-mini-cart" title="Pesanan Reguler">
                            <a href="{{ site_url }}/cart?tipe=nonpo">
                              &nbsp; | &nbsp;
                              <i class="fa fa-shopping-cart text-warning"></i>
                              <span>{{ session.jumlah_pesan['non-po'] }}</span>
                            </a>
                        </div>
                      {% else %}
                        <div class="header-mini-cart" title="Sistem sedang dalam Maintenance. Mohon mencoba lagi nanti.">
                            <i class="fa fa-shopping-cart text-secondary"></i>
                            <span>{{ session.jumlah_pesan.po }}</span>
                        </div>

                        <div class="header-mini-cart" title="Sistem sedang dalam Maintenance. Mohon mencoba lagi nanti.">
                            &nbsp; | &nbsp;
                            <i class="fa fa-shopping-cart text-secondary"></i>
                            <span>{{ session.jumlah_pesan['non-po'] }}</span>
                        </div>
                      {% endif %}
                    </div>
                     <!-- Header Advance Search End -->
                </div>

                <div class="col order-3 order-lg-2" style="margin-left:-50px">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="{{ (uri == 'home') ? 'active' : '' }}">
                                  <a href="{{site_url}}/">Beranda</a>
                                </li>
                                <li class="{{ (uri == 'about') ? 'active' : '' }}">
                                  <a href="{{site_url}}/tentang-kami">Tentang</a>
                                </li>
                                <li class="{{ (uri == 'produk') ? 'active' : '' }}">
                                  <a href="{{site_url}}/produk">Produk</a>
                                </li>
                                <li class="{{ (uri == 'artikel') ? 'active' : '' }}">
                                  <a href="{{site_url}}/artikel">Artikel</a>
                                </li>
                                <li class="{{ (uri == 'kontak') ? 'active' : '' }}">
                                  <a href="{{site_url}}/kontak">Kontak</a>
                                </li>
                                {% if session.customer.id > 0 %}
                                <li class="{{ (uri == 'cart') or (uri == 'checkout') ? 'active' : '' }}">
                                  <a href="{{ site_url }}/checkout">Pesanan</a>
                                  <ul class="sub-menu">
                                    {% if( session.setting.is_maintenance == 0 ) %}
                                    <li><a href="{{ site_url }}/cart?tipe=po">Keranjang Belanja (PO)</a></li>
                                    <li><a href="{{ site_url }}/cart?tipe=nonpo">Keranjang Belanja (Non PO)</a></li>
                                    {% endif %}

                                    <li><a href="{{ site_url }}/histori-pesanan">Histori Pesanan</a></li>
                                    <li><a href="{{ site_url }}/komplain">Komplain</a></li>
                                    <!-- <li><a href="{{ site_url }}/checkout">Halaman Checkout</a></li> -->
                                  </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Mobile Menu -->
                <div class="mobile-menu order-12 d-block d-lg-none col"></div>

            </div>
        </div>
    </div><!-- Header BOttom End -->

</div><!-- Header Section End -->
