<!-- Hero Section Start -->
<div class="hero-section section">

    <!-- Hero Slider Start -->
    <div class="hero-slider hero-slider-one fix" style="width:100%">
        <!-- Hero Item Start -->
        <!-- <div class="hero-item" style="background-image: url({{base_url}}/assets/images/hero/slider-1.jpeg);">
            <div class="hero-content" style="height:320px;visibility:hidden"></div>
        </div> -->
        {% for slider in listSlider %}
        <div class="hero-item" style="background-image: url({{site_url}}/app/img/slider/{{slider.foto}});">
          <div class="hero-content" style="height:320px;visibility:hidden"></div>
        </div>
        {% endfor %}

        <!-- Hero Item End -->

        <!-- Hero Item Start -->
        <!-- <div class="hero-item" style="background-image: url({{base_url}}/assets/images/hero/hero-6.png)">
            <div class="hero-content">
              <h1>Segera Dapatkan <br> Buku-buku bermanfaat </h1>
              <a href="./produk">BELANJA SEKARANG</a>
            </div>
        </div> -->
        <!-- Hero Item End -->

    </div><!-- Hero Slider End -->

</div><!-- Hero Section End -->
