<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kafilah - Web</title>
    <!-- For Google -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ session.setting.seo_deskripsi }}" />
    <meta name="keywords" content="{{ session.setting.seo_keyword }}" />
    <meta name="title" content="{{ session.setting.seo_title }}" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="{{ session.setting.seo_author }}" />
    <meta name="publisher" content="{{ session.setting.seo_publisher }}" />
    <meta name="copyright" content="{{ session.setting.seo_copyright }}" />
    <meta name="application-name" content="{{ session.setting.seo_app_name }}" />

    <!-- For Facebook -->
    <meta property="og:title" content="{{ session.setting.seo_title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ session.setting.seo_image }}" />
    <meta property="og:url" content="{{ site_url }}/home" />
    <meta property="og:description" content="{{ session.setting.seo_description }}" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{base_url}}/assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{{base_url}}/assets/css/icon-font.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{base_url}}/assets/css/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="{{base_url}}/assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{base_url}}/assets/css/style.css">

    <!-- Modernizer JS -->
    <script src="{{base_url}}/assets/js/vendor/modernizr-2.8.3.min.js"></script>


</head>

<body>

<div class="main-wrapper">

{% include '/public/template-parts/header.html' %}
{% block content %}{% endblock %}
{% include '/public/template-parts/footer.html'%}

</div>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="{{base_url}}/assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- Select2 CSS n JS-->
<link href="{{base_url}}/assets/css/select2.min.css" rel="stylesheet" />
<script src="{{base_url}}/assets/js/vendor/select2.min.js"></script>

<!-- Popper JS -->
<script src="{{base_url}}/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="{{base_url}}/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<!-- <script src="{{base_url}}/assets/js/ajax-mail.js"></script> -->

<!-- Main JS -->
<script type="text/javascript">
  var site_url = {% if site_url is defined %}'{{ site_url }}';{% else %}null;{% endif %}
  var is_maintenance = '{{session.setting.is_maintenance}}';
</script>
<script src="{{base_url}}/assets/js/main.js"></script>

</body>

</html>
