<div class="animated fadeIn">
    <div ng-controller="faqCtrl">
        <div class="card" ng-if="!is_edit">
            <div class="text-white faq-area">
              <br> <br>
              <h4>
                FREQUENTLY ASKED QUESTION
              </h4>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">
                              <div class="btn-group pull-right mt-5px" role="group" ng-if="user.akses.master_faq_crud">
                                <button class="btn btn-primary btn-sm" ng-click="create();">
                                  <i class="fa fa-plus"></i>
                                  &nbsp;Buat Baru
                                </button>
                              </div>
                            </th>
                          </tr>
                          <tr>
                            <th colspan="2">
                              <div class="form-group row mb-0">

                                <div class="col-sm-4 offset-md-8">
                                  <input ng-model="filter" class="form-control form-control-sm" placeholder="Cari Pertanyaan" ng-change="getIndex(filter)"/>
                                </div>
                              </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in displayed" ng-click="row.isCollapsed = !row.isCollapsed">
                            <td class="align-left" style="padding:10px">
                              <strong class="text-dark" style="font-size:14px">
                                {{ row.pertanyaan }}
                              </strong>
                              <br> <br>

                              <div uib-collapse="!row.isCollapsed">
                                <div class="ml-2" ng-bind-html="row.jawaban" style="font-size:12px">
                                </div>
                              </div>

                            </td>
                            <td style="vertical-align:top" ng-if="user.akses.master_faq_crud">
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm">Pertanyaan</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.pertanyaan" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label-sm">Jawaban</label>
                              <div class="col-sm-10">
                                <textarea ckeditor="" class="form-control form-control-sm" ng-model="form.jawaban" ng-disabled="is_view"/></textarea>
                              </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
