<div class="animated fadeIn">
    <div ng-controller="mprodukCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Produk</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kode</label> -->
                                        <div class="col-sm-2">
                                            <input st-search="m_produk.kode" class="form-control form-control-sm" placeholder="Kode Produk"/>
                                        </div>
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Nama</label> -->
                                        <div class="col-sm-2">
                                            <input st-search="m_produk.nama" class="form-control form-control-sm" placeholder="Nama Produk"/>
                                        </div>
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kategori</label> -->
                                        <div class="col-sm-2">
                                            <input st-search="m_kategori_produk.nama" class="form-control form-control-sm" placeholder="Kategori"/>
                                        </div>
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Jenis</label> -->
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="m_produk.jenis">
                                                <option value="">.: Semua Jenis :.</option>
                                                <option value="po">PO</option>
                                                <option value="non-po">Non PO</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="m_produk.is_deleted">
                                                <!-- <option value="">.: Semua Jenis :.</option> -->
                                                <option value="0">Tersedia</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode</th>
                                    <th class="align-center">Jenis Produk</th>
                                    <th class="align-left">Nama</th>
                                    <th class="align-left">Kategori</th>
                                    <th class="align-left">Stok</th>
                                    <th class="align-left">Harga Jual</th>
                                    <th class="align-left">Best Seller</th>
                                    <th class="align-right"></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-center">
                                    <span class="badge badge-success" ng-if="row.jenis == 'po'">PO</span>
                                    <span class="badge badge-primary" ng-if="row.jenis == 'non-po'">Non PO</span>
                                </td>
                                <td class="align-left">{{ row.nama }}</td>
                                <td class="align-left">{{ row.kategori }}</td>
                                <td class="align-left">{{ row.stok }} {{ row.satuan | uppercase }}</td>
                                <td class="align-left">{{ row.harga_jual |currency:"Rp." }}</td>
                                <td>
                                  <button type="button" class="btn {{ row.is_best_seller == 0 ? 'btn-default' : 'btn-success' }} fa fa-gift" ng-click="setBestSeller(row)" title="Set sebagai Produk Best Seller">
                                  </button> <strong class="{{ row.is_best_seller == 0 ? 'text-secondary' : 'text-success' }}">Best Seller</strong>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form class="tab-form-demo" enctype="multipart/form-data" name="outerForm">
                    <uib-tabset active="activeForm">
                        <uib-tab heading="Data Produk" index="0">
                            <div ng-include="'tpl/m_produk/produk-data.html'"></div>
                        </uib-tab>
                        <uib-tab heading="Gambar Produk" index="1" ng-if="!is_create">
                            <div ng-include="'tpl/m_produk/produk-foto.html'"></div>
                        </uib-tab>
                        <!-- <uib-tab heading="Big Order" index="2">
                            <div ng-include="'tpl/m_produk/produk-bulk-order.html'"></div>
                        </uib-tab> -->
                    </uib-tabset>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save('1')">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
