<div class="row">
    <div class="col-md-12">
        <fieldset class="fieldset">
            <div class="col-md-12">
                <hr>
                <div class="alert alert-success">
                    <h5>Perhatian</h5>

                    Ukuran gambar yang direkomendasikan adalah <b>540px</b> X <b>640px</b>.
                </div>
            </div>

            <!-- Upload Gambar -->
            <div class="col-md-12">
                <div class="hbox hbox-auto-xs hbox-auto-sm" nv-file-drop="" uploader="uploader"
                     filters="queueLimit, customFilter">
                    <div class="row" ng-hide="is_view">
                        <div class="col-md-4" ng-hide="is_view">
                            <div class="wrapper-md dker b-b">
                                <strong><p class="m-n font-thin">SELECT FILES</p></strong>
                            </div>
                            <div class="wrapper-md">
                                <div ng-show="uploader.isHTML5" class="m-b-md">
                                    <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-over=""
                                         over-class="b-info" uploader="uploader">
                                        Drop File Foto
                                    </div>
                                </div>

                                <br><br>
                                <strong><p>Pilih File Foto</p></strong>
                                <input type="file" nv-file-select="" accept="image/*" class="upload" uploader="uploader"
                                       multiple/>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="wrapper-md">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th width="50%">Name</th>
                                        <th ng-show="uploader.isHTML5">Size</th>
                                        <th ng-show="uploader.isHTML5">Progress</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.file.name}}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024 | number:2
                                            }} MB
                                        </td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress progress-sm m-b-none m-t-xs">
                                                <div class="progress-bar bg-info" role="progressbar" ng-style="{
                                  'width'
                                  : item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span ng-show="item.isSuccess" class="text-success"><i
                                                    class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel" class="text-warning"><i
                                                    class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError" class="text-danger"><i
                                                    class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-default btn-sm"
                                                    ng-click="item.upload()"
                                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                Upload
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm"
                                                    ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                Cancel
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm"
                                                    ng-click="item.remove()">
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div class="mb-2">
                                        <p>Proses Upload:</p>
                                        <div class="progress bg-light dker" style="">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                                 ng-style="{'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-addon btn-sm btn-success"
                                                ng-click="uploadFile(form.id)"
                                                ng-disabled="!uploader.getNotUploadedItems().length">
                                            <i class="fa fa-arrow-circle-o-up"></i> Upload all
                                        </button>
                                        <button type="button" class="btn btn-addon btn-sm btn-warning"
                                                ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                            <i class="fa fa-ban"></i> Cancel all
                                        </button>
                                        <button type="button" class="btn btn-addon btn-sm btn-danger"
                                                ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                            <i class="fa fa-trash-o"></i> Remove all
                                        </button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Upload Gambar -->
                </div>
        </fieldset>
    </div>

    <div class="col-md-12">
        <hr>
        <h5 class="text-center">DAFTAR FOTO</h5>
        <div class="row">
            <div class="col-md-4 text-center" ng-repeat="val in listFoto">
                <button type="button" class="btn btn-sm btn-warning" ng-if="val.is_primary == 1"
                        style="position:absolute;margin: 10px 0 0 10px;color:white">
                    <i class="fa fa-check-square-o"></i> Primary
                </button>
                <img src="./img/produk/{{form.id}}/{{val.foto}}" class="img-thumbnail" style="max-height:250px;">
                <hr>
                <button type="button" class="btn btn-sm btn-info" ng-click="setPrimary(val)" ng-disabled="is_view">
                    <i class="fa fa-check"></i> Set as Primary
                </button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="remFoto(val)" ng-disabled="is_view">
                    <i class="fa fa-trash-o"></i> Hapus
                </button>

            </div>
        </div>

    </div>
</div>
