<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Kode</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Nama</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="100" ng-disabled="is_view" ng-change="slugify(form.nama)"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Kategori</label>
            <div class="col-sm-9">
                <ui-select ng-model="form.m_kategori_id" class="w100" theme="bootstrap" ng-disabled="is_view">
                    <ui-select-match placeholder="Pilih Kategori Produk">{{ $select.selected.nama }}</ui-select-match>
                    <ui-select-choices position="down" repeat="kategori in listKategori | filter :$select.search">{{ kategori.nama }}</ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Berat</label>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm text-right" ng-model="form.berat" maxlength="255" ng-disabled="is_view" ui-number-mask="0"/>
                    <div class="input-group-text">gram</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Satuan</label>
            <div class="col-sm-3">
                <input type="text" class="form-control form-control-sm" ng-model="form.satuan" maxlength="45" ng-disabled="is_view"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Jenis</label>
            <div class="col-sm-6">
                <select class="form-control form-control-sm" ng-model="form.jenis" ng-disabled="is_view">
                    <option value="">.: Pilih Jenis :.</option>
                    <option value="po">PO</option>
                    <option value="non-po">Non PO</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row" ng-if="form.jenis =='non-po'">
            <label class="col-sm-3 col-form-label-sm required">Stok</label>
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm angka" ng-model="form.stok" ui-number-mask="0" maxlength="11" ng-disabled="is_view"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Harga jual</label>
            <div class="col-sm-7">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">Rp.</div>
                    <input type="text" class="form-control form-control-sm angka text-right" ng-model="form.harga_jual" ui-number-mask="0" maxlength="11" ng-disabled="is_view"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm required">Poin</label>
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm text-right" ng-model="form.poin" ui-number-mask="0" maxlength="11" ng-disabled="is_view"/>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-10">
        <span class="font-weight-bold">Raja Ongkir</span>
        <hr/>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label-sm required">Kota Asal</label>
            <div class="col-sm-8">
                <ui-select ng-model="form.kota_asal" class="w100" theme="bootstrap" ng-disabled="is_view" on-select="cariKecamatan(form.kota_asal)">
                    <ui-select-match placeholder="Pilih Kota Asal [Ketikkan Nama Kota]">
                        {{ $select.selected.kota }}
                    </ui-select-match>
                    <ui-select-choices position="down" repeat="kota in listKotaAsal | filter:$select.search">
                        {{ kota.kota }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label-sm required">Kecamatan Asal</label>
          <div class="col-sm-8">
            <ui-select ng-model="form.kecamatan_asal" class="w100" theme="bootstrap" ng-disabled="is_view">
              <ui-select-match placeholder="Pilih Kecamatan Asal [Ketikkan Nama Kecamatan]">
                {{ $select.selected.kecamatan }}
              </ui-select-match>
              <ui-select-choices position="down" repeat="kota in listKecamatan | filter:$select.search">
                {{ kota.kecamatan }}
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <span class="font-weight-bold">Central Cargo</span>
        <hr/>
      <div class="form-group row">
          <label class="col-sm-4 col-form-label-sm required">Daerah Asal (Sentral Cargo)</label>
          <div class="col-sm-8">
              <select ng-model="form.kota_asal_sc" class="form-control form-control-sm w100" theme="bootstrap" ng-disabled="is_view">
                  <option value="">- Pilih Kota Asal -</option>
                  <option ng-repeat="kota in listKotaSC" value="{{kota.OriginDestCode}}">{{ kota.OriginName }}</option>
              </select>
          </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label-sm required">URL Alias</label>
            <div class="col-sm-10" style="margin-left:-30px">
                <input type="text" class="form-control form-control-sm" ng-model="form.url" ng-disabled="is_view || form.id != undefined  "/>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label-sm">Keterangan</label>
            <div class="col-sm-12">
                <!-- <textarea ckeditor="" class="form-control form-control-sm" ng-model="form.keterangan" maxlength="255" ng-disabled="is_view"/></textarea> -->
                <div text-angular ng-model="form.keterangan"></div>
            </div>
        </div>
    </div>
</div>
