<div class="animated fadeIn">
  <div ng-controller="lmootaCtrl">
    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Laporan Mutasi Rekening</strong>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h6>Filter</h6>
            <hr>
            <div class="row ml-2 mr-2">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Periode</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm" date-range-picker="" ng-model="filter.periode" options="dateRangeOptions" placeholder="Pilih Rentang Tanggal" type="text" />
                  </div>
                </div>

              </div>
              <div class="col-md-6">

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Jenis Mutasi</label>
                  <div class="col-sm-8">
                    <select class="form-control form-control-sm" ng-model="filter.jenis_mutasi">
                      <option value="">.: Pilih Jenis Mutasi :.</option>
                      <option value="CR">Credit</option>
                      <option value="DB">Debit</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12 text-center mb-3">
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-default btn-sm" ng-click="reset_filter();">
                  <i class="fa fa-refresh"></i>
                  &nbsp;Reset Filter
                </button>
                <button class="btn btn-primary btn-sm" ng-click="view(filter);">
                  <i class="fa fa-search"></i>
                  &nbsp;Tampilkan
                </button>
                <button class="btn btn-warning btn-sm text-white" ng-click="print(filter);">
                  <i class="fa fa-print"></i>
                  &nbsp;Print
                </button>
                <button class="btn btn-success btn-sm" ng-click="export(filter);">
                  <i class="fa fa-download"></i>
                  &nbsp;Export Excel
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="border border-info text-center" ng-if="is_view" id="print-area">
          <div class="col-md-12 table-responsive">
            <br/>
            <h4>Laporan Mutasi Rekening</h4>
            <span>Periode : {{periode_start | date:"dd MMM yyyy" || '*'}} - {{periode_end | date:"dd MMM yyyy" || '*'}} </span> <br/>
            <span>Jenis Mutasi : {{filter.jenis_mutasi || '-'}}</span> <br/><br/>

            <table class="table table-hover table-bordered" border="1px">
              <thead>
                <tr>
                  <th class="text-center">No.</th>
                  <th class="align-left">Bank</th>
                  <th class="align-left">No. Rekening</th>
                  <th class="align-left">Atas Nama</th>
                  <th class="align-left">Tanggal</th>
                  <th class="align-left">Jenis</th>
                  <th class="align-left">Nominal</th>
                  <th class="align-left" width="40%">Deskripsi</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in laporan">
                  <td class="tex-center">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.bank_type }}</td>
                  <td class="text-right">{{ row.account_number }}</td>
                  <td class="align-left">{{ row.atas_nama }}</td>
                  <td class="align-left">{{ row.date | date:"dd MMM yyyy" }}</td>
                  <td class="align-left">
                    {{ row.type=='CR' ? 'Credit' : '' }}
                    {{ row.type=='DB' ? 'Debit' : '' }}
                  </td>
                  <td class="text-right">{{ row.amount | currency:"Rp." }}</td>
                  <td class="text-left">{{ row.description }}</td>
                </tr>
              </tbody>
              <!-- <tr>
                <td class="text-right" colspan="9"><strong>Grand Total</strong></td>
                <td class="text-right">{{grand_total | currency:"Rp."}}</td>
              </tr> -->
            </table>
          </div>
        </div>
        <!-- End of print area -->
      </div>
    </div>

  </div>
</div>
