<div class="animated fadeIn">
  <div ng-controller="lpesananCtrl">
    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Laporan Surat Pesanan</strong>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h6>Filter</h6>
            <hr>
            <div class="row ml-2 mr-2">
              <div class="col-md-6">
                <div class="form-group row" ng-if="user.tipe_member=='Admin'">
                  <label class="col-sm-3 col-form-label-sm mb-0">Member</label>
                  <div class="col-sm-8">
                    <ui-select ng-model="filter.member" class="w100" theme="bootstrap">
                      <ui-select-match placeholder="Filter Member [Ketikkan Nama Member]">{{ $select.selected.nama }}</ui-select-match>
                      <ui-select-choices position="down" refresh="getMember($select.search, 'Member')" repeat="member in listMember">{{ member.nama }}</ui-select-choices>
                    </ui-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Periode</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm" date-range-picker="" ng-model="filter.periode" options="dateRangeOptions" placeholder="Pilih Rentang Tanggal" type="text" />
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group row" ng-if="user.tipe_member=='Member'">
                  <label class="col-sm-3 col-form-label-sm mb-0">Reseller</label>
                  <div class="col-sm-8">
                    <ui-select ng-model="filter.reseller" class="w100" theme="bootstrap">
                      <ui-select-match placeholder="Filter Reseller [Ketikkan Nama Reseller]">{{ $select.selected.nama }}</ui-select-match>
                      <ui-select-choices position="down" refresh="getMember($select.search, 'Reseller')" repeat="reseller in listReseller">{{ reseller.nama }}</ui-select-choices>
                    </ui-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Produk</label>
                  <div class="col-sm-8">
                    <ui-select ng-model="filter.produk" class="w100" theme="bootstrap">

                      <ui-select-match placeholder="Filter Produk">
                        {{ $select.selected.nama }}
                      </ui-select-match>

                      <ui-select-choices position="down" refresh="getProduk($select.search)" repeat="produk in listProduk">
                        {{ produk.nama }}
                      </ui-select-choices>

                    </ui-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Status</label>
                  <div class="col-sm-8">
                    <select class="form-control form-control-sm" ng-model="filter.status">
                      <option value="">.: Pilih Status :.</option>
                      <option value="Menunggu Pembayaran">Menunggu Pembayaran</option>
                      <option value="Pembayaran DP">Pembayaran DP</option>
                      <option value="Lunas">Lunas</option>
                      <option value="Proses Pengiriman">Proses Pengiriman</option>
                      <option value="Selesai">Selesai</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12 text-center mb-3">
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-default btn-sm" ng-click="reset_filter();">
                  <i class="fa fa-refresh"></i>
                  &nbsp;Reset Filter
                </button>
                <button class="btn btn-primary btn-sm" ng-click="view(filter);">
                  <i class="fa fa-search"></i>
                  &nbsp;Tampilkan
                </button>
                <button class="btn btn-warning btn-sm text-white" ng-click="print(filter);">
                  <i class="fa fa-print"></i>
                  &nbsp;Print
                </button>
                <button class="btn btn-success btn-sm" ng-click="export(filter);">
                  <i class="fa fa-download"></i>
                  &nbsp;Export Excel
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="border border-info text-center" ng-if="is_view" id="print-area">
          <div class="col-md-12 table-responsive">
            <br/>
            <h4>Laporan Surat Pesanan</h4>
            <span>Periode : {{periode_start | date:"dd MMM yyyy" || '*'}} - {{periode_end | date:"dd MMM yyyy" || '*'}} </span> <br/>
            <span ng-if="user.tipe_member=='Admin'">Member : {{filter.member.nama || '-'}}</span> <br/>
            <span ng-if="user.tipe_member=='Member'">Reseller : {{filter.reseller.nama || '-'}} <br/></span>
            <span>Status : {{filter.status || '-'}}</span> <br/><br/>

            <table class="table table-hover table-bordered" border="1px">
              <thead>
                <tr>
                <tr>
                  <th class="align-left">No.</th>
                  <th class="align-left">No. Pesanan / Status</th>
                  <!-- <th class="align-left">Tanggal</th> -->
                  <th class="align-left">Member</th>
                  <th class="align-left">Reseller</th>
                  <th class="align-left">Penerima</th>
                  <!-- <th class="align-left" width="120px"> </th> -->
                  <th class="align-left">
                    Produk
                  </th>
                  <th class="align-left">Total</th>
                  <th class="align-left">Diskon</th>
                  <th class="align-left">Grand Total</th>
                </tr>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in laporan">
                  <td class="tex-center">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.kode }} <br> ({{ row.status }})
                  </td>
                  <!-- <td class="align-left">{{ row.tanggal | date:"dd-MM-yyyy" }}</td> -->
                  <td class="align-left">{{ row.member_nama }} <br> ({{ row.member_no_hp }})</td>
                  <td class="align-left">{{ row.reseller_nama }}</td>
                  <td class="align-left">
                    {{ row.nama_penerima }} ({{ row.telepon_penerima }}) <br>
                    {{ row.jalan_penerima }}, RT {{row.rt_penerima}} / RW {{row.rw_penerima}}, Kode POS : {{kode_pos_penerima}}
                  </td>
                  <!-- <td class="align-left">

                  </td> -->
                  <td class="align-left">
                    <span ng-repeat="produk in row.detailProduk">
                      - <strong>({{produk.jumlah}})</strong> {{produk.nama}} <br>
                    </span>
                  </td>
                  <td class="text-right">{{ row.total | currency:"Rp."}}</td>
                  <td class="text-right">{{ row.total_diskon | currency:"Rp."}}</td>
                  <td class="text-right">{{ row.grand_total | currency:"Rp."}}</td>
                </tr>
              </tbody>
              <tr>
                <td class="text-right" colspan="8"><strong>Grand Total</strong></td>
                <td class="text-right">{{grand_total | currency:"Rp."}}</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- End of print area -->
      </div>
    </div>

  </div>
</div>
