<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;max-width:520px" width="520">
    <tbody>
        <tr>
            <td bgcolor="#eeeeee" style="background:#eeeeee" width="20"></td>
            <td width="480">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td bgcolor="#eeeeee" height="20" style="background:#eeeeee"></td>
                        </tr>
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td height="49"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" style=\'color:#4285f4;font-family:"Roboto",OpenSans,"Open Sans",Arial,sans-serif;font-size:32px;font-weight:300;line-height:46px;margin:0;padding:0 25px 0 25px;text-align:center\'>
                                                <img src="{{imageUrl}}/logo.png" style="width: 200px"/>
                                                <br/>
                                                <br/>
                                                Selamat {{ model.nama }},
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" style=\'color:#757575;font-family:"Roboto",OpenSans,"Open Sans",Arial,sans-serif;font-size:17px;font-weight:300;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center\'>Anda telah terdaftar sebagai Member. <br/> Silahkan login dengan password Anda berikut: <br/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellpadding="15" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style=\'color:#757575;font-family:"Roboto",OpenSans,"Open Sans",Arial,sans-serif;font-size:17px;font-weight:300;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:left;\'>
                                                <p>
                                                    <b>Username :</b> {{ model.username }}
                                                </p>
                                                <p>
                                                    <b>Password :</b> {{ model.password }}
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#eeeeee" height="18" style="background:#eeeeee"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td bgcolor="#eeeeee" style="background:#eeeeee" width="20"></td>
        </tr>
    </tbody>
</table>
