<div include-replace="" ng-include="'tpl/common/navbar.html'"></div>
<div class="app-body">
    <div include-replace="" ng-include="'tpl/common/sidebar-nav.html?t=0.1'"></div>
    <main class="main">
        <div class="container-fluid">
            <ui-view></ui-view>
        </div>
    </main>
    <div include-replace="" ng-include="'tpl/common/aside.html'"></div>
</div>
<div include-replace="" ng-include="'tpl/common/footer.html'"></div>
