<div class="animated fadeIn">
    <div ng-controller="komplainCtrl">
        <div st-pipe="callServer" st-table="displayed" ng-if="!is_edit && !is_view_diskusi">
          <div class="card">
            <div class="card-header">
              <strong class="d-md-down-none">Daftar Komplain Pelanggan</strong>
              <div class="btn-group pull-right mt-5px" role="group">
                <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                  <i class="fa fa-search"></i>
                  &nbsp;Pencarian
                </button>
                <button class="btn btn-primary btn-sm" ng-click="create();">
                  <i class="fa fa-plus"></i>
                  &nbsp;Buat Baru
                </button>
              </div>
            </div>
            <div class="card-body p-0px">
              <div class="pl-15px pr-15px">
                <div class="row mt-15px" ng-show="!isCollapsed">
                  <div class="col-md-12">
                    <div class="alert alert-secondary">
                      <form name="landaform" novalidate="">

                        <div class="form-group row">
                          <label class="col-sm-1 col-form-label-sm mb-0">Judul</label>
                          <div class="col-sm-4">
                            <input st-search="subjek" class="form-control form-control-sm" placeholder="Subjek Komplain"/>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-1 col-form-label-sm mb-0">Kategori</label>
                          <div class="col-sm-4">
                            <select st-search="kategori" class="form-control form-control-sm">
                              <option value="">Cari Berdasarkan Kategori</option>
                              <option value="Surat Pesanan">Surat Pesanan</option>
                              <option value="Pengiriman">Pengiriman</option>
                              <option value="Pelayanan">Pelayanan</option>
                              <option value="Lainnya">Lainnya</option>
                            </select>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- List -->
            <div class="card" ng-repeat="row in displayed">
              <div class="card-body" ng-dblclick="view_diskusi(row)">

                <!-- <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                  <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                </div> -->

                  <a href="" class="text-dark" ng-click="view_diskusi(row)">
                    <strong style="font-size:14px">{{ row.subjek }}</strong>
                  </a>
                  <span class="bg-success p-1 rounded" ng-if="row.is_closed == 0"> Open </span>
                  <span class="bg-secondary p-1 rounded text-white" ng-if="row.is_closed == 1"> Closed </span>
                  <br>
                  <br>
                <span class="text-muted fz-11">{{ (row.tanggal) | date:"dd-MM-yyyy"}}</span>
                <span class="text-muted">
                  &emsp;Oleh:
                </span>
                <strong class="text-primary" style="font-size:12px">{{ row.nama }}</strong> &nbsp;
                <strong class="text-muted fz-11">{{ row.level_nama }} {{ row.status_qpa }}</strong>
                &emsp;
                <span class="text-muted">
                  <i class="fa fa-tags"></i> {{row.kategori}}
                </span>
              </div>
            </div>
            <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            <!-- ENd List -->

          </div>
          <!-- End Card -->

        </div>

        <!-- View forum diskusi -->
        <div class="card" ng-if="is_view_diskusi">
            <div class="card-header">
              <button class="btn btn-secondary btn-sm float-right mt-1" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                &nbsp;Kembali ke Daftar Komplain
              </button>

                <strong class="text-primary" style="font-size:14px">{{ form.nama }}</strong> &nbsp;
                <span class="text-muted fz-11">{{ (form.tanggal) | date:"dd-MM-yyyy"}}</span> &nbsp;
                <span class="text-muted fz-11"> <i class="fa fa-tags"></i> {{ form.kategori }}</span>
                <br>
                <strong class="text-muted">{{ form.level_nama }} {{ form.status_qpa }}</strong>

            </div>
            <div class="card-body">
              <button class="btn btn-primary btn-sm float-right" ng-click="close(form)" style="margin-top:-5px" ng-hide="form.is_closed">
                <i class="fa fa-check-square-o"></i>
                &nbsp;Tutup Diskusi
              </button>

              <strong style="font-size:14px">{{ form.subjek }}</strong>
              <span class="bg-success p-1 rounded" ng-if="form.is_closed == 0"> Open </span>
              <span class="bg-secondary p-1 rounded text-white" ng-if="form.is_closed == 1"> Closed </span>
              <hr>

              <div class="col-md-12">
                <center ng-if="form.image != undefined">
                  <img  style='max-height:350px;object-fit:cover' src="{{form.image}}" alt="">
                </center>
                <br>
                <div ng-bind-html="form.isi">
                </div>
              </div>

            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="setReplyParams(form, form.id)" ng-hide="form.is_closed">
                        <i class="icon-bubbles"></i>
                        &nbsp;Balas
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal reply  -->
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Berikan Tanggapan Anda</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body" ng-if="is_reply">
                <textarea ckeditor="" class="form-control form-control-sm" ng-model="replyParams.reply" ng-init=""></textarea>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="reply(replyParams)">Simpan</button>
              </div>

            </div>
          </div>
        </div>
        <!-- end Modal reply  -->

        <div st-pipe="callServer2" st-table="listReply" ng-if="is_view_diskusi">
          <!-- <div class="card">
              <div class="card-header">
                  <strong>Balasan</strong>
              </div>
          </div> -->

          <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>

            <div class="card" ng-repeat="row in listReply">

                <div class="card-header">
                    <strong class="text-primary" style="font-size:14px">
                      {{ row.nama }}
                    </strong> &nbsp;
                    <span class="text-muted fz-11">{{ (row.tanggal) | date:"dd-MM-yyyy"}}</span>
                    <br>
                </div>

                <div class="card-body">
                  <div ng-if="row.original_member != undefined">
                    <cite class="text-muted">
                      Original posted by <i class="fa fa-caret-square-o-right"></i>
                      {{row.original_member}}
                    </cite>
                    <blockquote ng-bind-html="row.original_reply">
                    </blockquote>
                  </div>

                  <div class="col-md-12" ng-bind-html="row.isi">
                  </div>
                </div>

                <div class="card-footer">
                    <div class="pull-right">
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="setReplyParams(row, form.id)" ng-hide="form.is_closed">
                            <i class="icon-bubbles"></i>
                            &nbsp;Balas
                        </button>
                    </div>
                </div>

            </div>
            <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
        </div>

        <!-- end of View forum diskusi -->
    </div>
</div>
