<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Cetak Nota Penjualan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
            <style>
                /* table */
                table{
                    font-size:11px;
                    font-family:Verdana, Geneva, sans-serif;
                    text-align:left;
                    }
                th{
                    padding:5px;
                    color:black;
                    }
                table.tb{
                    font-family:Verdana, Geneva, sans-serif;
                    margin:0px;
                    padding:5px;
                    border-bottom:1px solid #CCC;
                    }
                 table{
                    border-collapse: collapse;
                    font-size:11px;
                    font-family:Verdana, Geneva, sans-serif;
                    background-color:#FFF;
                    text-align:left;
                  }
                  table td.isi{
                    padding:2px;
                  }
            </style>
    </head>
    <body onLoad="window.print()">
        <table  width="800px">
            <tr>
                <td>
                    <strong>Kafila Reseller</strong>
                    <!-- <br/>
                    Jl.Ir.H. Juanda Gg VI No. 38
                    <br/>
                    Mayak Tonatan Ponorogo - Jawa Timur
                    <br/>
                    Website : www. darulhudamayak.net
                    <br/>
                    <br/> -->
                </td>
                <td>
                    <h3 style="text-transform: uppercase; text-align:right; text-decoration: underline;">NOTA</h3>
                    <div style="text-transform: uppercase; text-align:center; "></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr/>
                </td>
            </tr>
        </table>
        <table  width="800px">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Nama Penerima</td>
                            <td>:</td>
                            <td>{{ penjualan.nama_penerima }}</td>
                        </tr>
                        <tr>
                            <td>No . Telp</td>
                            <td>:</td>
                            <td>{{ penjualan.telepon_penerima }}</td>
                        </tr>
                        <tr>
                            <td>No . Nota</td>
                            <td>:</td>
                            <td>{{ penjualan.kode }}</td>
                        </tr>
                        <tr>
                            <td>Tgl. Nota</td>
                            <td>:</td>
                            <td>{{ penjualan.tanggal | date('d-m-Y') }}</td>
                        </tr>
                    </table>
                </td>
                <td width="50%">
                    <table>
                      <tr>
                          <td>Ekspedisi</td>
                          <td>:</td>
                          <td>{{ penjualan.ekspedisi }}</td>
                      </tr>
                      <tr>
                          <td>No. Resi</td>
                          <td>:</td>
                          <td>{{ penjualan.no_resi }}</td>
                      </tr>
                      <tr>
                          <td rowspan="3">Alamat Penerima<br><br></td>
                          <td rowspan="3">: <br><br></td>
                          <td rowspan="3">{{ penjualan.jalan_penerima }}, {{ penjualan.w_desa.desa }}, {{ penjualan.w_kecamatan.kecamatan }}, {{ penjualan.w_kota.kota }}, {{ penjualan.w_provinsi.provinsi }}, Kode POS {{penjualan.kode_pos_penerima}}</td>
                      </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr/>
                </td>
            </tr>
        </table>
        <table width="800px" border="0" class="tb">
            <tr>
                <td><strong>Produk</strong></td>
                <td style="text-align: center;"><strong>Harga</strong></td>
                <td style="text-align: center;"><strong>Jumlah</strong></td>
                <td style="text-align: center;"><strong>Diskon</strong></td>
                <td style="text-align: center;"><strong>Berat</strong></td>
                <td style="text-align: center;"><strong>Sub Total</strong></td>
            </tr>
            {% set total_berat = 0 %}
            {% for key, val in penjualan_det %}
            <tr>
                <td>{{ val.produk_nama }}</td>
                <td style="text-align: right;">{{ val.harga | number_format }}</td>
                <td style="text-align: right;">{{ val.jumlah | number_format }}</td>
                <td style="text-align: right;">{{ val.diskon| number_format }}</td>
                <td style="text-align: right;">{{ val.produk_berat*val.jumlah }}</td>
                <td style="text-align: right;">{{ ((val.harga*val.jumlah) - val.diskon) | number_format }}</td>
            </tr>
              {% set total_berat = total_berat + (val.produk_berat*val.jumlah) %}
            {% endfor %}
            <tr>
              <td>Ongkir</td>
              <td style="text-align: right;">{{ penjualan.ongkir | number_format }}</td>
              <td style="text-align: right;">1</td>
              <td style="text-align: right;">0</td>
              <td style="text-align: right;">0</td>
              <td style="text-align: right;">{{ penjualan.ongkir | number_format }}</td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <strong>Kode Unik (3 Digit akhir Grand Total) : {{ penjualan.kode_unik }}</strong>
                </td>
                <td style="text-align:right" colspan="3">
                    <strong>Total :</strong>
                </td>
                <!-- <td style="text-align:right">
                    <strong>{{ penjualan.total_diskon|number_format }}</strong>
                </td> -->
                <td style="text-align:right">
                    <strong>{{ total_berat | number_format }}</strong>
                </td>
                <td style="text-align:right">
                    <strong>{{ penjualan.grand_total |number_format }}</strong>
                </td>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:left">
                    <strong>Terbilang : {{ terbilang }}</strong>
                </td>
            </tr>
        </table>
        <table  width="800px">
            <tr>
                <td>
                    <h3>PERHATIAN</h3>
                    :: Segera lakukan pembayaran ke salah satu rekening berikut ini:
                    <br/>
                    {% for key, row in listSettingBank %}
                      <strong> {{row.bank}} : {{row.no_rek}} a.n. ({{row.atas_nama}})</strong>
                      <br/>
                    {% endfor %}
                    sejumlah nominal yang tertera pada Nota.
                    <br/>
                    <br/>

                </td>
                <td style="text-align:left;vertical-align:top;width:30%">
                <h3>CATATAN</h3>
                  <p>{{penjualan.catatan}}</p>
                </td>
                <td style="text-transform: uppercase; text-align:center;">
                    <p>Petugas</p>
                    <br/>
                    <br/>
                    <strong>({{ petugas[0].nama }})</strong>
                </td>

            </tr>
        </table>
        <br/>
    </body>
</html>
