<div class="animated fadeIn">
    <div ng-controller="boCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Pengaturan Big Order</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">

                  <div class="row">
                      <div class="col-md-12">
                          <table class="table table-hover table-bordered">
                              <thead>
                                  <tr>
                                      <th class="text-center" rowspan="2" width="80px">
                                          Aksi
                                          <br/>
                                          &nbsp;
                                      </th>
                                      <th class="text-center" rowspan="2" width="160px">
                                          Big Order
                                          <br/>
                                          &nbsp;
                                      </th>
                                      <th class="text-center" rowspan="2" width="150px">
                                          Min Beli
                                          <br/>
                                          &nbsp;
                                      </th>
                                      <th class="text-center" rowspan="2" width="150px">
                                          Max Beli
                                          <br/>
                                          &nbsp;
                                      </th>
                                      <th class="text-center" colspan="3">Bonus</th>
                                      <th class="text-center" rowspan="2">
                                        Keterangan
                                        <br/>
                                        &nbsp;
                                      </th>
                                  </tr>
                                  <tr>
                                      <th class="text-center" width="160px">Jenis</th>
                                      <th class="text-center">Produk/Diskon</th>
                                      <th class="text-center" width="150px">Jumlah</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="row in listBulk">
                                      <td class="text-center">
                                          <button class="btn btn-danger btn-sm" ng-disabled="is_view" ng-click="remBulk(row)">
                                              <i class="fa fa-minus"></i>
                                          </button>
                                          <button class="btn btn-success btn-sm" ng-disabled="is_view" ng-click="addBulk()">
                                              <i class="fa fa-plus"></i>
                                          </button>
                                      </td>
                                      <td>
                                          <select class="form-control form-control-sm" ng-model="row.jenis_bulk" ng-disabled="is_view">
                                              <option value="">.:Jenis Big Order:.</option>
                                              <option value="Rupiah">Rupiah</option>
                                              <option value="Pcs">Pcs</option>
                                          </select>
                                      </td>
                                      <td>
                                          <div class="input-group input-group-sm">
                                              <div class="input-group-text" ng-if="row.jenis_bulk=='Rupiah'">Rp.</div>
                                              <input class="form-control form-control-sm text-right" type="text" ui-number-mask="0" ng-model="row.min_beli" placeholder="Min Beli" ng-disabled="is_view"/>
                                              <div class="input-group-text" ng-if="row.jenis_bulk=='Pcs'">Pcs</div>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="input-group input-group-sm">
                                              <div class="input-group-text" ng-if="row.jenis_bulk=='Rupiah'">Rp.</div>
                                              <input class="form-control form-control-sm text-right" type="text" ui-number-mask="0" ng-model="row.max_beli" placeholder="Max Beli" ng-disabled="is_view"/>
                                              <div class="input-group-text" ng-if="row.jenis_bulk=='Pcs'">Pcs</div>
                                          </div>
                                      </td>
                                      <td>
                                          <select class="form-control form-control-sm" ng-model="row.jenis_diskon" ng-disabled="is_view">
                                              <option value="gratis barang">Gratis Produk</option>
                                              <option value="diskon">Diskon</option>
                                          </select>
                                      </td>
                                      <td ng-if="row.jenis_diskon == 'gratis barang'">
                                          <ui-select ng-model="row.m_produk_gratis" on-select="hitungBonus(row)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                              <ui-select-match placeholder="Pilih Produk">{{ $select.selected.nama }}</ui-select-match>
                                              <ui-select-choices position="down" refresh="getProduk($select.search)" repeat="produk in listProdukGratis">{{ produk.nama }}</ui-select-choices>
                                          </ui-select>
                                      </td>
                                      <td ng-if="row.jenis_diskon == 'diskon'" class="align-center">
                                          <center>
                                              <div class="input-group input-group-sm" style="width:100px">
                                                  <input class="form-control form-control-sm text-right" type="text" ui-number-mask="0" maxlength="3" ng-model="row.diskon" placeholder="Diskon %" ng-disabled="is_view" ng-change="hitungDiskonBulk()"/>
                                                  <div class="input-group-text">%</div>
                                              </div>
                                          </center>
                                      </td>
                                      <td ng-if="row.jenis_diskon == 'gratis barang'">
                                          <div class="input-group input-group-sm">
                                              <input class="form-control form-control-sm text-right" type="text" ui-number-mask="0" ng-model="row.jumlah" placeholder="Jumlah" ng-disabled="is_view"/>
                                              <div class="input-group-text">{{ row.m_produk_gratis.satuan | uppercase }}</div>
                                          </div>
                                      </td>
                                      <td ng-if="row.jenis_diskon == 'diskon'">
                                          <!-- <div class="input-group input-group-sm">
                                              <div class="input-group-text">Rp.</div>
                                              <input class="form-control form-control-sm text-right" type="text" ui-number-mask="0" ng-model="row.bonus" placeholder="Rp. Diskon" ng-disabled="1"/>
                                          </div> -->
                                      </td>
                                      <td>
                                          <textarea class="form-control form-control-sm" type="text" ng-model="row.keterangan" placeholder="Keterangan" ng-disabled="is_view"></textarea>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <!-- <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button> -->
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save()">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
