<div class="sidebar {{sideBarClass}}" style="background-color: {{warnaBackground}}">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Menu</li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main">
                    <i class="icon-speedometer"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.master_artikel">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.artikel">
                    <i class="icon-docs"></i>
                    Artikel
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.master_afiliasi_produk">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.afiliasi_produk">
                    <i class="icon-docs"></i>
                    Link Afiliasi Produk
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.master_afiliasi_member">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.afiliasi_member">
                    <i class="icon-docs"></i>
                    Link Afiliasi Member
                </a>
            </li>
            <!-- Surat Pesanan -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('pesanan')}" ng-if="(user.akses.transaksi_keranjang || user.akses.transaksi_histori_pesanan || user.akses.transaksi_keranjang_big)">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('pesanan')}" href="#">
                    <i class="icon-basket-loaded"></i>
                    Surat Pesanan
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.transaksi_keranjang">
                        <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.keranjang">
                            <i class="icon-cursor"></i>
                            Keranjang Belanja
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.transaksi_keranjang_big">
                        <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.big_order">
                            <i class="icon-cursor"></i>
                            Keranjang Big Disc Order
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.transaksi_histori_pesanan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.histori_pesanan">
                            <i class="icon-cursor"></i>
                            Riwayat Pesanan
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_komplain">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.komplain">
                            <i class="icon-cursor"></i>
                            Komplain Pelanggan
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" ng-if="user.akses.transaksi_mutasi">
				<a class="nav-link" ui-sref-active="active" ui-sref="transaksi.mutasi">
					<i class="icon-directions"></i>
					Mutasi Level Member
				</a>
			</li>
      <li class="nav-item" ng-if="user.akses.master_testimoni">
        <a class="nav-link" ui-sref-active="active" ui-sref="master.testimoni">
          <i class="icon-notebook"></i>
          Testimoni Pelanggan
        </a>
      </li>
      <li class="nav-item" ng-if="user.akses.master_slider">
        <a class="nav-link" ui-sref-active="active" ui-sref="master.slider">
          <i class="icon-notebook"></i>
          Slider
        </a>
      </li>
            <li class="nav-item" ng-if="user.akses.master_tree">
				<a class="nav-link" ui-sref-active="active" ui-sref="master.tree">
					<i class="icon-grid"></i>
					Pohon Jaringan
				</a>
			</li>
            <li class="nav-item" ng-if="user.akses.transaksi_konfirmasi_pembayaran">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.konfirmasi_pembayaran">
                    <i class="icon-cursor"></i>
                    Konfirmasi Pembayaran
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.transaksi_approval_pembayaran">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.approval_pembayaran">
                    <i class="icon-cursor"></i>
                    Approval Pembayaran
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.transaksi_arisan">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.arisan">
                    <i class="icon-present"></i>
                    Tabungan
                </a>
            </li>

            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('member')}"
              ng-if="(user.akses.transaksi_arisan_pj || user.akses.transaksi_arisan_list)">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('arisan_')}" href="#">
                    <i class="icon-present"></i>
                    Arisan
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.transaksi_arisan_pj">
                        <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.arisan_pj">
                            <i class="icon-user"></i>
                            PJ Arisan
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.transaksi_arisan_list">
                        <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.arisan_list">
                            <i class="icon-user"></i>
                            List Arisan
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" ng-if="user.akses.master_member && user.tipe_member == 'Member'">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.member">
                    <i class="icon-user-following"></i>
                    QPA Baru
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.master_reseller">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.reseller">
                    <i class="icon-people"></i>
                    Reseller
                </a>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('member')}" ng-if="(user.akses.master_member || user.akses.master_pengajuan) && user.tipe_member == 'Admin'">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('member')}" href="#">
                    <i class="fa fa-address-book-o"></i>
                    Member
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.master_member">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.member">
                            <i class="icon-user"></i>
                            Member
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_pengajuan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.pengajuan">
                            <i class="icon-user"></i>
                            Approval Member
                        </a>
                    </li>
                </ul>
            </li>
            <!--Produk & Kategori -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('produk')}" ng-if="user.akses.master_produk || user.akses.master_kateogori_produk">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('produk')}" href="#">
                    <i class="fa fa-cart-arrow-down"></i>
                    Produk
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.master_kategori_produk">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.kategori">
                            <i class="icon-cursor"></i>
                            Kategori
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_produk">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.produk">
                            <i class="icon-cursor"></i>
                            Produk
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_promo">
                        <a class="nav-link" ui-sref-active="active" ui-sref="master.promo">
                            <i class="icon-cursor"></i>
                            Promo
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Laporan -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('laporan')}" ng-if="user.akses.laporan_pesanan">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('laporan')}" href="#">
                    <i class="fa fa-clone"></i>
                    Laporan
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.laporan_pesanan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.pesanan">
                            <i class="icon-cursor"></i>
                            Surat Pesanan
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.detail_komisi">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.detail_komisi">
                            <i class="icon-cursor"></i>
                            Detail Komisi
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_mutasi_moota">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.mutasi_moota">
                            <i class="icon-cursor"></i>
                            Mutasi Rekening
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_arisan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.arisan">
                            <i class="icon-cursor"></i>
                            Arisan
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_poin_reseller">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.poin_reseller">
                            <i class="icon-cursor"></i>
                            Poin Reseller
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_bonus_pc">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.bonus_pc">
                            <i class="icon-cursor"></i>
                            PC
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_bonus_rc">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.bonus_rc">
                            <i class="icon-cursor"></i>
                            RC
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_bonus_mr">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.bonus_mr">
                            <i class="icon-cursor"></i>
                            MR
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_bonus_mcm">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.bonus_mcm">
                            <i class="icon-cursor"></i>
                            MCM
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_bonus_mcs">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.bonus_mcs">
                            <i class="icon-cursor"></i>
                            MCS
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.laporan_tutup_bulan">
                        <a class="nav-link" ui-sref-active="active" ui-sref="laporan.tutup_bulan">
                            <i class="icon-cursor"></i>
                            Tutup Bulan
                        </a>
                    </li>
                </ul>
            </li>
            <!--ENd Produk & Kategori -->
            <li class="nav-title" ng-if="user.tipe_member == 'Admin'">Pengaturan</li>
            <li class="nav-item" ng-if="user.akses.master_setting">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.setting">
                    <i class="fa fa-tags"></i>
                    Setting
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.master_bonus">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.bonus">
                    <i class="fa fa-tags"></i>
                    Bonus
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.master_big_order">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.big_order">
                    <i class="icon-cursor"></i>
                    Big Order
                </a>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('pengguna')}" ng-if="user.akses.master_akses || user.akses.master_user">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('pengguna')}" href="#">
                    <i class="fa fa-user-o"></i>
                    User Login
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.master_akses">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.akses">
                            <i class="icon-cursor"></i>
                            Hak Akses
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.master_user">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.user">
                            <i class="icon-cursor"></i>
                            Pengguna
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" ng-hide="1">
              <a class="nav-link" ui-sref-active="active" ui-sref="master.sentral_cargo">
                <i class="fa fa-tags"></i>
                sentral_cargo
              </a>
            </li>
        </ul>
    </nav>
</div>
