<div class="animated fadeIn">
    <div ng-controller="forumCtrl">
      <style>
        @media (max-width: 576px) {
          .img-stretch img{
            width:100%;
          }
        }
      </style>
        <div st-pipe="callServer" st-table="displayed" ng-if="!is_edit && !is_view_diskusi">
            <div class="col-md-12 p-0">
                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-9 pl-0 pr-0">
                        <div class="card">
                            <div class="card-header">
                                <strong class="d-md-down-none">Daftar Topik Diskusi</strong>
                                <div class="btn-group pull-right mt-5px" role="group">
                                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed">
                                        <i class="fa fa-search"></i>
                                        &nbsp;Pencarian
                                    </button>
                                    <button class="btn btn-primary btn-sm" ng-click="create();">
                                        <i class="fa fa-plus"></i>
                                        &nbsp;Buat Baru
                                    </button>
                                    <button class="btn btn-success btn-sm" ng-if="false" ng-click="isiUrl();">
                                        <i class="fa fa-plus"></i>
                                        &nbsp;Isi URL
                                    </button>
                                </div>
                            </div>

                            <!-- List Per Kategori -->
                            <table class="table table-hover" ng-if="viewKategori">
                                <tr ng-repeat-start="(key, val) in datafirst"></tr>
                                <tr ng-click="pilihKategori(key)" style="background-color: #f2f2f2; color: black">
                                    <style>
                                        h5 {
                                            font-size: 20px;
                                            font-family: Arial;
                                            position: relative;
                                            overflow: hidden;
                                        }

                                        h5:after {
                                            display: inline-block;
                                            content: "";
                                            height: 4px;
                                            background: black;
                                            position: absolute;
                                            width: 100%;
                                            top: 50%;
                                            margin-top: -2px;
                                            margin-left: 10px;
                                        }
                                    </style>
                                    <!-- <td style="padding:10px 200px 0px 200px"> -->
                                    <td class="pl-5 pr-5">
                                        <h5 class="text-left"><i class="fa fa-tags"></i> {{key != '' ? key : 'Tanpa Kategori'}}</h5>
                                        <!--<h5 class="text-right"><i class="fa fa-tags"></i> {{key != '' ? key : 'Tanpa Kategori'}}</h5>-->
                                    </td>
                                </tr>
                                <tr ng-repeat="row in val">
                                    <!-- <td style="padding:10px 200px 10px 200px"> -->
                                    <td class="pl-5 pr-5">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <!-- <div class="btn-group pull-right" role="group" ng-if="row.created_by == user.id" style="margin-top:-20px">
                                                      <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                                      <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                                    </div> -->

                                                    <a href="" class="text-dark" ng-click="view_diskusi(row)">
                                                        <strong style="font-size:14px">{{ row.judul}}</strong>
                                                        <br>
                                                    </a>
                                                    <br>
                                                    <span class="text-muted fz-11">{{ (row.created_at * 1000) | date:"dd-MM-yyyy H:mm:ss"}}</span>
                                                    <span class="text-muted">
                                                        <!-- &emsp;
                                                        <i class="icon-bubbles"></i> {{row.jumlah_reply}} Komentar -->
                                                        &emsp;
                                                        Oleh:
                                                    </span>
                                                    <strong class="text-primary" style="font-size:12px">{{ row.pembuat}}</strong> &nbsp;
                                                    <strong class="text-muted fz-11">{{ row.level_nama}} {{ row.status_qpa}}</strong>
                                                    &emsp;
                                                    <input type="text" id="forumkat_{{row.id}}" class="form-control form-control-sm" style="opacity: 0; cursor: unset;" readonly value="{{site_url}}#!/forum/{{row.url}}"/>
                                                    &emsp;
                                                    <span class="text-muted">
                                                        <i class="fa fa-tags"></i> {{row.kategori}}
                                                    </span>
                                                    &emsp;
                                                    <a href="" class="text-muted" data-toggle="tooltip" title="Copy Shareable Link" ng-click="copy(row.url)" ngclipboard data-clipboard-target="#forumkat_{{row.id}}">
                                                        <i class="fa fa-share-alt"></i> Share
                                                    </a>
                                                    &emsp;
                                                    <a href="" class="text-muted" ng-if="row.created_by == user.id" ng-click="update(row)">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </a>
                                                    &emsp;
                                                    <a href="" class="text-muted" ng-if="row.created_by == user.id" ng-click="trash(row)">
                                                        <i class="fa fa-trash"></i> Hapus
                                                    </a>
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="{{ row.firstImage}}" alt="" style="height:80px">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="val[0]">
                                    <td class="text-center">
                                        <a href="#" ng-click="pilihKategori(key)" style="font-size:14px">Lihat Selengkapnya</a>
                                    </td>
                                </tr>
                                <tr ng-repeat-end=""></tr>
                            </table>
                            <!-- List Per Kategori - END -->

                            <div class="row mt-15px" ng-show="!isCollapsed" ng-if="viewList">
                                <div class="col-md-12">
                                    <div class="alert alert-secondary">
                                        <form name="landaform" novalidate="">
                                            <div class="btn-group pull-right mt-5px" role="group">
                                                <!-- <button class="btn btn-primary btn-sm" ng-click="listKategori()">
                                                    <i class="fa fa-tags"></i>
                                                    &nbsp;Kembali ke Kategori
                                                </button> -->
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label-sm mb-0">Judul</label>
                                                <div class="col-sm-4">
                                                    <input st-search="judul" class="form-control form-control-sm" placeholder="Cari Judul Diskusi"/>
                                                </div>

                                                <label class="col-sm-2 col-form-label-sm mb-0">Urutkan</label>
                                                <div class="col-sm-4">
                                                  <select class="form-control form-control-sm" ng-model="sorting.tanggal" ng-change="refreshPage()">
                                                    <option value="">Berdasarkan Tanggal</option>
                                                    <option value="desc">Tanggal : Baru - Lama</option>
                                                    <option value="asc">Tanggal : Lama - Baru</option>
                                                  </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                              <label class="col-sm-2 col-form-label-sm mb-0"></label>
                                              <div class="col-sm-4">
                                                  <!-- <input st-search="judul" class="form-control form-control-sm" placeholder="Cari Judul Diskusi"/> -->
                                              </div>

                                              <label class="col-sm-2 col-form-label-sm mb-0"></label>
                                              <div class="col-sm-4">
                                                <select class="form-control form-control-sm" ng-model="sorting.komentar" ng-change="refreshPage()">
                                                  <option value="">Berdasarkan Komentar</option>
                                                  <option value="desc">Komentar : Banyak - Sedikit</option>
                                                  <option value="asc">Komentar : Sedikit - Banyak</option>
                                                </select>
                                              </div>
                                            </div>

                                            <!-- <div class="form-group row">
                                                <label class="col-sm-1 col-form-label-sm mb-0">Kategori</label>
                                                <div class="col-sm-4">
                                                    <select st-search="kategori" class="form-control form-control-sm">
                                                        <option value="">Cari Berdasarkan Kategori</option>
                                                        <option value="News">News</option>
                                                        <option value="Testimoni">Testimoni</option>
                                                        <option value="Tanya Jawab">Tanya Jawab</option>
                                                        <option value="Success Story">Success Story</option>
                                                        <option value="Bahan Iklan">Bahan Iklan</option>
                                                        <option value="Materi">Materi</option>
                                                    </select>
                                                </div>
                                            </div> -->

                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="card" ng-repeat="row in displayed" ng-if="viewList">
                                <div class="card-body" ng-dblclick="view_diskusi(row)">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ row.firstImage}}" alt="" style="height:80px">
                                        </div>
                                        <div class="col-md-8">
                                            <!-- <div class="btn-group pull-right" role="group" ng-if="row.created_by == user.id" style="margin-top:-20px">
                                              <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                              <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                            </div> -->

                                            <a href="" class="text-dark" ng-click="view_diskusi(row)">
                                                <strong style="font-size:14px">{{ row.judul}}</strong>
                                                <br>
                                            </a>
                                            <br>
                                            <span class="text-muted fz-11">{{ (row.created_at * 1000) | date:"dd-MM-yyyy H:mm:ss"}}</span>
                                            <span class="text-muted">
                                                &emsp;
                                                <i class="icon-bubbles"></i> {{row.jumlah_reply}} Komentar
                                                &emsp;
                                                Oleh:
                                            </span>
                                            <strong class="text-primary" style="font-size:12px">{{ row.pembuat}}</strong> &nbsp;
                                            <strong class="text-muted fz-11">{{ row.level_nama}} {{ row.status_qpa}}</strong>
                                            &emsp;
                                            <input type="text" id="forum_{{row.id}}" class="form-control form-control-sm" style="opacity: 0; cursor: unset;" readonly value="{{site_url}}#!/forum/{{row.url}}"/>
                                            &emsp;
                                            <span class="text-muted">
                                                <i class="fa fa-tags"></i> {{row.kategori}}
                                            </span>
                                            &emsp;
                                            <a href="" class="text-muted" data-toggle="tooltip" title="Copy Shareable Link" ng-click="copy(row.url)" ngclipboard data-clipboard-target="#forum_{{row.id}}">
                                                <i class="fa fa-share-alt"></i> Share
                                            </a>
                                            &emsp;
                                            <a href="" class="text-muted" ng-if="row.created_by == user.id" ng-click="update(row)">
                                                <i class="fa fa-pencil"></i> Edit
                                            </a>
                                            &emsp;
                                            <a href="" class="text-muted" ng-if="row.created_by == user.id" ng-click="trash(row)">
                                                <i class="fa fa-trash"></i> Hapus
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End Card body -->
                            <div ng-if="viewList" st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
                            <!-- ENd List -->
                        </div>
                    </div>
                    <!-- End Card -->

                    <style>
                        @media (max-width: 767px) {
                            #category {
                                padding-left: 0px;
                            }
                        }
                    </style>
                    <!-- Card Category -->
                    <div class="col-md-3 pr-0" id="category">
                        <div class="card">
                            <div class="card-header">
                                <strong class="d-md-down-none">Kategori</strong>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12 p-0" ng-repeat="(key, val) in datafirst">
                                    <div ng-click="pilihKategori(key)" style="cursor: pointer; font-size: 15px;">
                                      <i class="fa fa-tags"></i> {{key != "" ? key : 'Tanpa kategori'}}
                                    </div>
                                    <div class="pb-2"></div>
                                </div>
                                <div ng-click="pilihKategori(false)" style="cursor: pointer; font-size: 15px;">
                                  <i class="fa fa-tags"></i> Semua Kategori
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Card Category -->
                </div>
            </div>

        </div>

        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kode</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm">Judul</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.judul" ng-change="slugify(form.judul)" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kategori</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm" ng-model="form.kategori" ng-disabled="is_view">
                                        <option value="">Pilih Kategori</option>
                                        <option value="News">News</option>
                                        <option value="Testimoni">Testimoni</option>
                                        <option value="Tanya Jawab">Tanya Jawab</option>
                                        <option value="Success Story">Success Story</option>
                                        <option value="Bahan Iklan">Bahan Iklan</option>
                                        <option value="Materi">Materi</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm">URL</label>
                                <div class="col-sm-10">
                                    <input type="text" id="url" class="form-control form-control-sm" ng-model="form.url" ng-disabled="is_view"/>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3"></div>

                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm"></label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="link" class="form-control form-control-sm" ng-model="form.share_link" ng-disabled="is_view"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-info" ngclipboard data-clipboard-target="#link" style="border-radius: 0px">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm"></label>
                                <div class="col-sm-12">
                                    <!-- <textarea ckeditor="" class="form-control form-control-sm" ng-model="form.isi" ng-disabled="is_view"/></textarea> -->
                                    <div text-angular ng-model="form.isi" ta-text-editor-class="form-control myform1-height"
                                    ta-html-editor-class="form-control myform1-height"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>

        <!-- View forum diskusi -->
        <div class="card" ng-if="is_view_diskusi">
            <div class="card-header">
                <button class="btn btn-secondary btn-sm float-right mt-1" ng-click="cancel()">
                    <i class="fa fa-arrow-left"></i>
                    &nbsp;Kembali ke Daftar Topik
                </button>
                <strong class="text-primary" style="font-size:14px">{{ form.pembuat}}</strong> &nbsp;
                <span class="text-muted fz-11">{{ (form.created_at * 1000) | date:"dd-MM-yyyy H:mm:ss"}}</span>
                <br>
                <strong class="text-muted">{{ form.level_nama}} {{ form.status_qpa}}</strong>

            </div>
            <div class="card-body">
                <strong style="font-size:14px">{{ form.judul}}</strong>
                <hr>

                <div class="col-md-12 img-stretch">
                    <style media="screen">
                        iframe{
                            height:350px;
                            width:500px;
                        }
                    </style>
                    <div ta-bind ng-model="form.isi">
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="setReplyParams(form, form.id)">
                        <i class="icon-bubbles"></i>
                        &nbsp;Balas
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal reply  -->
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Berikan Komentar Anda</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" ng-if="is_reply">
                        <textarea ckeditor="" class="form-control form-control-sm" ng-model="replyParams.reply" ng-init=""></textarea>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="reply(replyParams)">Simpan</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- end Modal reply  -->

        <div st-pipe="callServer2" st-table="listReply" ng-if="is_view_diskusi">
            <!-- <div class="card">
                <div class="card-header">
                    <strong>Balasan</strong>
                </div>
            </div> -->

            <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>

            <div class="card" ng-repeat="row in listReply">

                <div class="card-header">
                    <strong class="text-primary" style="font-size:14px">
                        {{ row.pembuat}}
                    </strong> &nbsp;
                    <strong class="text-info float-right" style="font-size:14px">#{{row.signature}}</strong>
                    <span class="text-muted fz-11">{{ (row.created_at * 1000) | date:"dd-MM-yyyy H:mm:ss"}}</span>
                    <br>
                    <strong class="text-muted">{{ row.level_nama}} {{ row.status_qpa}}</strong>
                </div>

                <div class="card-body">
                    <div ng-if="row.original_member != undefined">
                        <cite class="text-muted">
                            Original posted by <i class="fa fa-caret-square-o-right"></i>
                            {{row.original_member}}
                        </cite>
                        <blockquote ng-bind-html="row.original_reply" ng-model="row.or_isi">
                        </blockquote>
                    </div>

                    <div class="col-md-12" ta-bind ng-bind-html="row.isi" ng-model="row.s_isi">
                    </div>
                </div>

                <div class="card-footer">
                    <div class="pull-right">
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="setReplyParams(row, form.id)">
                            <i class="icon-bubbles"></i>
                            &nbsp;Balas
                        </button>
                    </div>
                </div>

            </div>
            <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
        </div>

        <!-- end of View forum diskusi -->
    </div>
</div>
