<div class="animated fadeIn">
    <div ng-controller="msliderCtrl">
        <!--<div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
             <div class="card-header">
                <strong class="d-md-down-none">Daftar slider</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button c`lass="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>`
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode</th>
                                    <th class="align-left">Nama</th>
                                    <th class="align-left">Status</th>

                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.nama }}</td>

                                <td class="align-left">

                                    <button type="button" class="btn btn-sm btn-primary" ng-if="row.is_used == 0" ng-click="aktifkan(row, 'aktif')">
                                        <i class="fa fa-check-square-o"></i>
                                        &nbsp;Aktifkan Promo
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" ng-if="row.is_used == 1" ng-click="aktifkan(row, 'non-aktif')">
                                        <i class="fa fa-check-square-o"></i>
                                        &nbsp;Non-aktifkan
                                    </button>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>-->
        <div class="card">
            <div class="card-header">
                <strong> Master Slider </strong>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading" ng-disabled="loading" ng-click="save()">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">

                    <div class="row">
                        <div class="col-md-12">
                          <span class="alert alert-success">
                            Gambar Slider
                            (Ukuran yang disarankan 1280 px x 487 px)
                          </span>
                          <br>
                          <br>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-left">Keterangan</th>
                                        <th class="align-left">Gambar Slider</th>
                                        <th class="align-center" style="width: 10px;">
                                            <button type="button" class="btn btn-success fa fa-plus" ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="v in listDetail">

                                    <tr>
                                      <td width="40%">
                                        <textarea ng-model="v.keterangan" rows="8" class="form-control form-control-sm" placeholder="Keterangan"></textarea>
                                      </td>
                                      <td>
                                        <input accept="image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="v.banner" type="file" ng-disabled="is_view" ng-change="save()"/>
                                        <img ng-if="v.foto != undefined" src="./img/slider/{{v.foto}}" alt="Preview Slider" style="max-height:100px;">
                                        <img ng-if="v.foto == undefined" src="./img/no-image.png" alt="Preview Slider" style="max-height:100px;">
                                        <!-- <div class="form-group row">
                                            <label class="col-md-4 col-form-label-sm">
                                            </label>
                                            <div class="col-md-8 bordered">
                                            </div>
                                        </div> -->

                                      </td>
                                      <td class="align-center">
                                          <button type="button" class="btn btn-danger fa fa-minus" ng-click="removeDetail(listDetail, $index)" ng-disabled="is_view"></button>
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save()">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
