<div class="animated fadeIn">
    <div ng-controller="pengajuanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Pengajuan Member</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nik</label>
                                        <div class="col-sm-2">
                                            <input st-search="nik" class="form-control form-control-sm" placeholder="Cari berdasarkan Nik"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_member.kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_member.nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode</th>
                                    <th class="align-left">Nik</th>
                                    <th class="align-left">Nama</th>
                                    <th class="align-left">Jenis Kelamin</th>
                                    <th class="align-left">Telepon</th>
                                    <th class="align-left">Level</th>
                                    <th class="align-left">Status</th>
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.nik }}</td>
                                <td class="align-left">{{ row.nama }}</td>
                                <td class="align-left">{{ row.jenkel }}</td>
                                <td class="align-left">{{ row.no_hp }}</td>
                                <td class="align-left">{{ row.level_nama }}</td>
                                <td class="align-left">
                                    <span ng-if="row.status == 'menunggu persetujuan'" class="badge badge-warning">Menunggu Persetujuan</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-check" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
    </div>
</div>
