<div class="animated fadeIn">
    <div ng-controller="mbonusCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Setting Bonus / Commission</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12 mt-4" ng-repeat="m_level in listLevel">
                          <h6>{{m_level.nama}} Commission</h6>
                          <hr>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <!-- <th class="align-center" style="width: 140px;">Position</th> -->
                                        <th class="align-center" style="width: 140px;" ng-if="m_level.nama =='QPA'">Level QPA</th>
                                        <th class="align-center">Tipe Commision</th>
                                        <th class="align-center">Jabatan Member</th>
                                        <th class="align-center">Level Member</th>
                                        <th class="align-center">Basic Commission<br><b>%</b></th>
                                        <th class="align-center" style="min-width:152px">Basic Commission<br><b>Rp.</b></th>
                                        <th class="align-center" style="width: 70px;">Min<br>Poin/Member</th>
                                        <th class="align-center" style="width: 70px;">Max<br>Poin/Member</th>
                                        <th class="align-center">
                                          Additional Commission <br><b>%</b>
                                        </th>
                                        <th class="align-center" ng-hide="1">
                                          Additional <br>Commission  <br><b>Rp.</b>
                                        </th>
                                        <th class="align-center" style="width: 80px;">
                                          <button type="button" title="Tambah detail" class="btn btn-sm btn-success fa fa-plus" ng-click="addDetail(m_level, 0)" ng-if="listDetail[m_level.id] == undefined"></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="val in listDetail[m_level.id]">
                                        <!-- <td class="align-left">
                                            <ui-select ng-model="val.m_level_id" on-select="" class="w100" theme="bootstrap" ng-disabled="1">
                                                <ui-select-match placeholder="Pilih Level">{{ $select.selected.nama }}</ui-select-match>
                                                <ui-select-choices position="down" repeat="level in listLevel">{{ level.nama }}</ui-select-choices>
                                            </ui-select>
                                        </td> -->
                                        <td class="align-left" ng-if="m_level.nama =='QPA'">
                                          <select class="form-control form-control-sm" ng-model="val.level_qpa">
                                            <option value="">-</option>
                                            <option value="Qualified">Qualified</option>
                                            <option value="Beginner">Beginner</option>
                                          </select>
                                        </td>
                                        <td class="align-left">
                                          <select class="form-control form-control-sm" ng-model="val.tipe">
                                            <option value="">-</option>
                                            <option value="PC">Personal</option>
                                            <option value="RC" ng-if="m_level.nama =='QPA'">Recruitment</option>
                                            <option value="MR" ng-if="m_level.nama !='QPA'">Monthly Reward</option>
                                            <option value="MCS" ng-if="m_level.nama !='QPA'">Member Commision Supervisor</option>
                                            <option value="MCM" ng-if="m_level.nama =='MQPA'">Member Commision Manager</option>
                                          </select>
                                        </td>
                                        <td class="align-left">
                                            <ui-select ng-model="val.m_level_id_member" on-select="" class="w100" theme="bootstrap" ng-disabled="is_view || val.tipe =='PC'">
                                                <ui-select-match placeholder="-">{{ $select.selected.nama }}</ui-select-match>
                                                <ui-select-choices position="down" repeat="level in listLevel">{{ level.nama }}</ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="align-left">
                                          <select class="form-control form-control-sm" ng-model="val.level_member"
                                          ng-disabled="val.tipe == 'PC'">
                                            <option value="">-</option>
                                            <option value="Qualified">Qualified</option>
                                            <option value="Beginner">Beginner</option>
                                          </select>
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm text-right"
                                                maxlength="3" ng-model="val.basic_com_persen" ui-number-mask="0"
                                                ng-disabled="val.tipe=='MR'"/>
                                                <span class="input-group-text">%</span>
                                            </div>
                                        </td>
                                        <td style="width: 100px;">
                                            <div class="input-group input-group-sm">
                                              <span class="input-group-text">Rp.</span>
                                                <input type="text" class="form-control form-control-sm text-right"
                                                maxlength="11" ng-model="val.basic_com_nominal" ui-number-mask="0"
                                                ng-disabled="val.tipe !='MR'"
                                                />
                                            </div>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="val.min" ui-number-mask="0"/>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="val.max" ui-number-mask="0"/>
                                        </td>
                                        <td class="align-left" style="width: 100px;">
                                          <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="val.add_com_persen" ui-number-mask="0" ng-disabled="val.tipe!='PC'"/>
                                            <span class="input-group-text">%</span>
                                          </div>
                                        </td>
                                        <td class="align-left" style="width: 150px;" ng-hide="1">
                                          <div class="input-group input-group-sm">
                                            <span class="input-group-text">Rp.</span>
                                            <input type="text" class="form-control form-control-sm text-right" maxlength="11"
                                            ng-model="val.add_com_nominal" ui-number-mask="0"
                                            ng-disabled="1"/>
                                          </div>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" title="Hapus detail" class="btn btn-sm btn-danger fa fa-minus" ng-click="removeDetail(listDetail[m_level.id], $index)" ng-disabled="is_view"></button>
                                            <button type="button" title="Tambah detail" class="btn btn-sm btn-success fa fa-plus" ng-click="addDetail(m_level, $index)" ng-disabled="is_view"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <!-- <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button> -->
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
