<div class="animated fadeIn">
    <div ng-controller="mpromoCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Promo</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                          <input st-search="kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode" />
                                        </div> -->
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode</th>
                                    <th class="align-left">Nama</th>
                                    <th class="align-left">Status</th>
                                    <!-- <th class="align-left">Aktif / Non-Aktif</th> -->
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.nama }}</td>
                                <!-- <td class="align-left">
                                  <h6><span ng-if="row.is_used == 1" class="badge badge-success">Aktif</span></h6>
                                  <h6><span ng-if="row.is_used == 0" class="badge badge-secondary">Non-aktif</span></h6>
                                </td> -->
                                <td class="align-left">
                                    <!-- <h5><span ng-if="row.is_used == 1" class="badge badge-success">Digunakan</span></h5> -->
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="row.is_used == 0" ng-click="aktifkan(row, 'aktif')">
                                        <i class="fa fa-check-square-o"></i>
                                        &nbsp;Aktifkan Promo
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" ng-if="row.is_used == 1" ng-click="aktifkan(row, 'non-aktif')">
                                        <i class="fa fa-check-square-o"></i>
                                        &nbsp;Non-aktifkan
                                    </button>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="100" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                            <h6 class="tittle-header" style="margin-bottom: 0px;">Detail Promo</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-left">Produk</th>
                                        <th class="align-left">Harga Asli</th>
                                        <th class="align-left" colspan="2">Diskon</th>
                                        <th class="align-left">Harga Akhir</th>
                                        <th class="align-center" style="width: 10px;">
                                            <button type="button" class="btn btn-success fa fa-plus" ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="v in listDetail">
                                    <tr>
                                        <td class="align-left">
                                            <ui-select ng-model="v.m_produk_id" on-select="setProduk(v.m_produk_id, $index)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Produk">{{ $select.selected.nama }}</ui-select-match>
                                                <ui-select-choices position="down" refresh="getProduk($select.search)" repeat="produk in listProduk">{{ produk.nama }}</ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="align-left" style="width: 150px;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp.</span>
                                                </div>
                                                <input type="text" class="form-control form-control-xs text-right" maxlength="11" ng-model="v.harga_asli" ng-disabled="1" ui-number-mask="0"/>
                                            </div>
                                        </td>
                                        <td class="align-left" style="width: 120px;">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm angka" ng-model="v.diskon" ng-disabled="is_view" ui-number-mask="6" ng-blur="setDiskon(v, 'persen')"/>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width: 150px;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp.</span>
                                                </div>
                                                <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.diskon_nominal" ng-disabled="is_view" ui-number-mask="0" ng-blur="setDiskon(v, 'nominal')"/>
                                            </div>
                                        </td>
                                        <td class="align-left" style="width: 150px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Rp.</span>
                                                <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.harga_diskon" ng-disabled="1" ui-number-mask="0"/>
                                            </div>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn btn-danger fa fa-minus" ng-click="removeDetail(listDetail, $index)" ng-disabled="is_view"></button>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <span class="alert alert-success">
                                          Gambar Banner
                                          (Ukuran yang disarankan 703 px x 384 px)
                                        </span>
                                        <br>
                                        <br>
                                        <input accept="image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="v.banner" type="file" ng-disabled="is_view" />
                                      </td>
                                      <td colspan="5">
                                        <img ng-if="v.foto != undefined" src="./img/promo/{{v.foto}}" alt="Preview Banner" style="max-height:100px;">
                                        <img ng-if="v.foto == undefined" src="./img/no-image.png" alt="Preview Banner" style="max-height:100px;">
                                        <!-- <div class="form-group row">
                                            <label class="col-md-4 col-form-label-sm">
                                            </label>
                                            <div class="col-md-8 bordered">
                                            </div>
                                        </div> -->

                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
