<div class="animated fadeIn">
    <div class="row" ng-controller="dashboardCtrl">
        <div class="col-sm-6 col-md-2" ng-if="user.tipe_member == 'Member'">
            <a class="link-no-style" ui-sref="transaksi.keranjang">
                <div class="card text-white bg-info">
                    <div class="card-body">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="icon-basket-loaded"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">Belanja</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2" ng-if="user.tipe_member == 'Member'">
            <a class="link-no-style" ui-sref="transaksi.konfirmasi_pembayaran">
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">Konfirmasi Bayar</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2">
            <a class="link-no-style" ui-sref="transaksi.histori_pesanan" ng-click="deleteNotif('t_penjualan')">
                <div class="card text-white bg-success">
                    <div class="card-body notification">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="icon-list"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">{{user.tipe_member == 'Member' ? 'Riwayat Order' : 'Orderan'}}</div>
                        <span class="badge">{{notification.t_penjualan}}</span>
                    </div>                    
                </div>

            </a>
        </div>
        <div class="col-sm-6 col-md-2">
            <a class="link-no-style" ui-sref="master.member" ng-click="deleteNotif('m_member')">
                <div class="card text-white bg-warning">
                    <div class="card-body notification">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="icon-user-following"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">QPA Baru</div>
                        <span class="badge">{{notification.m_member}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2">
            <a class="link-no-style" ui-sref="master.forum" ng-click="deleteNotif('m_forum')">
                <div class="card text-white bg-primary">
                    <div class="card-body notification">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="icon-bubbles"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">Forum Member</div>
                        <span class="badge">{{notification.m_forum}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2" ng-if="user.tipe_member == 'Member'" ng-click="deleteNotif('m_faq')">
            <a class="link-no-style" ui-sref="master.faq">
                <div class="card text-white bg-info">
                    <div class="card-body notification">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="icon-question"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">F.A.Q</div>
                        <span class="badge">{{notification.m_faq}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2" ng-if="user.tipe_member == 'Admin'" ng-click="deleteNotif('m_reseller')">
            <a class="link-no-style" ui-sref="master.reseller">
                <div class="card text-white bg-info">
                    <div class="card-body notification">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="icon-people"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">Reseller Baru</div>
                        <span class="badge">{{notification.m_reseller}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2" ng-if="user.tipe_member == 'Admin'" ng-click="deleteNotif('t_arisan')">
            <a class="link-no-style" ui-sref="transaksi.arisan">
                <div class="card text-white bg-danger">
                    <div class="card-body notification">
                        <div class="h1 text-muted text-center mb-2">
                            <i class="icon-present"></i>
                        </div>
                        <div class="h5-dashboard text-center mb-0">Klaim Arisan</div>
                        <span class="badge">{{notification.t_arisan}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" ng-controller="dashboardCtrl">
        <div class="col-sm-12 col-md-12" ng-if="user.tipe_member == 'Admin'">
            <div class="card card-accent-success">
                <div class="card-header">
                    <div class="row">

                        <div class="col-md-6 mb-0">
                            <h4 class="text-success pt-1" style="font-size:14px;font-weight:600">
                                Grafik Analisa Penjualan
                            </h4>
                        </div>
                        <div class="col-md-6 mb-0">
                            <div class="col-md-8 offset-md-4">
                                <style media="screen">
                                    th, td { padding: 5px; text-align: left; }
                                </style>
                                <input class="form-control form-control-sm"
                                       datepicker-mode="'month'" datepicker-options="{minMode: 'month'}"
                                       is-open="opened.tgl" ng-click="toggle($event, 'tgl')"
                                       ng-model="filter_analisa.periode" placeholder="Filter Bulan & Tahun"
                                       type="text" uib-datepicker-popup="MMMM yyyy" ng-change="getNotifLevelUp(filter_analisa.periode)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <div class="col-md-10">
                        <!-- <zingchart id="myChart" zc-json="myConfig" chart-labels="label" zc-height="400" zc-width="1000"></zingchart> -->
                        <canvas id="bar" class="chart-horizontal-bar" ng-if="apj_data.length > 0"
                                chart-colors="[ '#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360']"
                                chart-data="apj_data" chart-labels="apj_labels" chart-series="series">
                        </canvas>

                        <div class="text-center p-20" ng-if="apj_data.length < 1">
                            <h5>Tidak ada Transaksi Penjualan pada Bulan Ini.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12" ng-if="user.tipe_member == 'Admin'">
            <div class="card card-accent-success">
                <div class="card-header">
                    <h4 class="text-success pt-1" style="font-size:14px;font-weight:600">
                        Papan Informasi
                    </h4>
                </div>
                <div class="card-body">

                    <!-- Include part -->
                    <form class="tab-form-demo" enctype="multipart/form-data" name="outerForm" ng-if="user.tipe_member == 'Admin'">
                        <uib-tabset active="activeForm">
                            <uib-tab heading="Pengangkatan SQPA" index="0">
                                <div ng-include="'tpl/dashboard/inc_rekom_sqpa.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Pengangkatan MQPA" index="1">
                                <div ng-include="'tpl/dashboard/inc_rekom_mqpa.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Update Status Member" index="2">
                                <div ng-include="'tpl/dashboard/inc_update_status.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Persetujuan QPA Baru" index="3">
                                <div ng-include="'tpl/dashboard/inc_new_qpa.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Konfirmasi Pembayaran" index="4">
                                <div ng-include="'tpl/dashboard/inc_konfirmasi_pembayaran.html'"></div>
                            </uib-tab>
                        </uib-tabset>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12" ng-if="user.tipe_member == 'Member'">
            <!-- <div class="col-sm-12 col-md-12"> -->
            <div class="card card-accent-success">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="text-success p-1" style="font-size:14px;font-weight:600">
                                Papan Informasi
                            </h4>
                        </div>
                        <div class="col-md-3">
                            <!-- Custom CSS for this datepicker -->
                            <style media="screen">
                                th, td { padding: 5px; text-align: left; }
                            </style>
                            <input class="form-control form-control-sm" ng-change="laporanMember(filter_tahun)"
                                   datepicker-mode="'year'" datepicker-options="{minMode: 'year'}"
                                   is-open="opened.tgl" ng-click="toggle($event, 'tgl')"
                                   ng-model="filter_tahun" placeholder="Filter Tahun"
                                   type="text" uib-datepicker-popup="yyyy" ng-change="getNotifLevelUp(filter_analisa.periode)"/>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <!-- Include part -->
                    <form class="tab-form-demo" enctype="multipart/form-data" name="outerForm" ng-if="user.tipe_member == 'Member'">
                        <uib-tabset active="activeForm">
                            <uib-tab heading="Tagihan Anda" index="0">
                                <div ng-include="'tpl/dashboard/inc_daftar_pesanan.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Pohon Jaringan" index="1">
                                <p>Pohon Jaringan Anda</p>
                                <div class="tree-container">
                                    <tree nodes='qpaTree' options='options'></tree>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Poin & Komisi" index="2">
                                <div ng-include="'tpl/dashboard/inc_poin_reseller.html'"></div>
                            </uib-tab>
                            <!--
                            <uib-tab heading="Komisi Anda" index="3">
                            <div ng-include="'tpl/dashboard/inc_komisi_personal.html'"></div>
                          </uib-tab>
                            <uib-tab heading="Monthly Reward" index="4" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">
                                <div ng-include="'tpl/dashboard/inc_monthly_reward.html'"></div>
                            </uib-tab>
                            <uib-tab heading="MCS" index="5" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">
                                <div ng-include="'tpl/dashboard/inc_mcs.html'"></div>
                            </uib-tab>
                            <uib-tab heading="MCM" index="6" ng-if="user.m_roles_id == 4">
                                <div ng-include="'tpl/dashboard/inc_mcm.html'"></div>
                            </uib-tab>
                            <uib-tab heading="RC" index="4" ng-if="user.m_roles_id == 2">
                                <div ng-include="'tpl/dashboard/inc_rc.html'"></div>
                            </uib-tab> -->
                        </uib-tabset>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
