Berikut adalah daftar QPA baru yang menunggu persetujuan penerimaan sebagai Member.
<span class="float-right text-bold">
  Total pengajuan berjumlah : {{ listNewQPA.length || 0 }}
</span>
<div class="table-responsive mt-3" style="height:300px">
    <table class="table table-stripped table-hover">
        <tr>
          <th class="align-left">Kode</th>
          <th class="align-left">Nik</th>
          <th class="align-left">Nama</th>
          <th class="align-left">Jenis Kelamin</th>
          <th class="align-left">Telepon</th>
          <th class="align-left">Level</th>
          <th class="align-left">Status</th>
          <th></th>
        </tr>
        <tr ng-repeat="val in listNewQPA">
          <td class="align-left">{{ val.kode }}</td>
          <td class="align-left">{{ val.nik }}</td>
          <td class="align-left">{{ val.nama }}</td>
          <td class="align-left">{{ val.jenkel }}</td>
          <td class="align-left">{{ val.no_hp }}</td>
          <td class="align-left">{{ val.level_nama }}</td>
          <td class="align-left">
              <span ng-if="val.status == 'menunggu persetujuan'" class="badge badge-warning">Menunggu Persetujuan</span>
          </td>
          <td>
              <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-info fa fa-check" ng-if="val.is_deleted == 0" ng-click="setujui(val)"></button>
              </div>
          </td>
        </tr>
    </table>
</div>
