Perubahan Status Member pada bulan ini.
<div class="table-responsive mt-3" style="height:300px">
    <table class="table table-stripped table-hover">
        <tr>
            <th width="10%">No.</th>
            <th>Kode</th>
            <th>Nama</th>
            <th>Posisi</th>
            <th>Status Lama</th>
            <th>Status Baru</th>
        </tr>
        <tr ng-repeat="val in listStatusQPA">
            <td>{{ $index+1 }}.</td>
            <td>{{ val.kode }}</td>
            <td>{{ val.nama }}</td>
            <td>{{ val.level }}</td>
            <td>{{ val.status_qpa_lama }}</td>
            <td>{{ val.status_qpa_baru }}</td>
        </tr>
    </table>
</div>
