Berikut adalah pembayaran yang menunggu konfirmasi.
<span class="float-right">
  Total Pembayaran : {{ totalPBayar || 0 | currency:"Rp." }}
</span>
<div class="table-responsive mt-3" style="height:300px">
    <table class="table table-stripped table-hover">
        <tr>
          <th class="align-left">Kode Konfirmasi Pembayaran</th>
          <th class="align-left">Kode Surat Pesanan</th>
          <th class="align-left">Total Tagihan</th>
          <th class="align-left">Tanggal Transfer</th>
          <!-- <th></th> -->
        </tr>
        <tr ng-repeat="row in listKonfirmasiBayar">
          <td class="align-left">{{ row.kode }}</td>
          <td class="align-left">{{ row.t_penjualan_kode }}</td>
          <td class="align-left">{{ row.grand_total | currency:"Rp."}}</td>
          <td class="align-left">{{ row.tanggal_transfer | date:"dd MMM yyyy" }}</td>
        </tr>
    </table>
</div>
