Berikut adalah pesanan dengan status Menunggu Pembayaran.
<span class="float-right">
  Total Pembayaran : {{ totalBayar || 0 | currency:"Rp." }}
</span>
<div class="table-responsive mt-3" style="min-height:300px">
    <p>Periode : {{ periode_start | date:"dd MMM yyyy" || '*' }} - {{ periode_end | date:"dd MMM yyyy" || '*' }}</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <tr>
                    <th class="align-left">No.</th>
                    <th class="align-left">No. Pesanan</th>
                    <!-- <th class="align-left">Tanggal</th> -->
                    <th class="align-left">Member</th>
                    <th class="align-left">Reseller</th>
                    <th class="align-left">Penerima</th>
                    <th class="align-left" width="120px">Alamat</th>
                    <th class="align-left">Status</th>
                    <th class="align-left">Total</th>
                    <th class="align-left">Diskon</th>
                    <th class="align-left">Grand Total</th>
                </tr>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in laporan">
                <td class="align-left">{{ $index+1 }}.</td>
                <td class="align-left">{{ row.kode }}</td>
                <!-- <td class="align-left">{{ row.tanggal | date:"dd-MM-yyyy" }}</td> -->
                <td class="align-left">{{ row.member_nama }}</td>
                <td class="align-left">{{ row.reseller_nama }}</td>
                <td class="align-left">{{ row.nama_penerima }}</td>
                <td class="align-left">{{ row.jalan_penerima }}, RT {{ row.rt_penerima }} / RW {{ row.rw_penerima }}, Kode POS : {{ row.kode_pos_penerima }}</td>
                <td class="align-left">{{ row.status }}</td>
                <td class="align-left">{{ row.total | currency:"Rp." }}</td>
                <td class="align-left">{{ row.total_diskon | currency:"Rp." }}</td>
                <td class="align-left">{{ row.grand_total | currency:"Rp." }}</td>
            </tr>
        </tbody>
    </table>
</div>
