
  Berikut Laporan Komisi Anda.
  <div class="table-responsive mt-3" style="min-height:300px">
      <p>Periode : {{ periode_pc | date:"yyyy" || '*' }}</p>
      <table class="table table-striped table-hover table-bordered">
          <thead>
              <tr>
                  <th class="align-center" width="5%">No.</th>
                  <th class="align-left">Bulan</th>
                  <th class="align-center">Total Penjualan</th>
                  <th class="align-center">Poin Reseller</th>
                  <th class="align-center">PC</th>
                  <th class="align-center" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">MR</th>
                  <th class="align-center" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">MCS</th>
                  <th class="align-center" ng-if="user.m_roles_id == 4">MCM</th>
                  <th class="align-center" ng-if="user.m_roles_id == 2">RC</th>
                  <th class="align-center" width="12%">Total Komisi</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in laporan_pc">
                  <td class="align-left">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.bulan | date:"MMMM yyyy" }}.</td>
                  <td class="align-right">{{ row.total | currency:"Rp." }}</td>
                  <td class="align-right">{{ row.poin | currency:"" }}</td>
                  <td class="align-right">{{ row.pc | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">{{ row.mr | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">{{ row.mcs | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 4">{{ row.mcm | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 2">{{ row.rc | currency:"Rp." }}</td>
                  <td class="align-right">{{ row.komisi_nominal | currency:"Rp." }}</td>
              </tr>
          </tbody>
          <tr>
              <th class="text-right pr-1" colspan="3">Total</th>
              <th class="text-right">{{ totalKomisi | currency:"Rp." }}</th>
          </tr>
      </table>
  </div>
