Berikut adalah daftar member yang memenuhi kualifikasi untuk menjadi MQPA.
<div class="table-responsive mt-3" style="height:300px">
    <table class="table table-stripped table-hover">
        <tr>
            <th width="10%">No.</th>
            <th>Kode</th>
            <th>Nama</th>
        </tr>
        <tr ng-repeat="val in listMQPA">
            <td>{{ $index+1 }}.</td>
            <td>{{ val.kode }}</td>
            <td>{{ val.nama }}</td>
        </tr>
    </table>
</div>
