
  Berikut Laporan Komisi Anda.
  <div class="table-responsive mt-3" style="min-height:300px">
      <p>Periode      : {{ periode_pc | date:"yyyy" || '*' }}</p>
      <p>Total Komisi : {{ lp_total_kom | currency:"Rp." }}</p>
      <table class="table table-striped table-hover table-bordered">
          <thead>
              <tr>
                  <th class="align-center" rowspan="2" width="5%">No.</th>
                  <th class="align-left" rowspan="2">Bulan</th>
                  <th class="align-center" rowspan="2">Total Penjualan</th>
                  <th class="align-center" colspan="{{user.m_roles_id == 4 ? 3 : 2}}">Poin</th>
                  <th class="align-center" rowspan="2">PC</th>
                  <th class="align-center" rowspan="2" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">MR</th>
                  <th class="align-center" rowspan="2" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">MCS</th>
                  <th class="align-center" rowspan="2" ng-if="user.m_roles_id == 4">MCM</th>
                  <th class="align-center" rowspan="2" ng-if="user.m_roles_id == 2">RC</th>
                  <th class="align-center" rowspan="2" width="12%">Total Komisi</th>
              </tr>
              <tr>
                <th class="align-center">Personal</th>
                <th class="align-center">Supervisor</th>
                <th class="align-center" ng-if="user.m_roles_id == 4">Manager</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in laporan_poin" ng-click="print_laporan(row, pajak)" data-toggle="modal" data-target="#myModal">
                  <td class="align-left">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.bulan | date:"MMMM yyyy" }}.</td>
                  <td class="align-right">{{ row.penjualan | currency:"Rp." }}</td>

                  <td class="align-right">{{ row.poin_personal || 0 | currency:"" }}</td>
                  <td class="align-right">{{ row.poin_supervisor || 0 | currency:"" }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 4">{{ row.poin_manager || 0 | currency:"" }}</td>

                  <td class="align-right">{{ row.pc | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">{{ row.mr | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 3 || user.m_roles_id == 4">{{ row.mcs | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 4">{{ row.mcm | currency:"Rp." }}</td>
                  <td class="align-right" ng-if="user.m_roles_id == 2">{{ row.rc | currency:"Rp." }}</td>
                  <td class="align-right">{{ row.komisi_nominal | currency:"Rp." }}</td>
              </tr>
          </tbody>
          <!-- <tr>
              <th class="text-right pr-1" colspan="10">Total</th>
              <th class="text-right">{{ lp_total_kom | currency:"Rp." }}</th>
          </tr> -->
      </table>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="myModal" role="dialog">
    <style>
    @media (min-width: 576px){

      .modal-dialog {
        width: 98%!important;
        padding: 0!important;
        max-width: none;
      }

      table.myFormat tr th {
        text-align: center;
        font-size: 11px;
      }
      table.myFormat tr td { font-size: 11px; }
      .borderless td, .borderless th {
          border: none;
      }
    }
    </style>
    <div class="modal-dialog full-cream">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Komisi Bulanan Anda</h6>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-sm btn-primary text-white pull-right" ng-click="printLaporan()">
              <i class="fa fa-print"></i> Cetak
            </button>
            <button type="button" class="btn btn-sm btn-danger text-white" data-dismiss="modal">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </div>
        <div class="modal-body" id="print_area">
          <table class="table borderless">
            <tr>
              <td width="40%">
                <img class="" src="img/logo.png" style="width: 160px">
              </td>
              <td class="">
                <h4>SLIP PEMBAYARAN INSENTIF</h4>
              </td>
            </tr>
          </table>
          <table class="table borderless myFormat">
            <tr>
              <td width="10%">Bulan</td>
              <td width="2%">:</td>
              <td width="38%"> <strong> {{ komisiDetail_bulan | date:"MMM" }} </strong></td>
              <td width="10%">No. Rekening</td>
              <td width="2%">:</td>
              <td width="38%"><strong> 098098080</strong></td>
            </tr>
            <tr>
              <td>Periode</td>
              <td>:</td>
              <td> <strong> {{ komisiDetail_bulan | date:"MMM yyyy" }} </strong></td>
              <td>Tanggal</td>
              <td>:</td>
              <td><strong>{{ tanggal_cetak | date:"dd MMM yyyy" }}</strong></td>
            </tr>
            <tr>
              <td>Kode/Nama Member</td>
              <td>:</td>
              <td> <strong> {{ data_member.kode }} / {{ data_member.nama }} </strong></td>
              <td>Level</td>
              <td>:</td>
              <td><strong>{{ data_member.level_nama }} {{ data_member.status_qpa }}</strong></td>
            </tr>
          </table>

          <table class="table table-bordered myFormat">
            <thead>
              <th width="90px">#</th>
              <th width="40px">NO</th>
              <!-- <th>NO KP</th> -->
              <th>No Surat Pesanan</th>
              <th>Nama Cust.</th>
              <!-- <th>SU</th> -->
              <th>Cash Value</th>
              <th>Ket</th>
              <th>Komisi</th>
              <!-- <th>CWH</th> -->
              <th>Pajak</th>
              <th>Net</th>
            </thead>
            <tbody>
              <tr ng-repeat="val in komisiDetail">
                <td class="text-center">
                  <strong>{{ val.tanggal | date:"dd MMM yyyy" }}</strong>
                </td>
                <td>{{ $index+1 }}.</td>
                <!-- <td>{{ val.no_kp }}</td> -->
                <td>{{ val.no_invoice }}</td>
                <td>{{ val.nama_cust }}</td>
                <!-- <td class="text-right"><span class="float-left"> {{ val.no_su | currency:"" }}</td> -->
                <td class="text-right"><span class="float-left">Rp.</span> {{ val.cash | currency:"" }}</td>
                <td class="text-center">{{ val.keterangan }}</td>
                <td class="text-right"><span class="float-left">Rp.</span> {{ val.komisi | currency:"" }}</td>
                <!-- <td class="text-right"><span class="float-left">Rp.</span> {{ val.cwh | currency:"" }}</td> -->
                <td class="text-right"><span class="float-left">Rp.</span> {{ val.pajak | currency:"" }}</td>
                <td class="text-right"><span class="float-left">Rp.</span> {{ val.net | currency:"" }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-right" colspan="4"> <strong>Total</strong> </td>
                <td class="text-right"> <span class="float-left">Rp.</span> {{ komisiDetail_total_cash | currency:"" }}</td>
                <td class="text-right"></td>
                <td class="text-right"> <span class="float-left">Rp.</span> {{ komisiDetail_total_komisi | currency:"" }}</td>
                <!-- <td class="text-right"> <span class="float-left">Rp.</span> {{ 0 | currency:"" }}</td> -->
                <td class="text-right"> <span class="float-left">Rp.</span> {{ komisiDetail_total_pajak | currency:"" }}</td>
                <td class="text-right"> <span class="float-left">Rp.</span> {{ komisiDetail_total_net | currency:"" }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!--
  Berikut Laporan Poin Reseller Anda.
  <div class="table-responsive mt-3" style="min-height:300px">
      <p>Periode : {{ periode_start | date:"dd MMM yyyy" || '*' }} - {{ periode_end | date:"dd MMM yyyy" || '*' }}</p>
      <table class="table table-striped table-hover table-bordered">
          <thead>
              <tr>
                  <th class="align-left" width="5%">No.</th>
                  <th class="align-left">Bulan</th>
                  <th class="align-center" width="20%">Total Penjualan</th>
                  <th class="align-center" width="20%">Total Poin</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in laporan_poin">
                  <td class="align-left">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.bulan | date:"MMMM yyyy" }}</td>
                  <td class="align-right">{{ row.penjualan | currency:"Rp." }}</td>
                  <td class="align-right">{{ row.poin | currency:"" }}</td>
              </tr>
          </tbody>
      </table>
  </div> -->
