
  Berikut Laporan Monthly Reward Anda.
  <div class="table-responsive mt-3" style="min-height:300px">
      <p>Periode : {{ periode_mr | date:"MMMM yyyy" || '*' }}</p>
      <table class="table table-hover table-bordered" border="1px">
        <thead>
          <tr>
            <th class="align-center">No.</th>
            <th class="align-center">Nama Member</th>
            <th class="align-center">Level</th>
            <th class="align-center">Jumlah Member</th>
            <th class="align-center">Total Komisi</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in laporan_mr">
            <td class="text-center">{{ $index+1 }}.</td>
            <td class="align-left">{{ row.kode }} - {{ row.nama }}</td>
            <td class="align-left">{{ row.level }} - {{ row.status_qpa }}</td>
            <td>
              <div ng-repeat="(key, val) in row.members" class="text-left">
                <span ng-if="key == 1">QPA : </span>
                <span ng-if="key == 2">SQPA : </span>
                <span ng-if="key == 3">MQPA : </span>
                <span ng-repeat="(k, v) in val">{{k}} : {{v}}, </span>
              </div>
            </td>
            <td class="align-right">{{ row.monthly_reward | currency:"Rp." }}</td>
          </tr>
        </tbody>
        <tr>
          <th class="text-right pr-1" colspan="4">Total</th>
          <th class="text-right">{{ komisi_mr | currency:"Rp."}}</th>
        </tr>
      </table>
  </div>
