
  Berikut Laporan MCM Anda.
  <div class="table-responsive mt-3" style="min-height:300px">
      <p>Periode : {{ periode_mcm | date:"MMMM yyyy" || '*' }}</p>
      <table class="table table-hover table-bordered" border="1px">
        <thead>
          <tr>
            <th class="align-center">No.</th>
            <th class="align-center">Nama Member</th>
            <th class="align-center">Level</th>
            <th class="align-center">Jumlah Member</th>
            <th class="align-center">Komisi (%)</th>
            <th class="align-center">Total Penjualan</th>
            <th class="align-center">Total Komisi</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in laporan_mcm">
            <td class="text-center">{{ $index+1 }}.</td>
            <td class="align-left">{{ row.data.kode }} - {{ row.data.name }}</td>
            <td class="align-left">{{ row.data.level }}</td>
            <td>
              <span>QPA Beginner  : {{ row.listQPA.Beginner.length }}</span>
              <span>QPA Qualified : {{ row.listQPA.Qualified.length }}</span>
            </td>
            <td class="align-right">{{ row.komisi_persen + "%" }}</td>
            <td class="align-right">{{ row.total_penjualan | currency:"Rp." }}</td>
            <td class="align-right">{{ row.komisi_nominal | currency:"Rp." }}</td>
          </tr>
        </tbody>
        <tr>
          <th class="text-right pr-1" colspan="6">Total</th>
          <th class="text-right">{{komisi_mcm | currency:"Rp."}}</th>
        </tr>
      </table>
  </div>
