
  Berikut Laporan Recruitment Commission Anda.
  <div class="table-responsive mt-3" style="min-height:300px">
      <p>Periode : {{ periode_rc | date:"yyyy" || '*' }}</p>
      <table class="table table-hover table-bordered" border="1px">
        <thead>
          <tr>
            <th class="align-center" width="5%">No.</th>
            <th class="align-left">Bulan</th>
            <th class="align-center" width="20%">Total Penjualan</th>
            <th class="align-center" width="20%">Total Komisi</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in laporan_rc">
            <td class="align-left">{{ $index+1 }}.</td>
            <td class="align-left">{{ row.bulan | date:"MMMM yyyy" }}.</td>
            <td class="align-right">{{ row.total | currency:"Rp." }}</td>
            <td class="align-right">{{ (row.komisi_qpa_b+row.komisi_qpa_q) | currency:"Rp." }}</td>
          </tr>
        </tbody>
        <tr>
          <th class="text-right pr-1" colspan="3">Total</th>
          <th class="text-right">{{komisi_rc | currency:"Rp."}}</th>
        </tr>
      </table>
  </div>
