<div ng-controller="loginCtrl">
    <!-- <div class="app"> -->
    <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form name="form">
                                    <h1>Login</h1>
                                    <p class="text-muted">Sign In to your account</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" ng-model="form.username" placeholder="Username"/>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" ng-model="form.password" placeholder="Password"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4" ng-click="login(form)">Login</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a ui-sref="page.forgot" class="btn btn-link px-0">Lupa Kata Sandi?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
