<div class="animated fadeIn">
    <div ng-controller="mkategoriprodukCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Kategori Produk</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">

                                        <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                            <input st-search="kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                          <select st-search="is_deleted" class="form-control form-control-sm">
                                            <option value="0">Aktif</option>
                                            <option value="1">Terhapus</option>
                                          </select>
                                        </div>
                                      </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                  <th class="align-left">Kode</th>
                                  <th class="align-left">Nama</th>
                                  <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                              <td class="align-left">{{ row.kode }}</td>
                              <td class="align-left">{{ row.nama }}</td>
                              <td>
                                <div class="btn-group pull-right" role="group">
                                  <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                  <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                  <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
              <strong>
                {{formtittle}}
              </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Kode</label>
                            <div class="col-sm-9">
                              <input type="text" readonly="1" class="form-control form-control-sm" ng-model="form.kode" maxlength="45"/>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Nama</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="45" ng-disabled="is_view"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label-sm">Icon</label>

                            <div class="col-sm-3 text-center">
                              <button type="button" class="btn btn-info {{form.icon}}" style="font-size:60px"
                              data-toggle="modal" data-target="#myModal"></button>
                            </div>
                            <div class="col-sm-6">
                              <input type="text" class="form-control form-control-sm ng-pristine ng-valid ng-not-empty ng-touched" ng-model="form.icon" ng-disabled="is_view" style="">
                              <i class="text-danger">* Klik untuk merubah icon.</i>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-sm-3 col-form-label-sm">Deskripsi</label>
                            <div class="col-sm-12">
                              <textarea ng-model="form.deskripsi" class="form-control form-control-sm" ng-disabled="is_view" rows="4"></textarea>
                            </div>
                          </div>
                        </div>
                    </div>
                </form>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title">Pilih icon untuk kategori</span>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-3 mb-5 text-center" ng-repeat="val in faicons">
                            <button class="btn btn-md btn-info fa {{val}}" type="button" name="button" ng-click="setIcon(val)" data-dismiss="modal" style="font-size:40px">
                            </button>
                            <br>
                            <strong class="text-muted">fa {{val}}</strong>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Enf of Modal -->

            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
