<div class="animated fadeIn">
  <div ng-controller="lpesananCtrl">
    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Laporan Arisan</strong>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h6>Filter</h6>
            <hr>
            <div class="row ml-2 mr-2">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Periode</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm" date-range-picker="" ng-model="filter.periode" options="dateRangeOptions" placeholder="Pilih Rentang Tanggal" type="text" />
                  </div>
                </div>

              </div>
              <div class="col-md-6">

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Progres</label>
                  <div class="col-sm-8">
                    <select class="form-control form-control-sm" ng-model="filter.progres">
                      <option value="">.: Pilih Status Progres :.</option>
                      <option value="Berjalan">Berjalan</option>
                      <option value="Selesai">Selesai</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12 text-center mb-3">
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-default btn-sm" ng-click="reset_filter();">
                  <i class="fa fa-refresh"></i>
                  &nbsp;Reset Filter
                </button>
                <button class="btn btn-primary btn-sm" ng-click="view(filter);">
                  <i class="fa fa-search"></i>
                  &nbsp;Tampilkan
                </button>
                <button class="btn btn-warning btn-sm text-white" ng-click="print(filter);">
                  <i class="fa fa-print"></i>
                  &nbsp;Print
                </button>
                <button class="btn btn-success btn-sm" ng-click="export(filter);">
                  <i class="fa fa-download"></i>
                  &nbsp;Export Excel
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="border border-info text-center" ng-if="is_view" id="print-area">
          <div class="col-md-12 table-responsive">
            <br/>
            <h4>Laporan Arisan</h4>
            <span>Periode : {{periode_start | date:"dd MMM yyyy" || '*'}} - {{periode_end | date:"dd MMM yyyy" || '*'}} </span> <br/>
            <span>Status Progres : {{filter.progres || '-'}}</span> <br/><br/>

            <table class="table table-hover table-bordered" border="1px">
              <thead>
                <tr>
                  <th class="align-left">No.</th>
                  <th class="align-left">Kode</th>
                  <th class="align-left">Jumlah Peserta</th>
                  <th class="align-left">Progres</th>
                  <th class="align-left">Tanggal Mulai</th>
                  <th class="align-left">Tanggal Selesai</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in laporan">
                  <td class="tex-center">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.kode }}</td>
                  <td class="text-right">{{ row.jumlah_peserta }}</td>
                  <td class="align-left">{{ row.progres }}</td>
                  <td class="align-left">{{ row.tanggal_mulai | date:"dd MMM yyyy" }}</td>
                  <td class="align-left">{{ row.tanggal_selesai | date:"dd MMM yyyy" }}</td>
                </tr>
              </tbody>
              <!-- <tr>
                <td class="text-right" colspan="9"><strong>Grand Total</strong></td>
                <td class="text-right">{{grand_total | currency:"Rp."}}</td>
              </tr> -->
            </table>
          </div>
        </div>
        <!-- End of print area -->
      </div>
    </div>

  </div>
</div>
