<div class="animated fadeIn">
  <div ng-controller="lmrCtrl">
    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Laporan Monthly Reward</strong>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h6>Filter</h6>
            <hr>
            <div class="row ml-2 mr-2">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Periode</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm" datepicker-mode="'month'" datepicker-options="{minMode: 'month'}" is-open="opened.tgl" ng-click="toggle($event, 'tgl')" ng-model="filter.periode" placeholder="Bulan Tahun" type="text" uib-datepicker-popup="MMMM yyyy" />
                  </div>
                </div>
                <div class="form-group row" ng-if="user.tipe_member=='Admin'">
                  <label class="col-sm-3 col-form-label-sm mb-0">Member</label>
                  <div class="col-sm-8">
                    <ui-select ng-model="filter.member" class="w100" theme="bootstrap">
                      <ui-select-match placeholder="Filter Member [Ketikkan Nama Member]">{{ $select.selected.nama }}</ui-select-match>
                      <ui-select-choices position="down" refresh="getMember($select.search, 'Member')" repeat="member in listMember">{{ member.nama }}</ui-select-choices>
                    </ui-select>
                  </div>
                </div>

              </div>

            </div>
            <div class="col-md-12 text-center mb-3">
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-default btn-sm" ng-click="reset_filter();">
                  <i class="fa fa-refresh"></i>
                  &nbsp;Reset Filter
                </button>
                <button class="btn btn-primary btn-sm" ng-click="view(filter);">
                  <i class="fa fa-search"></i>
                  &nbsp;Tampilkan
                </button>
                <button class="btn btn-warning btn-sm text-white" ng-click="print(filter);">
                  <i class="fa fa-print"></i>
                  &nbsp;Print
                </button>
                <button class="btn btn-success btn-sm" ng-click="export(filter);">
                  <i class="fa fa-download"></i>
                  &nbsp;Export Excel
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="border border-info text-center" ng-if="is_view" id="print-area">
          <div class="col-md-12 table-responsive">
            <br/>
            <h4>Laporan Monthly Reward</h4>
            <span ng-if="user.tipe_member=='Admin'">Member : {{filter.member.nama || 'Semua Member'}} <br> </span>
            <span>Periode : {{periode | date:"MMMM yyyy" || '*'}}</span> <br> <br>

            <table class="table table-hover table-bordered" border="1px">
              <thead>
                <tr>
                  <th class="align-center">No.</th>
                  <th class="align-center">Nama Member</th>
                  <th class="align-center">Level</th>
                  <th class="align-center">Jumlah Member</th>
                  <th class="align-center">Total Komisi</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in laporan">
                  <td class="text-center">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.kode }} - {{ row.nama }}</td>
                  <td class="align-left">{{ row.level }} - {{ row.status_qpa }}</td>
                  <td>
                    <div ng-repeat="(key, val) in row.members" class="text-left">
                      <span ng-if="key == 1">QPA : </span>
                      <span ng-if="key == 2">SQPA : </span>
                      <span ng-if="key == 3">MQPA : </span>
                      <span ng-repeat="(k, v) in val">{{k}} : {{v}}, </span>
                    </div>
                  </td>
                  <td class="align-right">{{ row.monthly_reward | currency:"Rp." }}</td>
                </tr>
              </tbody>
              <tr>
                <th class="text-right pr-1" colspan="4">Total</th>
                <th class="text-right">{{totalKomisi | currency:"Rp."}}</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
