<div class="animated fadeIn">
    <div ng-controller="keranjangBigCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-body">
              <style media="screen">
              i.middle {
                vertical-align: bottom;
                }
              </style>
                <div class="row">
                    <!-- Halaman Penerima saat di galeri produk -->
                    <div class="col-md-12">
                        <h6 class="mt-4">Silakan Pilih Paket Big Disc Order</h6>
                        <hr/>
                        <div class="row" style="padding:20px">

                          <div class="form-group row col-md-6" ng-repeat="val in listBigOrder">

                            <label class="col-sm-1 btn btn-sm {{form.m_big_order == val.id ? 'btn-primary' : 'btn-info'}}" ng-model="form.m_big_order"
                            ng-disabled="is_checkout" uib-btn-radio="{{val.id}}" style="">
                              <i class="middle {{form.m_big_order == val.id ? 'fa fa-check' : 'fa fa-circle-o'}}"></i>
                            </label>


                            <div class="col-sm-11" ng-if="val.jenis_bulk == 'Rupiah'">
                              <h6>{{val.keterangan}}</h6>
                              {{ val.min_beli | currency : "Rp." }} -
                              {{ val.max_beli | currency : "Rp." }},
                              <strong>
                                {{ val.jenis_diskon == 'diskon' ? 'Diskon : ' : "Gratis : " }}
                                <span ng-if="val.jenis_diskon == 'diskon'"> {{ val.diskon }}% </span>
                                <span ng-if="val.jenis_diskon == 'gratis barang'">
                                  {{ val.jumlah }} {{ val.m_produk_gratis.satuan }} {{ val.m_produk_gratis.nama }}
                                </span>
                              </strong>
                            </div>

                            <div class="col-sm-11" ng-if="val.jenis_bulk == 'Pcs'">
                              <h6>{{val.keterangan}}</h6>
                              {{ val.min_beli }} -
                              {{ val.max_beli }} Produk,
                              <strong>
                                {{ val.jenis_diskon == 'diskon' ? 'Diskon : ' : "Gratis : " }}
                                <span ng-if="val.jenis_diskon == 'diskon'"> {{ val.diskon }}% </span>
                                <span ng-if="val.jenis_diskon == 'gratis barang'">
                                  {{ val.jumlah }} {{ val.m_produk_gratis.satuan }} {{ val.m_produk_gratis.nama }}
                                </span>
                              </strong>
                            </div>

                          </div>
                        </div>
                    </div>


                    <div class="col-md-6" ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                        <h6 class="mt-4">Data Penerima</h6>
                        <hr/>
                        <div class="form-group row" ng-if="user.tipe_member == 'Admin' && is_checkout">
                            <label class="col-sm-3 col-form-label-sm">Member</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <ui-select ng-model="form.m_member_id" theme="bootstrap" style="width:85%">
                                        <ui-select-match placeholder="Pilih Member [Ketikkan Nama Member]">{{ $select.selected.nama }}</ui-select-match>
                                        <ui-select-choices position="down" refresh="getMember($select.search)" repeat="reff in listMember">
                                          {{ reff.nama }}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-danger text-white" type="button" ng-click="form.m_member_id=undefined">Hapus</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="is_checkout">
                            <label class="col-sm-3 col-form-label-sm">Reseller</label>
                            <div class="col-sm-9">
                              <div class="input-group input-group-sm">
                                <ui-select ng-model="form.reseller_id" theme="bootstrap" style="width:85%">
                                    <ui-select-match placeholder="Pilih Reseller [Ketikkan Nama Reseller]">{{ $select.selected.nama }}</ui-select-match>
                                    <ui-select-choices position="down" refresh="getReseller($select.search)" repeat="reff in listReseller">{{ reff.nama }}</ui-select-choices>
                                </ui-select>

                                 <div class="input-group-append">
                                   <button class="btn btn-sm btn-danger text-white" type="button" ng-click="form.reseller_id=undefined">Hapus</button>
                                 </div>
                              </div>

                            </div>
                        </div>
                        <div class="form-group row" ng-if="is_checkout">
                            <label class="col-sm-3 col-form-label-sm">Kode Pesanan</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="100" ng-disabled="1"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">Nama Penerima</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.nama_penerima" maxlength="100" ng-disabled="is_view"/>
                            </div>
                        </div>
                        <div classz="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">No. Telp</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.telepon_penerima" maxlength="20" ng-disabled="is_view"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Catatan Pesanan</label>
                            <div class="col-sm-9">
                                <textarea class="form-control form-control-sm" ng-model="form.catatan_pesanan" placeholder="Catatan Pesanan" rows="3"/></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Catatan Pengiriman</label>
                            <div class="col-sm-9">
                                <textarea class="form-control form-control-sm" ng-model="form.catatan" placeholder="Catatan" rows="3" ng-disabled="form.ekspedisi != 'lainnya'"/></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4" ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                        <h6>Alamat Pengiriman</h6>
                        <hr/>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="form.w_provinsi" on-select="cariKota(form.w_provinsi)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                    <ui-select-match placeholder="Pilih Provinsi">{{ $select.selected.provinsi }}</ui-select-match>
                                    <ui-select-choices position="down" repeat="provinsi in listProvinsi | filter:$select.search">{{ provinsi.provinsi }}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">Kabupaten / Kota</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="form.w_kota" on-select="cariKecamatan(form.w_kota)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                    <ui-select-match placeholder="Pilih Kota">{{ $select.selected.kota }}</ui-select-match>
                                    <ui-select-choices position="down" repeat="kota in listKota | filter:$select.search">{{ kota.kota }}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="form.w_kecamatan" on-select="cariDesa(form.w_kecamatan)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                    <ui-select-match placeholder="Pilih Kecamatan">{{ $select.selected.kecamatan }}</ui-select-match>
                                    <ui-select-choices position="down" repeat="kecamatan in listKecamatan | filter:$select.search">{{ kecamatan.kecamatan }}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">Desa</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="form.w_desa" class="w100" theme="bootstrap" ng-disabled="is_view">
                                    <ui-select-match placeholder="Pilih Desa">{{ $select.selected.desa }}</ui-select-match>
                                    <ui-select-choices position="down" repeat="desa in listDesa | filter:$select.search">{{ desa.desa }}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Jalan</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.jalan_penerima" maxlength="255" ng-disabled="is_view" placeholder="Jalan"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">RT / RW</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm angka text-left" ng-model="form.rt_penerima" maxlength="10" ng-disabled="is_view" placeholder="RT"/>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm angka text-left" ng-model="form.rw_penerima" maxlength="10" ng-disabled="is_view" placeholder="RW"/>
                            </div>
                            <label class="col-sm-2 col-form-label-sm required">Kode POS</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control form-control-sm angka text-left" ng-model="form.kode_pos_penerima" maxlength="45" ng-disabled="is_view" placeholder="Kode POS"/>
                            </div>
                        </div>
                    </div>
                    <!-- end of Halaman Penerima saat di galeri produk -->

                    <div class="col-md-12 mt-4" ng-if="!is_checkout" ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                      <h6>Daftar Produk</h6>
                      <hr>
                    </div>

                    <div class="col-md-3" ng-if="!is_checkout" ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                        <div class="form-group row">
                            <!-- <label class="col-sm-4 col-form-label-sm">Surat Pesanan</label> -->
                            <div class="col-sm-12">
                                <select class="form-control form-control-sm" st-search="m_produk.jenis">
                                    <option value="">.: Pilih Jenis Pesanan :.</option>
                                    <option value="po">Pesanan PO</option>
                                    <option value="non-po">Pesanan Non-PO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="!is_checkout"  ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                        <div class="form-group row">
                            <!-- <label class="col-sm-4 col-form-label-sm">Cari Produk</label> -->
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" st-search="m_produk.nama" placeholder="Cari Nama Produk"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="!is_checkout"  ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                        <div class="form-group row">
                            <!-- <label class="col-sm-4 col-form-label-sm">Produk Promo</label> -->
                            <div class="col-sm-12">
                                <select class="form-control form-control-sm" st-search="is_promo">
                                    <option value="">.: Pilih Jenis Promo :.</option>
                                    <option value="promo">Promo</option>
                                    <option value="non-promo">Non Promo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-right" ng-if="!is_checkout" style="top: -5px;"  ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                        <div class="btn-group" role="group" ng-click="checkout('po')" ng-if="(jumlah_po-0) > 0">
                            <button class="btn btn-success">
                                <strong>{{ jumlah_po }}</strong>
                            </button>
                            <button class="btn btn-success">
                                <i class=" fa fa-cart-plus"></i>
                                PO
                            </button>
                        </div>
                        <div ng-if="(jumlah_non_po-0) > 0" class="btn-group mr-3" role="group" ng-click="checkout('non-po')"  ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                            <button class="btn btn-info">
                                <strong>{{ jumlah_non_po }}</strong>
                            </button>
                            <button class="btn btn-info">
                                <i class=" fa fa-cart-plus"></i>
                                Non-PO
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 table-responsive" ng-if="!is_checkout"  ng-hide="form.m_big_order == undefined || form.m_big_order == ''">
                    <hr/>
                    <div class="row">
                        <div class="card col-md-3 mt-3" ng-repeat="row in displayed" style="padding-top: 15px;">
                            <div style="height: 250px; overflow: hidden;">
                                <img class="card-img-top" src="{{ row.img_path }}" alt="Card image" style="width:100%;"/>
                            </div>
                            <div class="card-body" style="padding-left: 0px; padding-right: 0px;">
                                <p class="card-title" style="font-size: 14px">{{ row.nama }}</p>
                                <span style="margin-bottom: 1rem; font-size: 12px;" class="badge badge-pill badge-primary">Daerah Asal - {{ row.kota_asal_kota }}</span>
                                <p class="card-text text-warning" style="font-size: 16px">{{ row.harga_jual | currency:"Rp" }}</p>
                                <p class="card-text text-muted">
                                    <strike ng-if="row.harga_coret!=undefined">{{ row.harga_coret | currency:"Rp" }}</strike>
                                    <span>&nbsp;</span>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-default btn-sm" type="button" style="font-size:14px" ng-click="kurangiPesanan(row)" ng-disabled="row.is_dipesan">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center" ng-model="row.jumlah_pesan" ui-number-mask="0" readonly="row.is_dipesan" style="background-color:white"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-default btn-sm" type="button" style="font-size:14px" ng-click="tambahPesanan(row)" ng-disabled="row.is_dipesan">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <br/>
                                <center>
                                    <button class="btn btn-sm btn-warning" ng-click="isiKeranjang(row)" ng-if="row.is_dipesan==false">Pesan</button>
                                    <button class="btn btn-sm btn-danger" ng-click="hapusKeranjang(row)" ng-if="row.is_dipesan==true">Batal</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>

                <div class="col-md-12" ng-if="is_checkout">
                    <h6>Daftar Pesanan</h6>
                    <hr/>
                    <!-- <div class="form-group row">
                        <label class="col-md-1 col-form-label-sm">
                          <strong> Kode Unik </strong>
                        </label>
                        <div class="col-sm-2">
                            <input class="form-control form-control-sm" type="text" ng-model="form.kode_unik" ng-disabled="1">
                        </div>
                    </div> -->

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="align-center" width="5%">No.</th>
                                <th class="align-center">Produk</th>
                                <th class="align-center">Harga</th>
                                <th class="align-center" width="91px">Jumlah Pesan</th>
                                <th class="align-center">Diskon</th>
                                <th class="align-center" width="112px">Total Berat (gram)</th>
                                <th class="align-center">Total Harga</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in listPesanan">
                                <td class="text-center">{{ $index+1 }}.</td>
                                <td class="align-left">{{ row.kode }} - {{ row.nama }}</td>
                                <td class="align-right" ng-if="row.jenis=='detail'">{{ row.harga_jual | currency:"Rp." }}</td>
                                <td class="align-right" ng-if="row.jenis=='gratis'">Gratis</td>
                                <td class="align-right">
                                    <input type="text" class="form-control form-control-sm angka text-right"
                                    ng-model="row.jumlah_pesan" ng-change="cekOverStok(row)" ng-disabled="is_checkout && row.jenis=='gratis'"/>
                                </td>
                                <td class="align-right">{{ row.diskon_big_order_rp | currency:"Rp." }}</td>
                                <td class="align-right">{{ row.sub_berat | currency:"" }}</td>
                                <td class="align-right">{{ row.sub_total | currency:"Rp." }}</td>
                                <td class="align-center">
                                    <button type="button" class="btn btn-danger btn-sm fa fa-trash" ng-click="remDetPesanan(row)"></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" class="align-right">Total</th>
                                <th class="align-right">{{ form.total_diskon | currency:"Rp." }}</th>
                                <th class="align-right">{{ form.total_berat | currency:"" }}</th>
                                <th class="align-right">{{ form.total | currency:"Rp." }}</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="alert alert-success">
                      <b>Perhatian!</b> <br>
                      3 digit <b>Kode Unik</b> akan ditambahkan ke Grand Total belanja untuk keperluan validasi transfer pembayaran. Silakan transfer sesuai nominal yang tertera.
                    </div>

                    <form name="landaform" novalidate="">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="mt-4">Ekspedisi & Ongkir</h6>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm required">Ekspedisi</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm" ng-model="form.ekspedisi" ng-change="getPaket(form, 'ekspedisi')">
                                            <option value="">.: Pilih Ekspedisi :.</option>
                                            <option value="jne">JNE</option>
                                            <option value="pos">POS Indonesia</option>
                                            <option value="scargo">Sentral Cargo</option>

                                            <option value="tiki">TIKI</option>
                                            <option value="dakota">Dakota</option>

                                            <option value="lainnya">Lainnya</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row" ng-if="form.ekspedisi != 'scargo' && form.ekspedisi != 'lainnya' && form.ekspedisi != undefined">
                                    <label class="col-sm-3 col-form-label-sm">Daerah Asal</label>
                                    <div class="col-sm-6">
                                        <ui-select ng-model="form.kota_asal" class="w100" theme="bootstrap" ng-disabled="is_view" ng-change="getPaket(form, 'kota'); cariKecamatan(form.kota_asal);">
                                            <ui-select-match placeholder="Pilih Kota Asal [Ketikkan Nama Kota]">
                                                {{ $select.selected.kota }}
                                            </ui-select-match>
                                            <ui-select-choices position="down" repeat="kota in listKotaAsal | filter:$select.search">
                                                {{ kota.kota }}
                                            </ui-select-choices>
                                        </ui-select>
                                        <i class="text-red">*Boleh dikosongi</i>
                                    </div>
                                </div>

                                <div class="form-group row" ng-if="form.ekspedisi != 'scargo' && form.ekspedisi != 'lainnya' && form.ekspedisi != undefined">
                                    <label class="col-sm-3 col-form-label-sm">Kecamatan Asal</label>
                                    <div class="col-sm-6">
                                        <ui-select ng-model="form.kecamatan_asal" class="w100" theme="bootstrap" ng-disabled="is_view" ng-change="getPaketKecamatan(form, 'kota')">
                                            <ui-select-match placeholder="Pilih Kota Asal [Ketikkan Nama Kecamatan]">
                                              {{ $select.selected.kecamatan }}
                                            </ui-select-match>
                                            <ui-select-choices position="down" repeat="kota in listKecamatan | filter:$select.search">
                                              {{ kota.kecamatan }}
                                            </ui-select-choices>
                                        </ui-select>
                                        <i class="text-red">*Boleh dikosongi</i>
                                    </div>
                                </div>

                                <div class="form-group row" ng-if="form.ekspedisi == 'scargo' && form.ekspedisi != 'lainnya' && form.ekspedisi != undefined">
                                    <label class="col-sm-3 col-form-label-sm">Daerah Asal</label>
                                    <div class="col-sm-6">
                                        <select ng-model="form.kota_asal" class="form-control form-control-sm w100" theme="bootstrap" ng-disabled="is_view" ng-change="getPaket(form)">
                                            <option value="">- Pilih Kota Asal -</option>
                                            <option ng-repeat="kota in listKotaSC" value="{{kota.OriginDestCode}}">{{ kota.OriginName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" ng-if="form.ekspedisi == 'lainnya'">
                                    <label class="col-sm-3 col-form-label-sm required">Keterangan</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.ekspedisi_ket" ng-change="hitungGrandTotal()"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm required">Total Ongkir</label>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Rp.</span>
                                            <input type="text" class="form-control form-control-sm text-right" ng-model="form.ongkir" ui-number-mask="0" ng-change="hitungGrandTotal()" ng-disabled="0"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm">Grand Total</label>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Rp.</span>
                                            <input type="text" class="form-control form-control-sm text-right" ng-model="form.grand_total" ui-number-mask="0" ng-disabled="1"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" ng-if="form.tipe_produk == 'po'">
                                    <label class="col-sm-3 col-form-label-sm required">Uang Muka (DP)</label>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Rp.</span>
                                            <input type="text" class="form-control form-control-sm text-right" ng-model="form.tagihan_dp" ui-number-mask="0" ng-disabled="0"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="view_raja_ongkir">
                                <div class="form-group row">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Service</th>
                                                <th>Deskripsi</th>
                                                <th>Lama Pengiriman</th>
                                                <th>Harga</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cost in listPaket.costs">
                                                <td class="align-center">
                                                    <button type="button" class="btn btn-sm {{ cost.btn }}" ng-click="setOngkir(cost.cost[0].value, $index)">
                                                        <i class="fa fa-check-square-o"></i>
                                                        Pilih
                                                    </button>
                                                </td>
                                                <td>{{ cost.service }}</td>
                                                <td>{{ cost.description }}</td>
                                                <td>{{ cost.cost[0].etd }}</td>
                                                <td>{{ cost.cost[0].value | currency:"Rp" }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-6" ng-if="view_scargo">
                                <div class="form-group row">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Transport</th>
                                                <th>Kategori</th>
                                                <th>Lama Pengiriman</th>
                                                <th>Harga</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cost in listPaket">
                                                <td class="align-center">
                                                    <button type="button" class="btn btn-sm {{ cost.btn }}" ng-click="setOngkirSC(cost.MustBePaidAmt, $index)">
                                                        <i class="fa fa-check-square-o"></i>
                                                        Pilih
                                                    </button>
                                                </td>
                                                <td>{{ cost.TransportType }}</td>
                                                <td>{{ cost.PackageCategory }}</td>
                                                <td>{{ cost.DeliveryDays }}</td>
                                                <td>{{ cost.MustBePaidAmt | currency:"Rp" }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-6" ng-if="view_dakota">
                                <div class="form-group row">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Harga Pokok</th>
                                                <th class="text-center">Kg Minimum</th>
                                                <th class="text-center">Tarif / Kg (selanjutnya)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">{{ dakota_price.pokok | currency:"Rp " }}</td>
                                                <td class="text-center">{{ dakota_price.minkg }}</td>
                                                <td class="text-center">{{ dakota_price.kgnext | currency:"Rp " }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of view dakota -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer" ng-if="is_checkout">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Lanjutkan Belanja
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form, listPesanan)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
        </div>
    </div>
</div>
