<div class="animated fadeIn">
    <div ng-controller="mprofileCtrl">
        <div class="card">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <div class="row" ng-if="form.link_ktp == undefined || form.link_npwp == undefined || form.link_tabungan == undefined">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <b style="font-size: 16px;">Perhatian</b>
                            <p>Harap lengkapi dokumen anda, dokumen yang perlu dilengkapi adalah</p>
                            <ol>
                                <li ng-if="form.link_ktp == undefined">File scan KTP bagian depan</li>
                                <li ng-if="form.link_npwp == undefined">File scan NPWP bagian depan</li>
                                <li ng-if="form.link_tabungan == undefined">File scan Buku Tabungan bagian depan</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="font-weight-bold">DATA PRIBADI</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Reff ID</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.reff_id" class="w100" theme="bootstrap" ng-disabled="1">
                                        <ui-select-match placeholder="Pilih Reff ID [Ketikkan Nama Member]">{{ $select.selected.nama }}</ui-select-match>
                                        <ui-select-choices position="down" refresh="getReff($select.search)" repeat="reff in listMember">{{ reff.nama }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nik" maxlength="16" ng-disabled="1"  placeholder="NIK"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"  placeholder="Kode"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="100" ng-disabled="true"  placeholder="Nama Lengkap"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Jenis Kelamin</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-primary btn-sm" ng-disabled="true" ng-model="form.jenkel" uib-btn-radio="'laki-laki'">Laki-Laki</label>
                                        <label class="btn btn-primary btn-sm" ng-disabled="true" ng-model="form.jenkel" uib-btn-radio="'perempuan'">Perempuan</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tempat, Tgl Lahir</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.tempat_lahir" maxlength="50" ng-disabled="true" placeholder="Tempat Lahir"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_lahir')" is-open="opened.tanggal_lahir" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_lahir" ng-disabled="true"  placeholder="Tanggal Lahir"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No HP</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_hp" maxlength="25" ng-disabled="is_view"  placeholder="No Telepon / HP"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm requiredp">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.email" maxlength="50" ng-disabled="1"  placeholder="Email"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="font-weight-bold">ALAMAT QPA</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_provinsi" on-select="cariKota(form.w_provinsi)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Provinsi">{{ $select.selected.provinsi }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="provinsi in listProvinsi | filter:$select.search">{{ provinsi.provinsi }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten / Kota</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_kota" on-select="cariKecamatan(form.w_kota)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kota">{{ $select.selected.kota }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="kota in listKota | filter:$select.search">{{ kota.kota }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_kecamatan" on-select="cariDesa(form.w_kecamatan)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kecamatan">{{ $select.selected.kecamatan }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="kecamatan in listKecamatan | filter:$select.search">{{ kecamatan.kecamatan }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Desa</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_desa" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Desa">{{ $select.selected.desa }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="desa in listDesa | filter:$select.search">{{ desa.desa }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jalan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.jalan" maxlength="255" ng-disabled="is_view" placeholder="Nama Jalan"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">RT / RW</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.rt" maxlength="45" ng-disabled="is_view" placeholder="RT"/>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.rw" maxlength="45" ng-disabled="is_view"  placeholder="RW"/>
                                </div>
                                <label class="col-sm-2 col-form-label-sm">Kode POS</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode_pos" maxlength="45" ng-disabled="is_view" placeholder="Kode POS"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <span class="font-weight-bold">BERKAS CALON QPA</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Scan KTP</label>
                                <div class="col-sm-9">
                                    <input accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.file_ktp" type="file" ng-disabled="is_view" ng-if="form.link_ktp == undefined"/>
                                    <a class="btn btn-info btn-sm mt-2" ng-disabled="is_view" target="_blank" href="./api/file/member/{{ form.link_ktp }}" ng-if="form.link_ktp != undefined">
                                        <i class="fa fa-download"></i>
                                        &nbsp;Download File KTP
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Scan NPWP</label>
                                <div class="col-sm-9">
                                    <input type="file"  accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.file_npwp" ng-disabled="is_view" ng-if="form.link_npwp == undefined"/>
                                    <a class="btn btn-info btn-sm mt-2" ng-disabled="is_view" target="_blank" href="./api/file/member/{{ form.link_npwp }}" ng-if="form.link_npwp != undefined">
                                        <i class="fa fa-download"></i>
                                        &nbsp;Download File NPWP
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Scan Buku Tabungan</label>
                                <div class="col-sm-9">
                                    <input type="file" accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.file_tabungan" ng-disabled="is_view" ng-if="form.link_tabungan == undefined"/>
                                    <a class="btn btn-info btn-sm mt-2" ng-disabled="is_view" target="_blank" href="./api/file/member/{{ form.link_tabungan }}" ng-if="form.link_tabungan != undefined">
                                        <i class="fa fa-download"></i>
                                        &nbsp;Download File Buku Tabungan
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <span class="font-weight-bold">REKENING BANK</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Bank</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.bank_nama" maxlength="50" ng-disabled="true" placeholder="Nama Bank"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Atas Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.bank_an" maxlength="100" ng-disabled="true"  placeholder="Atas Nama"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Rekening</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.bank_rekening" maxlength="20" ng-disabled="true"  placeholder="Nomor Rekening"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3" ng-if="form.id != undefined">
                            <span class="font-weight-bold">DETAIL LOGIN</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Username</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.username" ng-disabled="1"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-sm" ng-model="form.password" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mt-3" ng-if="!is_create">
                            <span class="font-weight-bold">LEVEL</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Level Member</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" value="{{ form.level_nama }}" ng-disabled="1"/>
                                </div>
                                <label class="col-sm-3 col-form-label-sm" ng-if="form.level_id == 1 || form.level_id == '1'">Status QPA</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" value="{{ form.status_qpa }}" ng-disabled="1"  ng-if="form.level_id == 1 || form.level_id == '1'"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan Profil
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
