<div class="animated fadeIn">
    <div ng-controller="mmemberCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none" ng-if="user.tipe_member == 'Admin'">Daftar Member</strong>
                <strong class="d-md-down-none" ng-if="user.tipe_member == 'Member'">Daftar Refferal Anda</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();" ng-if="user.tipe_member == 'Admin'">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();" ng-if="user.tipe_member == 'Member'">
                        <i class="fa fa-plus"></i>
                        &nbsp;Pengajuan Member Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nik</label>
                                        <div class="col-sm-2">
                                            <input st-search="nik" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nik"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_member.kode" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Kode"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_member.nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                        <tr>
                            <th class="align-left">Kode</th>
                            <th class="align-left">Nik</th>
                            <th class="align-left">Nama</th>
                            <th class="align-left">Email</th>
                            <th class="align-left">Jenis Kelamin</th>
                            <th class="align-left">Telepon</th>
                            <th class="align-left">Level</th>
                            <th class="align-center">Status</th>
                            <th></th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.kode }}</td>
                            <td class="align-left">{{ row.nik }}</td>
                            <td class="align-left">{{ row.nama }}</td>
                            <td class="align-left">{{ row.email }}</td>
                            <td class="align-left">{{ row.jenkel }}</td>
                            <td class="align-left">{{ row.no_hp }}</td>
                            <td class="align-left">{{ row.level_nama }}</td>
                            <td class="align-center">
                                <span ng-if="row.status == 'menunggu persetujuan'" class="badge badge-warning">Menunggu Persetujuan</span>
                                <span ng-if="row.status == 'aktif'" class="badge badge-success">Aktif</span>
                                <span ng-if="row.status == 'ditolak'" class="badge badge-danger">Diblokir</span>
                                <span ng-if="row.status == 'diblokir'" class="badge badge-danger">Diblokir</span>
                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil"
                                            ng-if="row.is_deleted == 0 && (row.status == 'menunggu persetujuan' || user.akses.master_member_delete)"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash"
                                            ng-if="row.is_deleted == 0 && user.akses.master_member_delete"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-refresh"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
                <button class="btn btn-danger btn-sm float-right" ng-hide="!is_pengajuan"
                        ng-click="konfirmasi(form, 'tolak')">
                    <i class="fa fa-remove"></i>
                    &nbsp;Tolak
                </button>
                <button class="btn btn-success btn-sm float-right mr-2" ng-hide="!is_pengajuan"
                        ng-click="konfirmasi(form, 'terima')">
                    <i class="fa fa-check-square"></i>
                    &nbsp;Setujui
                </button>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="font-weight-bold">DATA PRIBADI</span>
                            <hr/>
                            <div class="form-group row" ng-if="user.tipe_member == 'Admin'">
                                <label class="col-sm-3 col-form-label-sm">Reff ID</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.reff_id" class="w100" theme="bootstrap"
                                               ng-disabled="!is_create">
                                        <ui-select-match placeholder="Pilih Reff ID [Ketikkan Nama Member]">
                                            {{ $select.selected.nama }}
                                        </ui-select-match>
                                        <ui-select-choices position="down" refresh="getReff($select.search)"
                                                           repeat="reff in listMember">{{ reff.nama }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="angka text-left form-control form-control-sm"
                                           ng-model="form.nik" maxlength="16" ng-disabled="is_view" placeholder="NIK"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode"
                                           maxlength="45" ng-disabled="1" placeholder="Kode"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           maxlength="100" ng-disabled="is_view" placeholder="Nama Lengkap"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Jenis Kelamin</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-primary btn-sm" ng-disabled="is_view"
                                               ng-model="form.jenkel" uib-btn-radio="'laki-laki'">Laki-Laki</label>
                                        <label class="btn btn-primary btn-sm" ng-disabled="is_view"
                                               ng-model="form.jenkel" uib-btn-radio="'perempuan'">Perempuan</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tempat, Tgl Lahir</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.tempat_lahir"
                                           maxlength="50" ng-disabled="is_view" placeholder="Tempat Lahir"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-click="toggle($event, 'tanggal_lahir')" is-open="opened.tanggal_lahir"
                                           uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_lahir"
                                           ng-disabled="is_view" placeholder="Tanggal Lahir"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No HP</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_hp"
                                           maxlength="25" ng-disabled="is_view" placeholder="No Telepon / HP"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.email"
                                           maxlength="50" ng-disabled="is_view" placeholder="Email"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="font-weight-bold">ALAMAT MEMBER</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_provinsi" on-select="cariKota(form.w_provinsi)"
                                               class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Provinsi">{{ $select.selected.provinsi }}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="provinsi in listProvinsi | filter:$select.search">
                                            {{ provinsi.provinsi }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten / Kota</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_kota" on-select="cariKecamatan(form.w_kota)"
                                               class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kota">{{ $select.selected.kota }}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="kota in listKota | filter:$select.search">
                                            {{ kota.kota }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_kecamatan" on-select="cariDesa(form.w_kecamatan)"
                                               class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kecamatan">{{ $select.selected.kecamatan
                                            }}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="kecamatan in listKecamatan | filter:$select.search">
                                            {{ kecamatan.kecamatan }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Desa</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_desa" class="w100" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Desa">{{ $select.selected.desa }}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="desa in listDesa | filter:$select.search">
                                            {{ desa.desa }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jalan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.jalan"
                                           maxlength="255" ng-disabled="is_view" placeholder="Nama Jalan"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">RT / RW</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.rt"
                                           maxlength="45" ng-disabled="is_view" placeholder="RT"/>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.rw"
                                           maxlength="45" ng-disabled="is_view" placeholder="RW"/>
                                </div>
                                <label class="col-sm-2 col-form-label-sm">Kode POS</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode_pos"
                                           maxlength="45" ng-disabled="is_view" placeholder="Kode POS"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <span class="font-weight-bold">BERKAS MEMBER</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">KTP</label>
                                <div class="col-sm-9">
                                    <!-- <input accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.file_ktp" type="file" ng-disabled="is_view" ng-if="form.link_ktp == undefined"/> -->
                                    <input accept="application/pdf,image/x-png,image/gif,image/jpeg"
                                           base-sixty-four-input="" class="form-control form-control-sm"
                                           ng-model="form.file_ktp" type="file" ng-disabled="is_view"/>
                                    <a class="btn btn-info btn-sm mt-2" ng-disabled="is_view" target="_blank"
                                       href="./api/file/member/{{ form.link_ktp }}" ng-if="form.link_ktp != undefined">
                                        <i class="fa fa-download"></i>
                                        &nbsp;Download File KTP
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NPWP</label>
                                <div class="col-sm-9">
                                    <!-- <input type="file"  accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.file_npwp" ng-disabled="is_view" ng-if="form.link_npwp == undefined"/> -->
                                    <input type="file" accept="application/pdf,image/x-png,image/gif,image/jpeg"
                                           base-sixty-four-input="" class="form-control form-control-sm"
                                           ng-model="form.file_npwp" ng-disabled="is_view"/>
                                    <a class="btn btn-info btn-sm mt-2" ng-disabled="is_view" target="_blank"
                                       href="./api/file/member/{{ form.link_npwp }}"
                                       ng-if="form.link_npwp != undefined">
                                        <i class="fa fa-download"></i>
                                        &nbsp;Download File NPWP
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Buku Tabungan</label>
                                <div class="col-sm-9">
                                    <!-- <input type="file" accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.file_tabungan" ng-disabled="is_view" ng-if="form.link_tabungan == undefined"/> -->
                                    <input type="file" accept="application/pdf,image/x-png,image/gif,image/jpeg"
                                           base-sixty-four-input="" class="form-control form-control-sm"
                                           ng-model="form.file_tabungan" ng-disabled="is_view"/>
                                    <a class="btn btn-info btn-sm mt-2" ng-disabled="is_view" target="_blank"
                                       href="./api/file/member/{{ form.link_tabungan }}"
                                       ng-if="form.link_tabungan != undefined">
                                        <i class="fa fa-download"></i>
                                        &nbsp;Download File Buku Tabungan
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <span class="font-weight-bold">REKENING BANK</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama Bank</label>
                                <div class="col-sm-9">
                                    <!-- <input type="text" class="form-control form-control-sm" ng-model="form.bank_nama" maxlength="50" ng-disabled="is_view" placeholder="Nama Bank"/> -->
                                    <ui-select ng-model="form.bank" class="w100" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Bank [Ketikkan Nama Bank]">
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="bank in listBank | filter:$select.search">
                                            {{ bank.name }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Atas Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.bank_an"
                                           maxlength="100" ng-disabled="is_view" placeholder="Atas Nama"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">No Rekening</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm angka text-left"
                                           ng-model="form.bank_rekening" maxlength="20" ng-disabled="is_view"
                                           placeholder="Nomor Rekening"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3" ng-if="user.m_roles_id == '1' || user.m_roles_id == 1 ">
                            <span class="font-weight-bold">STATUS</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Status Member</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="form.status"
                                            ng-change="cekStatus(form.status)" ng-disabled="is_view">
                                        <option value="">.: Pilih Status Member :.</option>
                                        <option value="menunggu persetujuan">Menunggu Persetujuan</option>
                                        <option value="aktif">Aktif</option>
                                        <option value="ditolak">Ditolak</option>
                                        <option value="diblokir">Diblokir</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.status == 'diblokir'">
                                <label class="col-sm-3 col-form-label-sm">Alasan blokir</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.alasan_blokir"
                                              rows="3" ng-disabled="is_view" placeholder="Alasan Blokir"></textarea>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.status == 'diblokir'">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Blokir</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-click="toggle($event, 'tanggal_blokir')" is-open="opened.tanggal_blokir"
                                           uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_blokir"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3" ng-if="!is_create">
                            <span class="font-weight-bold">LEVEL</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Level Member</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{ form.level_nama }}" ng-disabled="1"/>
                                </div>
                                <label class="col-sm-3 col-form-label-sm"
                                       ng-if="form.level_id == 1 || form.level_id == '1'">Status QPA</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{ form.status_qpa }}" ng-disabled="1"
                                           ng-if="form.level_id == 1 || form.level_id == '1'"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3" ng-if="form.id != undefined && form.status == 'aktif'">
                            <span class="font-weight-bold">DETAIL LOGIN</span>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Username</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.username"
                                           ng-disabled="1"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-sm" ng-model="form.password"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="user.m_roles_id == '1' || user.m_roles_id == 1 ">
                                <label class="col-sm-3 col-form-label-sm required">Hak Akses</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-disabled="is_view"
                                            ng-model="form.m_roles_id">
                                        <option value="">-Pilih Hak Akses-</option>
                                        <option ng-repeat="kat in listHakakses" value="{{ kat.id }}">{{ kat.nama }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer" ng-hide="is_pengajuan">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
