<div class="animated fadeIn">
    <div ng-controller="artikelCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Artikel</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Judul</label>
                                        <div class="col-sm-2">
                                            <input st-search="judul" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="text-center" rowspan="2">No.</th>
                                    <th class="text-center" rowspan="2">Judul</th>
                                    <th class="text-center" rowspan="2">Dibuat Oleh</th>
                                    <th class="text-center" colspan="2">Publish</th>
                                    <!-- <th class="align-left">Aktif / Non-Aktif</th> -->
                                    <th></th>
                                </tr>
                                <tr>
                                  <th class="text-center">Status</th>
                                  <th class="text-center">Tanggal</th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="text-center">{{ $index + 1 }}.</td>
                                <td class="align-left">{{ row.judul }}</td>
                                <td class="text-center">{{ row.pembuat }}</td>
                                <td class="text-center">
                                  <h6><span ng-if="row.is_publish == 1" class="badge badge-success">Published</span></h6>
                                  <h6><span ng-if="row.is_publish == 0" class="badge badge-warning">Draft</span></h6>
                                </td>
                                <td class="text-center">{{ row.tanggal_publish | date:"dd-MM-yyyy"}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-8 border-right border-secondary pt-1 pb-1">
                          <input type="text" class="form-control form-control-sm mb-2" ng-change="slugify(form.judul)"
                          ng-model="form.judul" ng-disabled="is_view" placeholder="Ketikkan Judul Artikel"/>
                          <div text-angular ng-model="form.artikel"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <strong class="col-sm-12 col-form-label-sm">
                                  URL
                                </strong>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.url" ng-disabled="is_view || form.id > 0"/>
                                </div>
                            </div>
                            <div class="form-group">
                              <strong class="col-sm-12 col-form-label-sm">
                                Simpan Sebagai
                              </strong>
                              <div class="col-sm-12">
                                <div class="btn-group">
                                  <label class="btn btn-primary btn-sm" ng-disabled="is_view" ng-model="form.is_publish" uib-btn-radio="'1'">
                                    <i class="{{ form.is_publish=='1' ? 'fa fa-check-square' : '' }}"></i> Artikel Published
                                  </label>
                                  <label class="btn btn-warning btn-sm text-white" ng-disabled="is_view" ng-model="form.is_publish" uib-btn-radio="'0'">
                                    <i class="{{ form.is_publish=='0' ? 'fa fa-check-square' : '' }}"></i> Draft
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <strong class="col-sm-12 col-form-label-sm">
                                Kategori
                              </strong>
                              <div class="col-sm-12">
                                  <select class="form-control form-control-sm" ng-model="form.kategori" ng-disabled="is_view">
                                    <option value="">Pilih Kategori Artikel</option>
                                    <option value="Halaman">Halaman</option>
                                    <option value="Berita">Berita</option>
                                    <option value="Agenda">Agenda</option>
                                  </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <strong class="col-sm-12 col-form-label-sm">
                                Tanggal Publish
                              </strong>
                              <div class="col-sm-5">
                                  <input type="text" class="form-control form-control-sm"
                                         ng-click="toggle($event, 'tanggal_publish')"
                                         is-open="opened.tanggal_publish"
                                         uib-datepicker-popup="dd-MM-yyyy"
                                         ng-model="form.tanggal_publish" ng-disabled="1"/>
                              </div>
                            </div>
                            <div class="form-group">
                                <strong class="col-sm-12 col-form-label-sm">
                                  Deskripsi
                                </strong>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" ng-model="form.deskripsi"
                                    ng-disabled="is_view" placeholder=""/></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <strong class="col-sm-12 col-form-label-sm">
                                  Keyword
                                </strong>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" ng-model="form.keyword"
                                    ng-disabled="is_view" placeholder=""/></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
