<div class="animated fadeIn">
  <div ng-controller="apembayaranCtrl">
    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Approval Pembayaran</strong>
        <div class="btn-group pull-right mt-5px" role="group">
          <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <i class="fa fa-search"></i>
            &nbsp;Pencarian
          </button>
          <!-- <button class="btn btn-primary btn-sm" ng-click="create();">
            <i class="fa fa-plus"></i>
            &nbsp;Buat Baru
          </button> -->
        </div>
      </div>
      <div class="card-body p-0px">
        <div class="pl-15px pr-15px">
          <div class="row mt-15px" ng-show="!isCollapsed">
            <div class="col-md-12">
              <div class="alert alert-secondary">
                <form name="landaform" novalidate="">
                  <div class="form-group row mb-0">
                    <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                          <input st-search="kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode" />
                                        </div> -->
                    <label class="col-sm-2 col-form-label-sm mb-0">Kode Surat Pesanan</label>
                    <div class="col-sm-2">
                      <input st-search="t_penjualan.kode" class="form-control form-control-sm" placeholder="Kode Surat Pesanan" />
                    </div>
                    <label class="col-sm-2 col-sm-offset-1 col-form-label-sm mb-0">Nama Member</label>
                    <div class="col-sm-2">
                      <input st-search="m_member.nama" class="form-control form-control-sm" placeholder="Nama Member" />
                    </div>
                    <label class="col-sm-1 col-sm-offset-1 col-form-label-sm mb-0">Status</label>
                    <div class="col-sm-2">
                      <select st-search="t_konfirmasi_pembayaran.status" class="form-control form-control-sm">
                        <option value="">.: Pilih Status :.</option>
                        <option value="Pending" selected>Pending</option>
                        <option value="Approved">Diterima</option>
                        <option value="Rejected">Ditolak</option>
                      </select>

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
              <tr>
                <th class="align-left">Kode Konfirmasi</th>
                <th class="align-left">Kode Pesanan</th>
                <th class="align-left">Nama Member</th>
                <th class="align-left">Total Tagihan</th>
                <th class="align-left">Total Transfer</th>
                <th class="align-left">Tgl. Transfer</th>
                <th class="align-left" style="width:250px">Bank</th>
                <th class="align-left">Status</th>
                <!-- <th class="align-left">Aktif / Non-Aktif</th> -->
                <th></th>
              </tr>
              </tr>
            </thead>
            <tbody ng-show="!isLoading">
              <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                <td class="align-left">{{ row.kode }}</td>
                <td class="align-left">{{ row.t_penjualan_kode }}</td>
                <td class="align-left">{{ row.m_member_nama }}</td>
                <td class="align-left">{{ row.grand_total | currency:"Rp."}}</td>
                <td class="align-left">{{ row.nominal_transfer | currency:"Rp."}}</td>
                <td class="align-left">{{ row.tanggal_transfer | date:"dd MMM yyyy"}}</td>
                <td class="align-left">{{ row.bank.name }}, a/n. {{row.bank_atas_nama}}</td>
                <td class="align-left">{{ row.status }}</td>
                <!-- <td class="align-left">
                                  <h6><span ng-if="row.is_used == 1" class="badge badge-success">Aktif</span></h6>
                                  <h6><span ng-if="row.is_used == 0" class="badge badge-secondary">Non-aktif</span></h6>
                                </td> -->
                <td>
                  <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-info fa fa-check" ng-if="row.is_deleted == 0 && row.status == 'Pending'" ng-click="view(row)"></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
      </div>
    </div>
    <div class="card" ng-if="is_edit">
      <div class="card-header">
        <strong>{{ formtittle }}</strong>
        <button class="btn btn-danger btn-sm float-right" ng-hide="form.status != 'Pending'" data-toggle="modal" data-target="#myModal">
          <i class="fa fa-remove"></i>
          &nbsp;Tolak
        </button>
        <button class="btn btn-success btn-sm float-right mr-2" ng-hide="form.status != 'Pending'" ng-click="konfirmasi(form, 'Approved')">
          <i class="fa fa-check"></i>
          &nbsp;Konfirmasi
        </button>
      </div>
      <div class="card-body">
        <form name="landaform" novalidate="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Kode</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Tanggal Transfer</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_transfer')" is-open="opened.tanggal_transfer" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_transfer" ng-disabled="is_view"
                    placeholder="Tanggal Transfer" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Kode Surat Pesanan</label>
                <div class="col-sm-6">
                  <ui-select ng-model="form.t_penjualan_id" class="w100" theme="bootstrap" ng-disabled="is_view" on-select="setPesanan(form.t_penjualan_id)">
                    <ui-select-match placeholder="Pilih Kode Pesanan [Ketikkan Kode]">{{ $select.selected.kode }}</ui-select-match>
                    <ui-select-choices position="down" refresh="getPesanan($select.search)" repeat="pesanan in listPesanan">{{ pesanan.kode }}</ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Total Tagihan</label>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text">Rp.</span>
                    <input type="text" class="form-control form-control-sm text-right" ng-model="form.grand_total" ng-disabled="1" ui-number-mask="0" />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Tanggal Surat Pesanan</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_pesanan')" is-open="opened.t_penjualan_tanggal" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.t_penjualan_tanggal" ng-disabled="1"
                    placeholder="Tanggal Surat Pesanan" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Jenis Pembayaran</label>
                <div class="col-sm-6">
                  <select type="text" class="form-control form-control-sm" ng-model="form.jenis_pembayaran" ng-disabled="is_view">
                    <option value="">.: Pilih Jenis Pembayaran :.</option>
                    <option value="Pembayaran DP">Pembayaran DP</option>
                    <option value="Pelunasan DP">Pelunasan</option>
                  </select>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Status Approval</label>
                <div class="col-sm-6">
                  <strong class="text-info" ng-if="form.status =='Pending'">Pending</strong>
                  <strong class="text-success" ng-if="form.status =='Approved'">Diterima</strong>
                  <strong class="text-danger" ng-if="form.status =='Rejected'">Ditolak</strong>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Bank</label>
                <div class="col-sm-6">
                  <ui-select ng-model="form.bank" class="w100" theme="bootstrap" ng-disabled="is_view">
                    <ui-select-match placeholder="Pilih Bank [Ketikkan Nama Bank]">{{ $select.selected.name }}</ui-select-match>
                    <ui-select-choices position="down" repeat="bank in listBank | filter:$select.search">{{ bank.name }}</ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Nama Pemilik Bank</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-sm" ng-model="form.bank_atas_nama" ng-disabled="is_view" placeholder="Nama Pemilik Bank" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Nominal Transfer</label>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text">Rp.</span>
                    <input type="text" class="form-control form-control-sm text-right" ng-model="form.nominal_transfer" ng-disabled="is_view" ui-number-mask="0" placeholder="Nominal Transfer" />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Keterangan</label>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control form-control-sm" ng-model="form.keterangan" ng-disabled="is_view" placeholder="Keterangan" rows="3"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Foto Bukti Transfer</label>
                <div class="col-sm-9">
                  <img src="./api/file/pembayaran/{{form.t_penjualan_id.m_member_id}}/{{ form.link_transfer }}" class="img-thumbnail" style="max-height:250px;" />
                </div>
              </div>
            </div>

            <!-- Button to Open the Modal -->

            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog modal-md">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Alasan penolakan pembayaran</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label-sm required">Alasan</label>
                      <div class="col-sm-9">
                        <textarea class="form-control form-control-sm" ng-model="form.keterangan" placeholder="Alasan" rows="3" /></textarea>
                      </div>
                    </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="konfirmasi(form, 'Rejected')">Simpan</button>
                  </div>

                </div>
              </div>
            </div>


          </div>

        </form>
      </div>
      <div class="card-footer">
        <div class="pull-right">
          <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
            <i class="fa fa-arrow-left"></i>
            &nbsp;Kembali
          </button>
          <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
