<div class="modal-header">
    <div class="row">
        <div class="col-lg-6">
            <h4 class="modal-title">Alasan Penolakan</h4>
        </div>
        <div class="col-md-6" align="right">
            <button ng-click="close()" title="Close" class="btn btn-rounded btn btn-icon btn-info" ng-show="is_view">
              <i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</div>
<div class="modal-body" id="print">
    <form name="modalform" class="form-horizontal form-validation">
        <div id="exportExcel">
          <div class="wrapper-md">

            <div class="panel-heading text-left">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th ng-hide="is_view" style="width: 5%"></th>
                          <th style="width: 25%"> Kode Batch </th>
                          <th style="width: 15%"> Tgl Kadaluarsa </th>
                          <th style="width: 25%"> Jumlah </th>
                          <th style="width: 20%"> Satuan </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="row in params.batch">
                          <td ng-hide="is_view" style="padding: 0px;" class="text-center">
                              <button class="btn btn-danger" ng-click="rmBatch($index)" type="" ng-disabled="is_view">
                                  <i class="glyphicon glyphicon-trash">
                                  </i>
                              </button>
                          </td>
                          <td>
                            <input class="text-center w100" type="text" ng-disabled="is_view" ng-model="row.kode_batch" ng-blur="cekDupes(row.kode_batch, $index)">
                          </td>
                          <td class="text-center">
                            <input class="x-form w100 text-center ng-pristine ng-untouched ng-isolate-scope ng-not-empty ng-valid ng-valid-date"
                            is-open="opened[$index]" ng-click="toggle($event, $index)" ng-disabled="is_view"
                            ng-model="row.tgl_kadaluarsa" type="text" uib-datepicker-popup="dd-MM-yyyy"/>
                          </td>
                          <td class="text-center">
                            <input class="text-center w100" type="text" ng-disabled="is_view" ng-model="row.qty" ui-number-mask="0">
                          </td>
                          <td class="text-center">
                            <select class="x-form" ng-disabled="is_view" ng-model="row.satuan_id" ng-change="changeSatuan($index, row.satuan_id)">
                              <option value="">-Pilih Satuan-</option>
                              <option ng-repeat="val in params.konversi" value="{{val.satuan_id}}" ng-selected="row.satuan_id == val.satuan_id">
                                {{val.satuan_nama}}
                              </option>
                            </select>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer" ng-show="!is_view">
          <button type="button" class="btn btn-primary" ng-click="close()">
            <i class="glyphicon glyphicon-floppy-save">
            </i>
            Simpan
          </button>
        </div>
    </form>
</div>
