<div class="animated fadeIn">
  <div ng-controller="treeCtrl">
    <div class="card">
      <div class="card-header">
        <strong>Struktur Pohon Jaringan </strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="tree-container">
                <tree nodes='qpaTree' options='options'></tree>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
