<div class="animated fadeIn">
    <div ng-controller="rpesananCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Riwayat Pesanan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kode</label> -->
                                        <div class="col-sm-3">
                                            <input st-search="t_penjualan.kode" class="form-control form-control-sm" placeholder="Kode Pesanan"/>
                                        </div>
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Nama</label> -->
                                        <div class="col-sm-3">
                                            <input st-search="m_member.nama" class="form-control form-control-sm" placeholder="Nama Member"/>
                                        </div>
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Status</label> -->
                                        <div class="col-sm-3">
                                          <select st-search="t_penjualan.status" class="form-control form-control-sm">
                                            <option value=''>Filter Status Pesanan</option>
                                            <option value='Menunggu Pembayaran'>Menunggu Pembayaran</option>
                                            <option value='Pembayaran DP'>Pembayaran DP</option>
                                            <option value='Lunas'>Lunas</option>
                                            <option value='Proses Pengiriman'>Proses Pengiriman</option>
                                            <option value='Selesai'>Selesai</option>
                                          </select>
                                        </div>
                                        <div class="col-sm-3">
                                          <select st-search="t_penjualan.is_deleted" class="form-control form-control-sm">
                                            <option value='0'> Tersedia </option>
                                            <option value='1'> Terhapus </option>
                                          </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="min-height:300px">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <tr>
                                    <th rowspan="2" class="align-left" width="10%">Kode</th>
                                    <th rowspan="2" class="align-left" style="width:95px" st-sort="t_penjualan.tanggal">Tanggal</th>
                                    <th rowspan="2" class="align-left" style="width:95px" st-sort="t_penjualan.tanggal_lunas">Tgl Lunas</th>
                                    <th rowspan="2" class="align-left" ng-if="user.tipe_member=='Admin'" width="10%">
                                      Member
                                    </th>
                                    <th rowspan="2" class="align-left">Jenis<br>Pesanan</th>
                                    <th rowspan="2" class="align-left">Produk</th>

                                    <th colspan="2" class="text-center">Tagihan</th>
                                    <th rowspan="2" class="align-left">Poin</th>
                                    <th rowspan="2" class="align-left">Status</th>
                                    <th rowspan="2" class="align-left">No. Resi</th>
                                    <th rowspan="2" class="align-left">Terakhir Diubah</th>
                                    <th rowspan="2"></th>
                                </tr>
                                <tr>
                                  <th class="text-left">DP</th>
                                  <th class="text-left">Pesanan</th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.tanggal | date:"dd MMM yyyy" }}</td>
                                <td class="align-left">{{ row.tanggal_lunas | date:"dd MMM yyyy" }}</td>
                                <td class="align-left" ng-if="user.tipe_member=='Admin'">
                                  {{ row.m_member.nama }} ({{row.m_member.no_hp}})
                                </td>
                                <td class="align-left">{{ row.jenis_pesanan | uppercase }}</td>
                                <td class="align-left">
                                  <span ng-repeat="produk in row.detailProduk">
                                    - <strong>({{produk.jumlah}})</strong> {{produk.nama}} <br>
                                  </span>
                                </td>
                                <td class="text-right">
                                  <i class="{{ (row.t_moota_id_dp > 0) ? 'text-success fa fa-check' : 'text-warning fa fa-refresh' }}" ng-if="row.tagihan_dp > 0"></i>
                                  <i class="text-success fa fa-check" ng-if="row.tagihan_dp == 0"></i>
                                  {{ row.tagihan_dp | currency:"Rp." }}
                                </td>
                                <td class="text-right">
                                  <i class="{{ row.t_moota_id_pesanan > 0 ? 'text-success fa fa-check' : 'text-warning fa fa-refresh' }}"></i>
                                  {{ row.tagihan_pesanan | currency:"Rp." }}
                                </td>
                                <td class="text-center">
                                  {{ (row.status == 'Pembayaran DP' || row.status == 'Menunggu Pembayaran') ? '-' : row.poin_penjualan || 0 }}
                                </td>
                                <td class="align-left" ng-if="user.tipe_member=='Member' && row.status!='Proses Pengiriman'">{{ row.status }}</td>
                                <td class="align-left" ng-if="user.tipe_member=='Member' && row.status=='Proses Pengiriman'">
                                    <button type="button" class="btn btn-primary btn-sm"  ng-click="updateStatus(row, 'Sudah Sampai')">Terima Pesanan</button>
                                </td>
                                <td class="align-left" ng-if="user.tipe_member=='Admin'">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" ng-disabled="row.status == 'Selesai'">
                                              {{ row.status }}
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-item" ng-click="updateStatus(row, 'Menunggu Pembayaran')">Menunggu Pembayaran</span>
                                                <span class="dropdown-item" ng-click="updateStatus(row, 'Pembayaran DP')">Pembayaran DP</span>
                                                <span class="dropdown-item" ng-click="updateStatus(row, 'Lunas')">Lunas</span>
                                                <span class="dropdown-item" ng-click="updateStatus(row, 'Proses Pengiriman')">Proses Pengiriman</span>
                                                <span class="dropdown-item" ng-click="updateStatus(row, 'Selesai')">Selesai</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <span ng-if="row.status=='Selesai' && row.is_tutup_bulan==1">{{row.status}}</span> -->
                                </td>
                                <td class="align-left">{{ row.no_resi }}</td>
                                <td class="align-left">
                                  {{ row.editted_by != undefined ? row.editted_by : '-'}} <br>
                                  {{ row.modified_at*1000 | date:"EEEE, MMMM d, y h:mm:ss a" }}
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-primary fa fa-print" ng-click="cetakNota(row.id)" title="Cetak Nota Pesanan"></button>
                                        <button type="button" class="btn btn-info fa fa-eye" ng-if="row.is_deleted == 0 && user.tipe_member=='Member'" ng-click="view(row)"></button>
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0 && user.tipe_member=='Admin'" ng-click="update(row)" ng-disabled="row.status == 'Selesai'"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0 && user.tipe_member=='Admin'" ng-click="trash(row);" ng-disabled="row.status == 'Selesai'"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1 && user.tipe_member=='Admin'" ng-click="restore(row);" ng-disabled="row.status == 'Selesai'"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>

                <button type="button" class="btn btn-sm btn-info float-right" ng-click="cetakAlamat(form)" title="Cetak Alamat Pengiriman" ng-if="user.tipe_member=='Admin'">
                  Cetak Alamat Pengiriman</button>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Data Member & Reseller</h6>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Member</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.m_member" class="w100" theme="bootstrap" ng-disabled="!user.akses.transaksi_histori_pesanan_member">
                                        <ui-select-match placeholder="Pilih Member [Ketikkan Nama Member]">{{ $select.selected.nama }}</ui-select-match>
                                        <ui-select-choices position="down" refresh="getMember($select.search, 'Member')" repeat="reff in listMember">{{ reff.nama }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Reseller</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.reseller" class="w100" theme="bootstrap" ng-disabled="1">
                                        <ui-select-match placeholder="Pilih Reseller [Ketikkan Nama Reseller]">{{ $select.selected.nama }}</ui-select-match>
                                        <ui-select-choices position="down" refresh="getMember($select.search, 'Reseller')" repeat="reff in listReseller">{{ reff.nama }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <br/>
                            <h6 class="mt-3">Data Penjualan</h6>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode</label>
                                <div class="col-sm-4">
                                    <input type="text" readonly="1" class="form-control form-control-sm" ng-model="form.kode" maxlength="45"/>
                                </div>
                                <label class="col-sm-2 col-form-label-sm">Tanggal</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_lahir')" is-open="opened.tanggal_lahir" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" ng-disabled="true" placeholder="Tanggal"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jenis</label>
                                <div class="col-sm-4">
                                    <select class="form-control form-control-sm" ng-model="form.jenis_pesanan" ng-disabled="true">
                                        <option value="po">PO</option>
                                        <option value="non-po">Non-PO</option>
                                        <!-- <option value="Menunggu Pembayaran">Menunggu Pembayaran</option>
                                        <option value="Pembayaran DP">Pembayaran DP</option>
                                        <option value="Lunas">Lunas</option>
                                        <option value="Proses Pengiriman">Proses Pengiriman</option>
                                        <option value="Selesai">Selesai</option> -->
                                    </select>
                                </div>
                                <label class="col-sm-2 col-form-label-sm">Poin</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm angka text-left"
                                    ng-model="form.poin_penjualan" ng-disabled="1" placeholder="Poin"
                                    ng-show="(form.status != 'Pembayaran DP' && form.status != 'Menunggu Pembayaran')" />
                                    <span ng-show="(form.status == 'Pembayaran DP' || form.status == 'Menunggu Pembayaran')">-</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Status</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="form.status" ng-disabled="is_view">
                                        <option value="Menunggu Pembayaran">Menunggu Pembayaran</option>
                                        <option value="Pembayaran DP">Pembayaran DP</option>
                                        <option value="Lunas">Lunas</option>
                                        <option value="Proses Pengiriman">Proses Pengiriman</option>
                                        <option value="Selesai">Selesai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.status == 'Proses Pengiriman'">
                                <label class="col-sm-3 col-form-label-sm">Resi</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_resi" ng-disabled="is_view" placeholder="No. Resi Pengiriman"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Catatan Pesanan</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.catatan_pesanan" ng-disabled="is_view" placeholder="Catatan Pesanan" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Catatan Pengiriman</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.catatan" ng-disabled="form.ekspedisi != 'lainnya'" placeholder="Catatan Pengiriman" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Data Penerima</h6>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="form.nama_penerima" class="form-control form-control-sm" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No. HP</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="form.telepon_penerima" class="form-control form-control-sm" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_provinsi" on-select="cariKota(form.w_provinsi)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Provinsi">{{ $select.selected.provinsi }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="provinsi in listProvinsi | filter:$select.search">{{ provinsi.provinsi }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten / Kota</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_kota" on-select="cariKecamatan(form.w_kota)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kota">{{ $select.selected.kota }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="kota in listKota | filter:$select.search">{{ kota.kota }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_kecamatan" on-select="cariDesa(form.w_kecamatan)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kecamatan">{{ $select.selected.kecamatan }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="kecamatan in listKecamatan | filter:$select.search">{{ kecamatan.kecamatan }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Desa</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.w_desa" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Desa">{{ $select.selected.desa }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="desa in listDesa | filter:$select.search">{{ desa.desa }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jalan</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="form.jalan_penerima" class="form-control form-control-sm" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">RT / RW</label>
                                <div class="col-sm-2">
                                    <input type="text" ng-model="form.rt_penerima" class="form-control form-control-sm" ng-disabled="is_view"/>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" ng-model="form.rw_penerima" class="form-control form-control-sm" ng-disabled="is_view"/>
                                </div>
                                <label class="col-sm-2 col-form-label-sm">Kode POS</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="form.kode_pos_penerima" class="form-control form-control-sm angka text-left" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <h6>Detail Surat Pesanan</h6>
                            <button type="button" class="btn btn-sm btn-info float-right" style="margin-top:-30px"
                            ng-click="setEditPesanan()"
                            ng-hide="user.tipe_member =='Member' || form.status != 'Menunggu Pembayaran' || is_view">
                                <i class="fa fa-pencil"></i>
                                Edit Detail Pesanan
                            </button>
                            <hr/>
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-center" width="5%">No.</th>
                                        <th class="align-center">Produk</th>
                                        <th class="align-center" width="112px">Berat (gram)</th>
                                        <th class="align-center" width="91px">Jumlah</th>
                                        <th class="align-center" style="width:155px">Harga</th>
                                        <th class="align-center" style="width:155px">Diskon</th>
                                        <th class="align-center">Total</th>
                                        <th class="align-center" ng-if="is_edit_pesanan" style="width:50px"></th>
                                    </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                    <tr ng-repeat="row in listPesanan">
                                        <td class="text-center">{{ $index+1 }}.</td>
                                        <td class="align-left">{{ row.m_produk_kode }} - {{ row.m_produk_nama }}</td>
                                        <td class="align-right">{{ row.total_berat }}</td>

                                        <td class="align-right">
                                          <span ng-if="!is_edit_pesanan">{{ row.jumlah }}</span>
                                          <input type="text" style="width:80px" class="text-right"
                                          ng-if="is_edit_pesanan" ng-model="row.jumlah" ui-number-mask="0" ng-blur="updateStok(row);hitungTotal();">
                                        </td>

                                        <td class="align-right" ng-if="row.jenis=='detail'">
                                          <span ng-if="!is_edit_pesanan">{{ row.harga | currency:"Rp." }}</span>
                                          <div class="input-group input-group-sm" ng-if="is_edit_pesanan">
                                            <span class="input-group-text">Rp.</span>
                                            <input type="text" style="width:100px" class="text-right" ng-change="hitungTotal()"
                                            ng-if="is_edit_pesanan" ng-model="row.harga" ui-number-mask="0">
                                          </div>
                                        </td>

                                        <td class="align-right" ng-if="row.jenis=='gratis'">Gratis</td>

                                        <td class="align-right">
                                          <span ng-if="!is_edit_pesanan || ( is_edit_pesanan && row.jenis =='gratis')">{{ row.diskon | currency:"Rp." }}</span>
                                          <div class="input-group input-group-sm" ng-if="is_edit_pesanan && row.jenis =='detail'">
                                            <span class="input-group-text">Rp.</span>
                                            <input type="text" style="width:100px" class="text-right" ng-change="hitungTotal()"
                                            ng-if="is_edit_pesanan" ng-model="row.diskon" ui-number-mask="0">
                                          </div>
                                        </td>

                                        <td class="align-right">{{ row.sub_total | currency:"Rp." }}</td>

                                        <td class="align-center" ng-if="is_edit_pesanan">
                                          <button type="button" class="btn btn-sm btn-danger" ng-click="updateDetail(row)" title="Hapus Detail">
                                              <i class="fa fa-trash"></i>
                                          </button>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <!-- Kolom nambah produk -->
                                        <th colspan="2">
                                          <ui-select ng-model="produk_tambahan" class="w100" theme="bootstrap" ng-hide="is_view || !is_edit_pesanan" on-select="addProduk(produk_tambahan)">
                                              <ui-select-match placeholder="Tambah Produk [Ketik Nama Produk]">{{ $select.selected.m_produk_nama }}</ui-select-match>
                                              <ui-select-choices position="down" refresh="getProdukTambahan($select.search)" repeat="produk in listProdukTambahan">{{ produk.m_produk_nama }}</ui-select-choices>
                                          </ui-select>
                                        </th>
                                        <th colspan="4" class="align-right">Total</th>
                                        <th class="align-right">{{ form.total | currency:"Rp." }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="6" class="align-right">Total Diskon</th>
                                        <th class="align-right">{{ form.total_diskon | currency:"Rp." }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="6" class="align-right">Total Ongkir</th>
                                        <th class="align-right">{{ form.ongkir | currency:"Rp." }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="6" class="align-right">Grand Total</th>
                                        <th class="align-right">{{ (form.ongkir-0) + (form.total-0) | currency:"Rp." }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <h6 class="mt-4">Ekspedisi & Ongkir</h6>
                            <hr/>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Ekspedisi</label>
                                <div class="col-sm-9">
                                    <!-- <select class="form-control form-control-sm" ng-model="form.ekspedisi" ng-change="getPaket(form)" ng-disabled="user.tipe_member=='Member' || is_view"> -->
                                    <select class="form-control form-control-sm" ng-model="form.ekspedisi" ng-change="getPaket(form)" ng-disabled="1">
                                        <option value="">.: Pilih Ekspedisi :.</option>
                                        <option value="jne">JNE</option>
                                        <option value="pos">POS Indonesia</option>
                                        <option value="tiki">TIKI</option>
                                        <option value="dakota">Dakota</option>
                                        <option value="lainnya">Lainnya</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.ekspedisi == 'lainnya'">
                                <label class="col-sm-3 col-form-label-sm">Keterangan Ekspedisi</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control form-control-sm" ng-model="form.ekspedisi_ket" ng-disabled="is_view" ng-if="form.ekspedisi == 'lainnya'"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Total Ongkir</label>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text">Rp.</span>
                                        <!-- <input type="text" class="form-control form-control-sm text-right" ng-model="form.ongkir" ui-number-mask="0" ng-change="hitungGrandTotal()" ng-disabled="is_view"/> -->
                                        <input type="text" class="form-control form-control-sm text-right" ng-model="form.ongkir" ui-number-mask="0" ng-change="hitungGrandTotal()" ng-disabled="1"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Service</th>
                                            <th>Deskripsi</th>
                                            <th>Lama Pengiriman</th>
                                            <th>Harga</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cost in listPaket.costs">
                                            <td>
                                                <button type="button" class="btn btn-sm {{ cost.btn }}" ng-click="setOngkir(cost.cost[0].value, $index)" ng-disabled="is_view">
                                                    <i class="fa fa-check-square-o"></i>
                                                    Pilih
                                                </button>
                                            </td>
                                            <td>{{ cost.service }}</td>
                                            <td>{{ cost.description }}</td>
                                            <td>{{ cost.cost[0].etd }}</td>
                                            <td>{{ cost.cost[0].value | currency:"Rp" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <i class="text-danger">* Jangan lupa mengedit catatan setelah merubah Ekspedisi</i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
