<div class="animated fadeIn">
  <div ng-controller="lpoinCtrl">
    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Laporan Poin Reseller</strong>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h6>Filter</h6>
            <hr>
            <div class="row ml-2 mr-2">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Periode</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm" date-range-picker="" ng-model="filter.periode" options="dateRangeOptions" placeholder="Pilih Rentang Tanggal" type="text" />
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12 text-center mb-3">
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-default btn-sm" ng-click="reset_filter();">
                  <i class="fa fa-refresh"></i>
                  &nbsp;Reset Filter
                </button>
                <button class="btn btn-primary btn-sm" ng-click="view(filter);">
                  <i class="fa fa-search"></i>
                  &nbsp;Tampilkan
                </button>
                <button class="btn btn-warning btn-sm text-white" ng-click="print(filter);">
                  <i class="fa fa-print"></i>
                  &nbsp;Print
                </button>
                <button class="btn btn-success btn-sm" ng-click="export(filter);">
                  <i class="fa fa-download"></i>
                  &nbsp;Export Excel
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="border border-info text-center" ng-if="is_view" id="print-area">
          <div class="col-md-12 table-responsive">
            <br/>
            <h4>Laporan Poin Reseller</h4>
            <p>Periode : {{periode_start | date:"dd MMM yyyy" || '*'}} - {{periode_end | date:"dd MMM yyyy" || '*'}} </p>

            <table class="table table-hover table-bordered" border="1px">
              <thead>
                <tr>
                  <th class="text-center">No.</th>
                  <th class="align-left">Kode Reseller</th>
                  <th class="align-left">Nama</th>
                  <th class="align-left">No. Telepon</th>
                  <th class="align-left">Total Poin</th>
                  <th class="align-left">Total Penjualan</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in laporan">
                  <td class="text-center">{{ $index+1 }}.</td>
                  <td class="align-left">{{ row.kode }}</td>
                  <td class="align-left">{{ row.nama }}</td>
                  <td class="align-left">{{ row.no_hp }}</td>
                  <td class="align-right">{{ row.poin_penjualan | currency:"" }}</td>
                  <td class="align-right">{{ row.total | currency:"Rp." }}</td>
                </tr>
              </tbody>
              <tr>
                <td class="text-right" colspan="4"><strong>Total</strong></td>
                <td class="text-right">{{ total_poin | currency:""}}</td>
                <td class="text-right">{{ total_penjualan | currency:"Rp."}}</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- End of print area -->
      </div>
    </div>

  </div>
</div>
