body {
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: left;
}


/* table */
table {
  font-size: 11px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: left;
}

th {
  padding: 5px;
  color: black;
}

table.tb {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid #CCC;
}

table {
  border-collapse: collapse;
  font-size: 11px;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #FFF;
  text-align: left;
}

.text-center, .align-center {
  text-align: center;
}

.text-right, .align-right {
  text-align: right;
}
