<link rel="stylesheet" type="text/css" href="../../api/views/laporan/export-styles.css" />
<div class="col-md-12 table-responsive">
  <br/>
  <h3>Laporan Surat Pesanan</h3>

  <span>Periode : {{ start | date('d F Y') }} - {{ end | date('d F Y') }} </span> <br/>
  {% if (session.tipe_member == 'Admin') %}
    <span>Member : {{filter.member.nama }}</span> <br/>
  {% endif %}
  {% if (session.tipe_member == 'Member') %}
    <span>Reseller : {{filter.reseller.nama}} <br/></span>
  {% endif %}
  <span>Status : {{filter.status }}</span> <br/><br/>

  <table class="table table-hover table-bordered" border="0.3px">
    <thead>
      <tr>
      <tr>
        <th class="align-left">No.</th>
        <th class="align-left">No. Pesanan / Status</th>
        <th class="align-left">Member</th>
        <th class="align-left">Reseller</th>
        <th class="align-left">Penerima</th>
        <th class="align-left">Produk</th>
        <!-- <th class="align-left">Status</th> -->
        <th class="align-left">Total</th>
        <th class="align-left">Diskon</th>
        <th class="align-left">Grand Total</th>
      </tr>
      </tr>
    </thead>
    <tbody>
      {% for key, row in laporan %}
      <tr>
        <td class="text-center"> {{key+1}}.</td>
        <td class="align-left">
          {{ row.kode }} <br> ({{ row.status }})
        </td>
        <td class="align-left">{{ row.member_nama }} <br> ({{ row.member_no_hp }})</td>
        <td class="align-left">{{ row.reseller_nama }} <br> ({{ row.reseller_no_hp }})</td>
        <td class="align-left">
          {{ row.nama_penerima }} ({{ row.telepon_penerima }}) <br>
          {{ row.jalan_penerima }}, RT {{row.rt_penerima}} / RW {{row.rw_penerima}}, Kode POS : {{kode_pos_penerima}}
        </td>
        <td class="align-left">
          {% for produk in row.detailProduk %}
          <span>
            - <strong>({{produk.jumlah}})</strong> {{produk.nama}} <br>
          </span>
          {% endfor %}
        </td>
        <!-- <td class="align-left">{{ row.status }}</td> -->
        <td class="text-right">{{ row.total |number_format(2, '.', ',')}}</td>
        <td class="text-right">{{ row.total_diskon |number_format(2, '.', ',')}}</td>
        <td class="text-right">{{ row.grand_total |number_format(2, '.', ',')}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tr>
      <td style="text-align:right" colspan="7"></td>
      <th>Grand Total</th>
      <td class="text-right">{{grand_total |number_format(2, '.', ',')}}</td>
    </tr>
  </table>
</div>
