<div class="animated fadeIn">
    <div ng-controller="arisan_pjCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar PJ Arisan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                          <input st-search="kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode" />
                                        </div> -->
                                        <label class="col-sm-2 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                            <input st-search="t_arisan.kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode"/>
                                        </div>
                                        <label class="col-sm-2 col-form-label-sm mb-0">Nama QPA</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_member.nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                        <label class="col-sm-2 col-form-label-sm mb-0">Progress</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="t_arisan.progres">
                                                <option value="">-- Semua Progress --</option>
                                                <option value="Selesai">Selesai</option>
                                                <option value="Berjalan">Berjalan</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode</th>
                                    <th class="align-left">Jumlah Peserta</th>
                                    <th class="align-left">Progres</th>
                                    <th class="align-left">Tanggal Mulai</th>
                                    <th class="align-left">Tanggal Selesai</th>
                                    <th class="align-left">Dibuat Oleh</th>
                                    <th class="align-left">No. HP</th>
                                    <!-- <th class="align-left">Aktif / Non-Aktif</th> -->
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.jumlah_peserta }}</td>
                                <td class="align-left">
                                  <strong class="text-primary" ng-if="row.progres == 'Berjalan'">{{ row.progres }}</strong>
                                  <strong class="text-success" ng-if="row.progres == 'Selesai'">{{ row.progres }}</strong>
                                </td>
                                <td class="align-left">{{ row.tanggal_mulai | date:"dd MMM yyyy" }}</td>
                                <td class="align-left">{{ row.tanggal_selesai | date:"dd MMM yyyy" }}</td>
                                <td class="align-left">{{ row.pembuat_nama }}</td>
                                <td class="align-left">{{ row.pembuat_no_hp }}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Proges Arisan</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.progres" ng-disabled="1"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Mulai</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_mulai')" is-open="opened.tanggal_mulai" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_mulai" ng-disabled="is_view"  placeholder="Tanggal Mulai"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.progres =='Selesai'">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Selesai</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_mulai')" is-open="opened.tanggal_selesai" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_selesai" ng-disabled="is_view"  placeholder="Tanggal Selesai"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Dibuat Oleh</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-value="form.pembuat_nama" ng-disabled="1"  placeholder="Dibuat Oleh"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No. HP</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-value="form.pembuat_no_hp" ng-disabled="1"  placeholder="Nomor HP"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-10 offset-md-1">
                            <strong> Daftar Peserta </strong>
                            <button type="button" class="btn btn-primary btn-sm float-right" ng-click="openPeserta('#modalPeserta')" ng-disabled="is_view">
                              <i class="fa fa-plus"></i> Tambah Peserta
                            </button>
                            <!-- <button type="button" class="btn btn-success btn-sm float-right" ng-click="addPeserta();" ng-disabled="is_view">
                              <i class="fa fa-plus"></i> Tambah Peserta
                            </button> -->
                            <hr/>
                        </div>

                        <div class="col-md-12 mt-3 border border-secondary pt-2 shadow bg-white rounded" ng-repeat="peserta in listPeserta  track by $index">
                          <div class="row">
                            <div class="col-md-6">
                              <h5 class="text-primary">Peserta {{$index+1}}</h5>
                            </div>
                            <div class="col-md-6">

                              <div class="btn-group pull-right" role="group">

                                <button type="button" class="btn btn-success btn-sm"
                                  ng-click="" ng-disabled="1" ng-if="peserta.status_arisan == 'Selesai'">
                                  <i class="fa fa-check-square-o"></i> Selesai
                                </button>

                                <button type="button" class="btn btn-success btn-sm"
                                  ng-click="" ng-disabled="1" ng-if="peserta.status_arisan == 'Proses'">
                                  <i class="fa fa-recycle"></i> Proses
                                </button>

                                <button type="button" class="btn btn-success btn-sm" ng-click="setPemenang(peserta);"
                                  uib-tooltip="Tetapkan sebagai Pemenang" ng-disabled="is_view" ng-if="peserta.status_arisan=='Pending'">
                                  <i class="fa fa-check-square-o"></i>
                                </button>

                                <button type="button" class="btn btn-info btn-sm" ng-click="editPeserta(peserta, $index);"
                                  uib-tooltip="Edit Data Diri Peserta" ng-disabled="is_view" ng-if="peserta.status_arisan=='Pending'">
                                  <i class="fa fa-pencil"></i>
                                </button>

                                <!-- ng-click="removePeserta(listPeserta, $index);" ng-disabled="is_view" -->
                                  <button type="button" class="btn btn-danger btn-sm"
                                    ng-click="hapusPeserta(peserta, $index);" ng-disabled="is_view"
                                    ng-if="peserta.status_arisan == 'Pending'" uib-tooltip='Hapus Peserta'>
                                    <i class="fa fa-trash"></i>
                                  </button>

                                </div>
                              </div>
                          </div>

                          <hr/>

                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm">Nama QPA</label>
                              <div class="col-sm-4">
                                  <!-- <input type="text" class="form-control form-control-sm required" ng-model="peserta.nama" ng-disabled="1"  placeholder="Nama Pelanggan"/> -->
                                  <ui-select ng-model="peserta.m_member_id" class="w100" theme="bootstrap" ng-disabled="1">
                                    <ui-select-match placeholder="[Ketikkan Nama Member]">
                                      {{ $select.selected.nama }}
                                    </ui-select-match>
                                    <ui-select-choices position="down" refresh="getMember($select.search, 'Member')" repeat="member in listMember">
                                      {{ member.nama }}
                                    </ui-select-choices>
                                  </ui-select>
                              </div>
                              <div class="col-sm-5">
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm">Nama</label>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control form-control-sm required" ng-model="peserta.nama" ng-disabled="1"  placeholder="Nama Pelanggan"/>
                              </div>
                              <div class="col-sm-5">

                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm">No. Telp.</label>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control form-control-sm angka text-left" ng-model="peserta.no_hp" ng-disabled="1"  placeholder="No Telp Pelanggan"/>
                              </div>
                          </div>
                          <!-- <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm required">Jenis Barang (PO / Non-PO)</label>
                              <div class="col-sm-4">
                                <select class="form-control form-control-sm" ng-model="peserta.jenis_pesanan" ng-disabled="is_view">
                                <option value=""> - </option>
                                <option value="po"> PO </option>
                                <option value="non-po"> Non-PO </option>
                                </select>
                              </div>
                          </div> -->

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-left">Produk</th>
                                        <th class="align-left">Jumlah</th>
                                        <th class="align-left">Harga</th>
                                        <th class="align-left">Diskon</th>
                                        <th class="align-left">Sub Total</th>
                                        <th class="align-center" style="width: 10px;">
                                            <button type="button" class="btn btn-success btn-sm fa fa-plus" uib-tooltip="Tambah Produk"
                                              ng-click="openDetail(peserta, null)" ng-disabled="is_view"></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in peserta.detail track by $index">
                                        <td class="align-left">
                                            <!-- <ui-select ng-model="v.m_produk_id" on-select="setProduk(peserta, v.m_produk_id, $index)" class="w100" theme="bootstrap" ng-disabled="is_view"> -->
                                            <ui-select ng-model="v.m_produk_id" on-select="hitungSub()" class="w100" theme="bootstrap" ng-disabled="1">
                                                <ui-select-match placeholder="Pilih Produk">{{ $select.selected.nama }}</ui-select-match>
                                                <ui-select-choices position="down" refresh="getProduk($select.search, 'non-po')" repeat="produk in listProduk">{{ produk.nama }}</ui-select-choices>
                                            </ui-select>
                                        </td>

                                        <td class="align-left" style="width: 50px;">
                                          <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.jumlah" ng-disabled="1" ui-number-mask="0" ng-change="hitungSub(peserta)" ng-disabled="is_view"/>
                                        </td>

                                        <td class="align-left" style="width: 183px;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp.</span>
                                                </div>
                                                <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.harga" ng-disabled="1" ui-number-mask="0"/>
                                            </div>
                                        </td>

                                        <td class="align-left" style="width: 183px;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp.</span>
                                                </div>
                                                <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.diskon" ng-disabled="1" ui-number-mask="0"/>
                                            </div>
                                        </td>

                                        <td class="align-left" style="width: 183px;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp.</span>
                                                </div>
                                                <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.sub_total" ng-disabled="1" ui-number-mask="0"/>
                                            </div>
                                        </td>

                                        <td class="align-center">
                                          <button type="button" class="btn btn-info btn-sm fa fa-pencil" ng-click="openDetail(peserta, $index)" ng-disabled="is_view" uib-tooltip="Edit Produk"></button>
                                          <button type="button" class="btn btn-danger btn-sm fa fa-minus" ng-click="hapusProduk(peserta, v, $index)" ng-disabled="is_view" uib-tooltip="Hapus Produk"></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td colspan="4" class="text-right"> <b>Total<b></td>
                                    <td>
                                      <div class="input-group input-group-sm">
                                        <span class="input-group-text">Rp.</span>
                                        <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="peserta.total" ng-disabled="1" ui-number-mask="0"/>
                                      </div>
                                    </td>
                                    <td></td>
                                  </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                          <i class="fa fa-save"></i>
                          &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>


        <!-- Modal Peserta -->
        <div id="modalPeserta" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Peserta Arisan</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Nama QPA</label>
                    <div class="col-sm-4">
                        <!-- <input type="text" class="form-control form-control-sm required" ng-model="formPeserta.nama" ng-disabled="is_view"  placeholder="Nama QPA"/> -->
                        <ui-select ng-model="formPeserta.m_member_id" class="w100" theme="bootstrap">
                          <ui-select-match placeholder="Filter Member [Ketikkan Nama Member]">
                            {{ $select.selected.nama }}
                          </ui-select-match>
                          <ui-select-choices position="down" refresh="getMember($select.search, 'Member')" repeat="member in listMember">
                            {{ member.nama }}
                          </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Nama</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm required" ng-model="formPeserta.nama" ng-disabled="is_view"  placeholder="Nama Pelanggan"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">No. Telp.</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm angka text-left" ng-model="formPeserta.no_hp" ng-disabled="is_view"  placeholder="No Telp Pelanggan"/>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" ng-click="simpanPeserta(formPeserta, indexPeserta);">
                  <i class="fa fa-save"></i>
                  &nbsp;Simpan
                </button>
              </div>
            </div>

          </div>
        </div>
        <!-- Modal Peserta - END -->

        <!-- Modal Produk -->
        <div id="modalProduk" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Detail Produk</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Nama Produk</label>
                    <div class="col-sm-6">
                        <!-- <input type="text" class="form-control form-control-sm required" ng-model="formPeserta.nama" ng-disabled="is_view"  placeholder="Nama Pelanggan"/> -->
                        <ui-select ng-model="formProduk.m_produk_id" on-select="setSubProduk();hitungSub();" class="w100" theme="bootstrap" ng-disabled="formProduk.id > 0">
                            <ui-select-match placeholder="Pilih Produk">{{ $select.selected.nama }}</ui-select-match>
                            <ui-select-choices position="down" refresh="getProduk($select.search, 'non-po')" repeat="produk in listProduk">{{ produk.nama }}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Jumlah Produk</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm angka text-right" ng-model="formProduk.jumlah" ng-disabled="is_view" placeholder="Jumlah Produk" ng-change="hitungSub()" ui-number-mask="0"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Harga</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm angka text-right" ng-model="formProduk.harga" ng-disabled="1"  placeholder="Harga" ui-number-mask="0"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Diskon</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm angka text-right" ng-model="formProduk.diskon" ng-disabled="1"  placeholder="Diskon" ui-number-mask="0"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Sub Total</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm angka text-right" ng-model="formProduk.sub_total" ng-disabled="1"  placeholder="Sub Total" ui-number-mask="0"/>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" ng-click="simpanProduk(formPeserta, formProduk, indexProduk);">
                  <i class="fa fa-save"></i>
                  &nbsp;Simpan
                </button>
              </div>
            </div>

          </div>
        </div>
        <!-- Modal Produk - END -->

    </div>
</div>
