<div class="col-md-12 table-responsive">
  <table class="table table-hover" border="1px">
    <thead>
      <tr>
        <th class="align-center">No.</th>
        <th class="align-center">Nama Member</th>
        <th class="align-center">Level</th>
        <th class="align-center">Bank</th>
        <th class="align-center">Bank a/n.</th>
        <th class="align-center">PC</th>
        <th class="align-center" ng-if="level == 'SQPA' || level=='MQPA'">MR</th>
        <th class="align-center" ng-if="level == 'QPA'">RC</th>
        <th class="align-center" ng-if="level == 'MQPA'">MCM</th>
        <th class="align-center" ng-if="level == 'SQPA' || level=='MQPA'">MCS</th>
        <th class="align-center">Komisi</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in laporan_view">
        <td class="align-left">{{ $index+1 }}.</td>
        <td class="align-left">{{ row.kode }} - {{ row.nama }}</td>
        <td class="align-left">{{ row.level }} - {{ row.status_qpa }}</td>
        <td class="align-left">{{ row.bank_nama }} - {{ row.bank_rekening }}</td>
        <td class="align-left">{{ row.bank_an }}</td>
        <td class="text-right">{{ row.komisi.pc | currency:"Rp."  }}</td>
        <td class="text-right" ng-if="level == 'SQPA' || level=='MQPA'">{{ row.komisi.mr | currency:"Rp."  }}</td>
        <td class="text-right" ng-if="level == 'QPA'">{{ row.komisi.rc | currency:"Rp."  }}</td>
        <td class="text-right" ng-if="level == 'MQPA'">{{ row.komisi.mcm | currency:"Rp."  }}</td>
        <td class="text-right" ng-if="level == 'SQPA' || level=='MQPA'">{{ row.komisi.mcs | currency:"Rp." }}</td>
        <td class="align-right">{{ row.total_komisi | currency:"Rp." }}</td>
      </tr>
    </tbody>
    <tr>
      <th class="text-right pr-1" colspan="7" ng-if="level == 'QPA'">Total</th>
      <th class="text-right pr-1" colspan="8" ng-if="level == 'SQPA'">Total</th>
      <th class="text-right pr-1" colspan="9" ng-if="level == 'MQPA'">Total</th>
      <th class="text-right">{{totalKomisi_view | currency:"Rp."}}</th>
    </tr>
  </table>

</div>
