<div class="animated fadeIn">
  <div ng-controller="tutupbulanCtrl">

    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
          <strong class="d-md-down-none">Laporan Tutup Bulan</strong>
          <div class="btn-group pull-right mt-5px" role="group">

              <button class="btn btn-primary btn-sm" ng-click="create();">
                  <i class="fa fa-plus"></i>
                  &nbsp;Buat Laporan Tutup Bulan
              </button>
          </div>
      </div>
      <div class="pl-15px pr-15px">
          <div class="row mt-15px" ng-show="!isCollapsed">
              <div class="col-md-12">
                  <div class="alert alert-success">
                    <b>Petunjuk!</b>
                    <br>
                    Lakukan Pembuatan Laporan Tutup Bulan di setiap <b>awal Bulan Baru</b>.<br>
                    Agar semua <b>Transaksi Penjualan</b> dari <b>awal-akhir di Bulan sebelumya</b> dapat terakumulasi.
                  </div>

                  <div class="alert alert-secondary">
                      <form name="landaform" novalidate="">
                          <div class="form-group row mb-0px">
                              <label for="nama" class="col-md-2 col-form-label-sm mb-0px">Tahun</label>
                              <div class="col-sm-3">
                                  <!-- <input type="text" class="form-control form-control-sm" st-search="periode" id="periode" placeholder="Filter Periode"/> -->
                                  <input ng-change="setPeriode(stPeriode)" class="form-control form-control-sm" datepicker-mode="'year'" datepicker-options="{minMode: 'year'}" is-open="opened.tgl" ng-click="toggle($event, 'tgl')" placeholder="Filter Tahun" ng-model="stPeriode" type="text" uib-datepicker-popup="yyyy" />
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th rowspan="2">Bulan & Tahun</th>
                      <th class="text-center" rowspan="2">Total Penjualan</th>
                      <th class="text-center" colspan="3">Total Komisi</th>
                      <th class="text-center" rowspan="2">Aksi</th>
                  </tr>
                  <tr>
                    <th class="text-center">QPA</th>
                    <th class="text-center">SQPA</th>
                    <th class="text-center">MQPA</th>
                  </tr>
              </thead>
              <tbody ng-show="!isLoading">
                  <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                      <td>{{ row.bulan | date:"MMMM yyyy" }}</td>
                      <td class="text-right">{{ row.total_penjualan | currency:"" }}</td>
                      <td class="text-right">{{ row.total_komisi_qpa | currency:"" }}</td>
                      <td class="text-right">{{ row.total_komisi_sqpa | currency:"" }}</td>
                      <td class="text-right">{{ row.total_komisi_mqpa | currency:"" }}</td>
                      <td class="text-center">
                          <div class="btn-group" role="group">
                              <button type="button" class="btn btn-info fa fa-eye" ng-click="tampilkan(row)" uib-tooltip="Lihat Laporan"></button>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div st-pagination="" st-items-by-page="12" st-template="tpl/common/pagination.custom.html"></div>
    </div>

    <div class="card" ng-if="is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Laporan Tutup Bulan</strong>

        <div class="btn-group pull-right mt-5px" role="group">
            <button class="btn btn-default btn-sm" ng-click="goToIndex()">
                <i class="fa fa-arrow-left"></i>
                &nbsp;Kembali
            </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <!-- <h6>Filter</h6>
            <hr> -->
            <div class="row ml-2 mr-2">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label-sm mb-0">Periode</label>
                  <div class="col-sm-8">
                    <input class="form-control form-control-sm" datepicker-mode="'month'" datepicker-options="{minMode: 'month'}" is-open="opened.tgl" ng-click="toggle($event, 'tgl')" ng-model="filter.periode" placeholder="Bulan Tahun" type="text" uib-datepicker-popup="MMMM yyyy" />
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12 text-center mb-3">
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-default btn-sm" ng-click="reset_filter();">
                  <i class="fa fa-refresh"></i>
                  &nbsp;Reset Filter
                </button>
                <button class="btn btn-primary btn-sm" ng-click="view(filter);">
                  <i class="fa fa-search"></i>
                  &nbsp;Tampilkan
                </button>
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-download"></i>
                  &nbsp;Export Excel
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="" ng-if="is_view" id="print-area">
          <center>
            <br>
            <h4>Laporan Tutup Bulan</h4>
            <!-- <p>Periode : {{periode | date:"MMMM yyyy" || '*'}}</p>
            <p>Total Penjualan : {{(totalPenjualan || 0) | currency:"Rp."}}</p>
            <p>Total Komisi : {{( (totalKomisi['QPA']+totalKomisi['SQPA']+totalKomisi['MQPA']) || 0) | currency:"Rp."}}</p> -->
            <table width="50%">
              <tr>
                <td width="5%"></td>
                <td width="15%">Periode</td>
                <td width="5%">:</td>
                <td width="10%">{{periode | date:"MMMM yyyy" || '*'}}</td>
              </tr>
              <tr>
                <td></td>
                <td>Total Penjualan</td>
                <td>:</td>
                <td>{{(totalPenjualan || 0) | currency:"Rp."}}</td>
              </tr>
              <tr>
                <td></td>
                <td>Total Komisi</td>
                <td>:</td>
                <td>{{( (totalKomisi['QPA']+totalKomisi['SQPA']+totalKomisi['MQPA']) || 0) | currency:"Rp."}}</td>

              </tr>
            </table>
          </center>

          <!-- <div class="row">
            <div class="col-md-4 offset-md-4">
              <div class="form-group row">
                  <label class="col-sm-4">Total Penjualan</label>
                  <div class="col-sm-6">
                    : {{(totalPenjualan || 0) | currency:"Rp."}}
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-4">Total Komisi</label>
                  <div class="col-sm-6">
                    : {{( (totalKomisi['QPA']+totalKomisi['SQPA']+totalKomisi['MQPA']) || 0) | currency:"Rp."}}
                  </div>
              </div>
            </div>

          </div> -->

          <uib-tabset active="activeForm" class="mt-3">
              <uib-tab heading="QPA" index="0" ng-click="viewData('QPA')">
                  <div ng-include="'tpl/l_tutup_bulan/table.html'"></div>
              </uib-tab>
              <uib-tab heading="SQPA" index="1" ng-click="viewData('SQPA')">
                  <div ng-include="'tpl/l_tutup_bulan/table.html'"></div>
              </uib-tab>
              <uib-tab heading="MQPA" index="2" ng-click="viewData('MQPA')">
                  <div ng-include="'tpl/l_tutup_bulan/table.html'"></div>
              </uib-tab>
          </uib-tabset>

        </div>


        <!-- The Modal -->
        <style>
        .modal-lg {
          max-width: 1000px;
        }
        </style>
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <button class="btn btn-sm btn-primary float-left" ng-click="export()">Export Excel</button>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group row" id="excel-area">
                  <div class="col-md-12 ">
                    <center>
                      <h4>Laporan Tutup Bulan</h4>
                      <table width="50%">
                        <tr>
                          <td width="5%"></td>
                          <td width="15%">Periode</td>
                          <td width="5%">:</td>
                          <td width="10%">{{periode | date:"MMMM yyyy" || '*'}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>Total Penjualan</td>
                          <td>:</td>
                          <td>{{(totalPenjualan || 0) | currency:"Rp."}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>Total Komisi</td>
                          <td>:</td>
                          <td>{{( (totalKomisi['QPA']+totalKomisi['SQPA']+totalKomisi['MQPA']) || 0) | currency:"Rp."}}</td>

                        </tr>
                      </table>
                    </center>

                    <!-- <table>
                      <tr>
                        <td style="width:130px">Total Penjualan</td>
                        <td> : {{(totalPenjualan || 0) | currency:"Rp."}}</td>
                      </tr>
                      <tr>
                        <td>Total Komisi</td>
                        <td> : {{( (totalKomisi['QPA']+totalKomisi['SQPA']+totalKomisi['MQPA']) || 0) | currency:"Rp."}}</td>
                      </tr>
                    </table> -->

                  </div>
                  <div class="col-md-12 table-responsive" ng-repeat="(key, laporan_view) in laporan">
                    <br>
                    <br>
                    <table class="table table-hover" border="1px">
                      <thead>
                        <tr>
                          <th>
                            <strong>{{key}}</strong>
                          </th>
                        </tr>
                        <tr>
                          <th class="align-center">No.</th>
                          <th class="align-center">Nama Member</th>
                          <th class="align-center">Level</th>
                          <th class="align-center">Bank</th>
                          <th class="align-center">Bank a/n.</th>
                          <th class="align-center">PC</th>
                          <th class="align-center" ng-if="level == 'SQPA' || level=='MQPA'">MR</th>
                          <th class="align-center" ng-if="level == 'QPA'">RC</th>
                          <th class="align-center" ng-if="level == 'MQPA'">MCM</th>
                          <th class="align-center" ng-if="level == 'SQPA'">MCS</th>
                          <th class="align-center">Komisi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="row in laporan_view">
                          <td class="align-left">{{ $index+1 }}.</td>
                          <td class="align-left">{{ row.kode }} - {{ row.nama }}</td>
                          <td class="align-left">{{ row.level }} - {{ row.status_qpa }}</td>
                          <td class="align-left">{{ row.bank_nama }} - {{ row.bank_rekening }}</td>
                          <td class="align-left">{{ row.bank_an }}</td>
                          <td class="text-right">{{ row.komisi.pc | currency:"Rp."  }}</td>
                          <td class="text-right" ng-if="level == 'SQPA' || level=='MQPA'">{{ row.komisi.mr | currency:"Rp."  }}</td>
                          <td class="text-right" ng-if="level == 'QPA'">{{ row.komisi.rc | currency:"Rp."  }}</td>
                          <td class="text-right" ng-if="level == 'MQPA'">{{ row.komisi.mcm | currency:"Rp."  }}</td>
                          <td class="text-right" ng-if="level == 'SQPA'">{{ row.komisi.mcs | currency:"Rp." }}</td>
                          <td class="align-right">{{ row.total_komisi | currency:"Rp." }}</td>
                        </tr>
                      </tbody>
                      <tr>
                        <th class="text-right pr-1" colspan="7" ng-if="level == 'QPA'">Total</th>
                        <th class="text-right pr-1" colspan="8" ng-if="level == 'SQPA'">Total</th>
                        <th class="text-right pr-1" colspan="8" ng-if="level == 'MQPA'">Total</th>
                        <th class="text-right">{{totalKomisi[key] | currency:"Rp."}}</th>
                      </tr>
                    </table>

                  </div>

                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="konfirmasi(form, 'Rejected')">Simpan</button> -->
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
