<div class="animated fadeIn">
    <div ng-controller="aprodukCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Link Afiliasi Produk</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <!-- <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                          <input st-search="kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode" />
                                        </div> -->
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_produk.nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left"></th>
                                    <th class="align-left">Kode</th>
                                    <th class="align-left">Nama</th>
                                    <th>Link URL Afiliasi</th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">
                                  <img src="{{ row.foto }}" alt="{{ row.nama }}" style="height:150px;width:150px;object-fit:contain;">
                                </td>
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.nama }}</td>
                                <td class="align-left">{{ row.url }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="100" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                            <h6 class="tittle-header" style="margin-bottom: 0px;">Detail Promo</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-left">Produk</th>
                                        <th class="align-left">Harga Asli</th>
                                        <th class="align-left" colspan="2">Diskon</th>
                                        <th class="align-left">Harga Akhir</th>
                                        <th class="align-center" style="width: 10px;">
                                            <button type="button" class="btn btn-success fa fa-plus" ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in listDetail">
                                        <td class="align-left">
                                            <ui-select ng-model="v.m_produk_id" on-select="setProduk(v.m_produk_id, $index)" class="w100" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Produk">{{ $select.selected.nama }}</ui-select-match>
                                                <ui-select-choices position="down" refresh="getProduk($select.search)" repeat="produk in listProduk">{{ produk.nama }}</ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="align-left" style="width: 150px;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp.</span>
                                                </div>
                                                <input type="text" class="form-control form-control-xs text-right" maxlength="11" ng-model="v.harga_asli" ng-disabled="1" ui-number-mask="0"/>
                                            </div>
                                        </td>
                                        <td class="align-left" style="width: 120px;">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm angka" maxlength="3" ng-model="v.diskon" ng-disabled="is_view" ui-number-mask="0" ng-blur="setDiskon(v, 'persen')"/>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width: 150px;">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp.</span>
                                                </div>
                                                <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.diskon_nominal" ng-disabled="is_view" ui-number-mask="0" ng-blur="setDiskon(v, 'nominal')"/>
                                            </div>
                                        </td>
                                        <td class="align-left" style="width: 150px;">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Rp.</span>
                                                <input type="text" class="form-control form-control-sm text-right" maxlength="11" ng-model="v.harga_diskon" ng-disabled="1" ui-number-mask="0"/>
                                            </div>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn btn-danger fa fa-minus" ng-click="removeDetail(listDetail, $index)" ng-disabled="is_view"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
