<div class="animated fadeIn">
    <div ng-controller="amemberCtrl">
        <div class="card" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Link URL Afiliasi Anda </strong>
            </div>
            <div class="card-body p-0px">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode</th>
                                    <th class="align-left">Nama</th>
                                    <th class="align-left">Link URL Afiliasi</th>

                                </tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in displayed">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.nama }}</td>
                                <td class="align-left">{{ row.url }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>

    </div>
</div>
