<div class="row">

  <div class="col-md-6 mb-10">
    <span class="font-weight-bold">Raja Ongkir</span>
    <hr/>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label-sm required">Kota Asal</label>
      <div class="col-sm-8">
        <ui-select ng-model="form.kota_asal" class="w100" theme="bootstrap" ng-disabled="is_view" on-select="cariKecamatan(form.kota_asal)">
          <ui-select-match placeholder="Pilih Kota Asal [Ketikkan Nama Kota]">
            {{ $select.selected.kota }}
          </ui-select-match>
          <ui-select-choices position="down" repeat="kota in listKotaAsal | filter:$select.search">
            {{ kota.kota }}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label-sm required">Kecamatan Asal</label>
      <div class="col-sm-8">
        <ui-select ng-model="form.kecamatan_asal" class="w100" theme="bootstrap" ng-disabled="is_view">
          <ui-select-match placeholder="Pilih Kecamatan Asal [Ketikkan Nama Kecamatan]">
            {{ $select.selected.kecamatan }}
          </ui-select-match>
          <ui-select-choices position="down" repeat="kota in listKecamatan | filter:$select.search">
            {{ kota.kecamatan }}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

  </div>

  <div class="col-md-6 mb-10">
    <span class="font-weight-bold">Sentral Cargo</span>
    <hr/>

    <div class="form-group row">
      <label class="col-sm-4 col-form-label-sm required">Daerah Asal (Sentral Cargo)</label>
      <div class="col-sm-8">
        <select ng-model="form.kota_asal_sc" class="form-control form-control-sm w100" theme="bootstrap" ng-disabled="is_view">
          <option value="">- Pilih Kota Asal -</option>
          <option ng-repeat="kota in listKotaSC" value="{{kota.OriginDestCode}}">{{ kota.OriginName }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-10">
    <span class="font-weight-bold">MOOTA</span>
    <hr/>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label-sm required">Token API</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" ng-model="form.moota_token" ng-disabled="is_view" placeholder="Token API Moota"/>
      </div>
    </div>
  </div>


</div>

<div class="row">
  <div class="col-md-12 mb-10">

    <span class="font-weight-bold">REKENING BANK</span>
    <hr/>
    <div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <tr>
                        <th class="text-center">Nama Bank</th>
                        <th class="text-center">Atas Nama</th>
                        <th class="text-center">No. Rekening</th>
                        <th class="text-center" width="5%">
                          <button type="button" class="btn btn-success fa fa-plus" ng-click="addBank(listSettingBank)"></button>
                        </th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in listSettingBank">
                    <td class="align-left">
                      <ui-select ng-model="row.bank" class="w100" theme="bootstrap" ng-disabled="is_view">
                        <ui-select-match placeholder="Pilih Bank [Ketikkan Nama Bank]">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices position="down" repeat="bank in listBank | filter:$select.search">{{ bank.name }}</ui-select-choices>
                      </ui-select>
                    </td>
                    <td class="align-left">
                      <input type="text" class="form-control form-control-sm" ng-model="row.atas_nama" maxlength="100" ng-disabled="is_view"  placeholder="Atas Nama"/>
                    </td>
                    <td class="align-left">
                      <input type="text" class="form-control form-control-sm angka text-left" ng-model="row.no_rek" maxlength="20" ng-disabled="is_view"  placeholder="Nomor Rekening"/>
                    </td>
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-success fa fa-plus" ng-click="addBank(listSettingBank)"></button>
                            <button type="button" class="btn btn-danger fa fa-trash" ng-click="remBank(listSettingBank, $index);"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <span class="font-weight-bold">Profil</span>
    <hr/>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">No. Telp</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.no_telp" maxlength="50" ng-disabled="is_view" placeholder="No Telp"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Email</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.email" maxlength="200" ng-disabled="is_view"  placeholder="Email"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Alamat</label>
        <div class="col-sm-9">
            <textarea class="form-control form-control-sm" ng-model="form.alamat" ng-disabled="is_view" placeholder="Alamat" rows="4"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm">Google Maps</label>
        <div class="col-sm-9">
            <textarea class="form-control form-control-sm" ng-model="form.google_map" ng-disabled="is_view" placeholder="Google Map" rows="4"/>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <span class="font-weight-bold">Sosial Media</span>
    <hr/>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm">Facebook</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.facebook" ng-disabled="is_view" placeholder="URL Facebook"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm">Instagram</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.instagram" ng-disabled="is_view" placeholder="URL Instagram"/>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label-sm">Twitter</label>
      <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" ng-model="form.twitter" ng-disabled="is_view" placeholder="URL Twitter"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label-sm">Google+</label>
      <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" ng-model="form.google_plus" ng-disabled="is_view" placeholder="URL Google Plus"/>
      </div>
    </div>
  </div>

</div>
