<div class="animated fadeIn">
    <div class="row" ng-controller="settingCtrl">
        <div class="col-sm-12 col-md-12">
            <!-- <div class="col-sm-12 col-md-12"> -->
            <div class="card card-accent-success">
                <div class="card-header">
                  <button class="btn btn-primary btn-sm float-right" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                    <i class="fa fa-save"></i>
                    &nbsp;Simpan
                  </button>
                  <h4 class="text-success" style="font-size:12px;font-weight:600">
                    Pengaturan Web
                  </h4>

                </div>
                <div class="card-body">

                  <!-- Include part -->
                  <form class="tab-form-demo" enctype="multipart/form-data" name="outerForm">
                      <uib-tabset active="activeForm">

                          <uib-tab heading="Profil" index="0">
                              <div ng-include="'tpl/m_setting/setting-profil.html'"></div>
                          </uib-tab>

                          <uib-tab heading="Meta & SEO" index="1">
                              <div ng-include="'tpl/m_setting/setting-seo.html'"></div>
                          </uib-tab>

                          <uib-tab heading="Pajak" index="2">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Pajak</label>
                                    <div class="col-sm-3">
                                      <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm text-right" ng-model="form.pajak" ng-disabled="is_view" ui-number-mask="0" placeholder="Pajak"/>
                                        <span class="input-group-text">%</span>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </uib-tab>

                          <uib-tab heading="Maintenance" index="3">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Maintenance Mode</label>
                                    <div class="col-sm-8">
                                      <div class="btn-group">
                                        <label class="btn {{ form.is_maintenance=='1' ? 'btn-danger' : 'btn-secondary' }} btn-sm text-white" ng-disabled="is_view" ng-model="form.is_maintenance" uib-btn-radio="'1'" ng-click="setMaintenance(form)">
                                          <i class="{{ form.is_maintenance=='1' ? 'fa fa-check-square' : '' }}"></i> <strong>Aktif</strong>
                                        </label>
                                        <label class="btn {{ form.is_maintenance=='0' ? 'btn-info' : 'btn-secondary' }} btn-sm text-white" ng-disabled="is_view" ng-model="form.is_maintenance" uib-btn-radio="'0'" ng-click="setMaintenance(form)">
                                          <i class="{{ form.is_maintenance=='0' ? 'fa fa-check-square' : '' }}"></i> <strong>Tidak Aktif</strong>
                                        </label>
                                      </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="alert alert-warning">
                                  <strong>Perhatian!</strong>
                                  <br>
                                  Selama Mode Maintenance diaktifkan, maka transaksi pemesanan / penjualan oleh Customer tidak akan diproses.
                                </div>

                            </div>
                          </uib-tab>

                      </uib-tabset>
                  </form>

                </div>

            </div>
        </div>
    </div>
</div>
