{% extends "/public/template-parts/main.html" %}
  {% block content %}
    <div class="text-center" style="padding-top:100px;min-height:350px;">
      <h1>ERROR 404</h1>
      <span>Halaman yang Anda cari tidak ditemukan.</span>
    </div>
  {% endblock %}
