{% extends "/public/template-parts/main.html" %}{% block content %}
<!-- Page Banner Section Start -->
  <div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
      <div class="container">
          <div class="row">
              <div class="page-banner-content col">

                  <h1>Tentang Kami</h1>
                  <ul class="page-breadcrumb">
                      <li><a href="{{site_url}}/home">Beranda</a></li>
                      <li><a href="{{site_url}}/tentang-kami">Tentang Kami</a></li>
                  </ul>

              </div>
          </div>
      </div>
  </div><!-- Page Banner Section End -->

  <!-- Page Section Start -->
  <div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
      <div class="container">
          <div class="row row-30">

            <div class="contact-info-wrap col-md-10 offset-md-1 col-12 mb-40 text-center">
                <h3>{{ about.judul }}</h3>
                <div class="" style='font-family:"Poppins", sans-serif;font-size:14px'>
                  {{ about.artikel | raw }}
                </div>
            </div>

             <div class="contact-info-wrap col-md-12 col-12 mb-40 text-center">
                 <h3>Pilihan Produk</h3>

                 <!-- Slider Kategori -->
                 <div class="related-product-slider related-product-slider-1 col-12 p-0">
                   <!-- Related Product -->
                   {% for key, row in listKategori %}
                   <div class="col" style="margin:20px 0 20px 0; padding-bottom:20px">

                     <div class="product-item border border-kafilah">
                       <div class="product-inner pt-3 pl-2 pr-2" style="height:435px">
                         <span class="icon-kategori mt-3 mb-3">
                           <i class="{{ row.icon }}" style="font-size:45px;"></i>
                          </span>

                          <p class="pt-3" style="font-size:18px;font-weight:600;font-family: 'Dosis', sans-serif;">
                            {{ row.nama }}
                          </p>

                          <p>
                            {{ row.deskripsi|length > 126 ? row.deskripsi|slice(0, 126) ~ '...' | raw : row.deskripsi | raw}}
                          </p>

                          <a href="{{site_url}}/produk?kategori={{ row.id }}" target="_blank" class="custom-button">
                            Selengkapnya
                          </a>
                       </div>
                     </div>

                   </div>
                   {% endfor %}
                   <!-- End related product -->
                 </div>
                 <!-- End Slider Kategori -->
             </div>

          </div>
      </div>
  </div><!-- Page Section End -->

{% endblock %}
