{% extends "/public/template-parts/main.html" %} {% block content %}
<!-- Page Banner Section Start -->
  <div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
      <div class="container">
          <div class="row">
              <div class="page-banner-content col">

                  <h1>Artikel</h1>
                  <ul class="page-breadcrumb">
                      <li><a href="{{site_url}}/home">Beranda</a></li>
                      <li><a href="{{site_url}}/artikel">Artikel</a></li>
                  </ul>

              </div>
          </div>
      </div>
  </div><!-- Page Banner Section End -->

  <!-- Blog Section Start -->
  <div class="blog-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-80 mb-lg-60 mb-md-60 mb-sm-60 mb-xs-40">
      <div class="container">
          <div class="row">
            {% for key, row in listArtikel %}
            <div class="col-lg-6 col-12 mb-60 mb-xs-40">
                <div class="blog-item">
                    <div class="image-wrap">
                        <h4 class="date">{{ row.tanggal_publish | date("F") }}
                          <span>{{ row.tanggal_publish | date("d") }}</span>
                        </h4>
                        <a class="image" href="{{ row.url }}">
                          <img src="{{ row.firstImg }}" alt="{{ row.judul }}">
                        </a>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="{{ row.url }}">
                          {{ row.judul }}</a>
                        </h4>
                        <div class="desc">
                            <p>{{ row.deskripsi }}</p>
                        </div>
                        <ul class="meta">
                            <li>
                              <a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-default.png" alt="{{ row.judul }}">
                                {{ row.created_by }}
                              </a>
                            </li>
                            <!-- <li><a href="#">25 Likes</a></li> -->
                            <li><a href="#">{{ row.views }} Kali Dibaca</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

<!--
              <div class="col-lg-6 col-12 mb-60 mb-xs-40">
                  <div class="blog-item">
                      <div class="image-wrap">
                          <h4 class="date">May <span>20</span></h4>
                          <a class="image" href="./artikel/single-artikel"><img src="{{base_url}}/assets/images/blog/blog-2.jpg" alt=""></a>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="./artikel/single-artikel">New Collection New Trend all New Style</a></h4>
                          <div class="desc">
                              <p>Jadusona is one of the most of a exclusive Baby shop in the</p>
                          </div>
                          <ul class="meta">
                              <li><a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-2.jpg" alt="Blog Author">Takiya</a></li>
                              <li><a href="#">25 Likes</a></li>
                              <li><a href="#">05 Views</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-12 mb-60 mb-xs-40">
                  <div class="blog-item">
                      <div class="image-wrap">
                          <h4 class="date">May <span>25</span></h4>
                          <a class="image" href="./artikel/single-artikel"><img src="{{base_url}}/assets/images/blog/blog-3.jpg" alt=""></a>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="./artikel/single-artikel">Lates and new Trens for baby fashion</a></h4>
                          <div class="desc">
                              <p>Jadusona is one of the most of a exclusive Baby shop in the</p>
                          </div>
                          <ul class="meta">
                              <li><a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-1.jpg" alt="Blog Author">Muhin</a></li>
                              <li><a href="#">25 Likes</a></li>
                              <li><a href="#">05 Views</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-12 mb-60 mb-xs-40">
                  <div class="blog-item">
                      <div class="image-wrap">
                          <h4 class="date">May <span>20</span></h4>
                          <a class="image" href="./artikel/single-artikel"><img src="{{base_url}}/assets/images/blog/blog-4.jpg" alt=""></a>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="./artikel/single-artikel">New Collection New Trend all New Style</a></h4>
                          <div class="desc">
                              <p>Jadusona is one of the most of a exclusive Baby shop in the</p>
                          </div>
                          <ul class="meta">
                              <li><a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-2.jpg" alt="Blog Author">Takiya</a></li>
                              <li><a href="#">25 Likes</a></li>
                              <li><a href="#">05 Views</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-12 mb-60 mb-xs-40">
                  <div class="blog-item">
                      <div class="image-wrap">
                          <h4 class="date">May <span>25</span></h4>
                          <a class="image" href="./artikel/single-artikel"><img src="{{base_url}}/assets/images/blog/blog-1.jpg" alt=""></a>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="./artikel/single-artikel">Lates and new Trens for baby fashion</a></h4>
                          <div class="desc">
                              <p>Jadusona is one of the most of a exclusive Baby shop in the</p>
                          </div>
                          <ul class="meta">
                              <li><a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-1.jpg" alt="Blog Author">Muhin</a></li>
                              <li><a href="#">25 Likes</a></li>
                              <li><a href="#">05 Views</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-12 mb-60 mb-xs-40">
                  <div class="blog-item">
                      <div class="image-wrap">
                          <h4 class="date">May <span>20</span></h4>
                          <a class="image" href="./artikel/single-artikel"><img src="{{base_url}}/assets/images/blog/blog-2.jpg" alt=""></a>
                      </div>
                      <div class="content">
                          <h4 class="title"><a href="./artikel/single-artikel">New Collection New Trend all New Style</a></h4>
                          <div class="desc">
                              <p>Jadusona is one of the most of a exclusive Baby shop in the</p>
                          </div>
                          <ul class="meta">
                              <li><a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-2.jpg" alt="Blog Author">Takiya</a></li>
                              <li><a href="#">25 Likes</a></li>
                              <li><a href="#">05 Views</a></li>
                          </ul>
                      </div>
                  </div>
              </div> -->

              <div class="col-12">
                {{ pagination | raw }}
                  <!-- <ul class="page-pagination">
                      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
              </div>

          </div>
      </div>
  </div><!-- Blog Section End -->
{% endblock %}
