{% extends "/public/template-parts/main.html" %} {% block content %}

<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col">

        <h1>Checkout</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{site_url}}/home">Beranda</a></li>
          <li><a href="{{site_url}}/checkout">Checkout</a></li>
        </ul>

      </div>
    </div>
  </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
  <div class="container">
    <div class="row">

      <div class="col-12">

        <!-- Checkout Form s-->
        <form id="form-checkout" action="#" class="checkout-form">
          <div class="row row-50">

            <div class="col-lg-7">

              <!-- Billing Address -->
              <div id="billing-form" class="mb-20">
                <h4 class="checkout-title">Alamat dan Detail Pembayaran</h4>

                <div class="row">

                  <div class="col-md-6 col-12 mb-5">
                    <label>Nama*</label>
                    <input type="text" placeholder="First Name" value="{{session.customer.nama}}" id="nama" name="nama" disabled>
                    <input type="hidden" value="{{session.customer.id}}" id="customer_id" name="customer_id">
                  </div>

                  <div class="col-md-6 col-12 mb-5">
                    <label>Telp. / Hp*</label>
                    <input type="text" placeholder="Telp. / Hp" id="telp" name="telp">
                  </div>

                  <div class="col-md-12 col-12 mb-5">
                    <label>Email*</label>
                    <input type="text" placeholder="Email" value="{{session.customer.email}}"  id="email" name="email" disabled>
                  </div>

                  <div class="col-md-12 col-12 mb-5">
                    <label>Kota & Provinsi*</label>
                    <select id="kota" name="kota">
                      <option value=""> Pilih Kab. / Kota </option>
                    </select>
                  </div>

                  <div class="col-md-8 col-12 mb-5">
                    <label>Kecamatan*</label>
                    <input type="hidden" id="kecamatan_text" name="kecamatan_text" value="">
                    <select id="kecamatan" name="kecamatan">
                      <option value=""> Pilih Kecamatan </option>
                    </select>
                  </div>

                  <div class="col-md-4 col-12 mb-5">
                    <label>Kode POS*</label>
                    <input type="text" id="kode_pos" name="kode_pos" placeholder="Kode POS">
                  </div>

                  <div class="col-12 mb-5">
                    <label>Alamat*</label>
                    <input type="text" placeholder="Alamat" id="alamat" name="alamat">
                  </div>

                </div>
                <br>
                <h4 class="checkout-title">Ekspedisi Pengiriman</h4>

                <div class="row">

                  <div class="col-md-6 col-12 mb-5">
                    <label>Ekspedisi*</label>
                    <select id="ekspedisi" name="ekspedisi">
                      <option value="" class="text-muted">Silakan pilih Ekspedisi</option>
                      <option value="jne">JNE</option>
                      <option value="pos">POS</option>
                      <option value="tiki">Tiki</option>
                      <option value="dakota">Dakota</option>
                    </select>
                  </div>

                  <div class="col-md-6 col-12 mb-5 row">
                    <label>Total Berat*</label>
                    <input type="hidden" id="berat" name="berat" value="{{total_berat}}">
                    <input class="text-right" type="text" placeholder="Total Berat" value="{{total_berat | number_format}} Gram" disabled>

                  </div>

                  <div class="col-md-12 col-12 mb-5 row" id="listRajaOngkir">
                    <input type="hidden" id="detail_ongkir" name="detail_ongkir" value="">
                    <table id="list-ongkir" class="table table-hover">
                      <tr>
                        <th></th>
                        <th>Service</th>
                        <th>Desc</th>
                        <th>Lama Kirim</th>
                        <th>Harga</th>
                      </tr>
                    </table>

                  </div>

                  <div class="col-md-12 col-12 mb-5 row" id="detailDakota">
                    <table id="tableDetailDakota" class="table table-hover">
                      <tr>
                          <th class="text-center">Harga Pokok</th>
                          <th class="text-center">Kg Minimum</th>
                          <th class="text-center">Tarif / Kg (selanjutnya)</th>
                      </tr>
                    </table>

                    <br>

                    <label>Ongkir</label>
                    <input type="text" placeholder="Ongkir Dakota" id="ongkir_dakota" name="ongkir_dakota" disabled>

                  </div>
                </div>


              </div>

            </div>

            <div class="col-lg-5">
              <div class="row">

                <!-- Cart Total -->
                <div class="col-12 mb-40">

                  <h4 class="checkout-title">Detail Belanja</h4>

                  <div class="checkout-cart-total">

                    <h4>Produk <span>Total</span></h4>

                    <ul>
                      {% for key, row in listProduk %}
                        <li>{{row.nama}} ({{row.jumlah_pesan}} {{row.satuan}}) <span>{{ row.sub_total | number_format}}</span></li>
                      {% endfor %}

                    </ul>

                    <p>Sub Total
                      <span>
                        {{ subTotal | number_format }}
                      </span>
                      <input type="hidden" id="sub_totaln" name="sub_totaln" value="{{subTotal}}">
                    </p>

                    <p>Ongkos Kirim
                      <span id="biaya_ongkir" value="{{ongkir}}">
                        {{ ongkir | number_format }}
                      </span>
                    </p>

                    <h4>Grand Total
                      <input type="text" id="kode_unik" name="kode_unik" value="{{kode_unik}}">
                      <span id="grand_total" value="{{subTotal}}">
                        {{ subTotal | number_format }}
                      </span>
                    </h4>

                  </div>

                  <br>
                  <input type="hidden" name="tipe_pesanan" id="tipe_pesanan" value="{{tipe_pesanan}}">
                  <button type="button" id='checkout' class="custom-button-pesanan float-right" value="{{tipe_pesanan}}">
                    Checkout
                  </button>
                  <br> <br>
                  <div class="alert alert-success">
                      <strong>Petunjuk Pembayaran</strong>
                      <br>
                      Segera lakukan pembayaran sesuai nominal yang tertera pada Nota.
                      <br>
                      Catatan : Grand Total tagihan telah ditambahkan dengan 3 Digit Kode Unik, yang nantinya akan digunakan untuk keperluan Validasi transfer. Terimakasih.
                  </div>

                </div>


              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div><!-- Page Section End -->

{% endblock %}
