{% extends "/public/template-parts/main.html" %}
  {% block content %}
<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Detail Histori Pesanan</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{{site_url}}/home">Home</a></li>
                    <li><a href="{{site_url}}/histori-pesanan">Histori Pesanan</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
    <div class="container">

        <form action="#">
            <div class="row">
                <div class="col-md-12 mb-15">
                  <h3>Petunjuk Pembayaran</h3>
                  <div class="alert alert-success text-center">
                    <strong><h4>PERHATIAN</h4></strong>
                    <hr>
                    :: Segera lakukan pembayaran ke salah satu dari list rekening berikut ini:
                    <br/>
                    {% for key, row in listSettingBank %}
                      <strong> {{row.bank}} : {{row.no_rek}} a.n. ({{row.atas_nama}})</strong>
                      <br/>
                    {% endfor %}
                    <br>
                    <br>
                    <h3>
                      Tagihan Anda adalah <strong>Rp. {{ pesanan.grand_total | number_format }},-</strong>
                    </h3>
                    <br/>
                    <br/>
                    Setelah melakukan pembayaran harap mengirimkan bukti transfer ke nomor : <strong>{{session.setting.no_telp}}</strong>
                    <br>
                    Catatan : 3 Digit Kode Unik telah ditambahkan ke tagihan belanja Anda, Kode ini digunakan untuk validasi transfer nantinya.
                  </div>
                </div>
                <div class="col-md-12 mb-15">
                  <!-- <button class="btn btn-sm btn-primary float-right" type="button" name="print_pesanan" id="print_pesanan">
                    <i class="fa fa-print"></i> Cetak Nota
                  </button> -->
                  <h3>Detail Pesanan</h3>
                </div>
                <div class="col-md-6 mb-15">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Kode Pesanan</label>
                    <div class="col-md-8">
                      <input class="form-control form-control-sm" type="text" value="{{pesanan.kode}}" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Status Pesanan</label>
                    <div class="col-md-8">
                      <input class="form-control form-control-sm" type="text" value="{{pesanan.status}}" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Jenis Pesanan</label>
                    <div class="col-md-8">
                      <input class="form-control form-control-sm" type="text" value="{{ pesanan.jenis_pesanan | upper }}" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Nama Penerima</label>
                    <div class="col-md-8">
                      <input class="form-control form-control-sm" type="text" value="{{pesanan.nama_penerima}}" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">No Telp.</label>
                    <div class="col-md-8">
                      <input class="form-control form-control-sm" type="text" value="{{pesanan.telepon_penerima}}" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-15">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Provinsi & Kota</label>
                    <div class="col-md-8">
                      <input class="form-control form-control-sm" type="text" value="{{pesanan.kota}} ({{pesanan.provinsi}})" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Alamat</label>
                    <div class="col-md-8">
                      <textarea class="form-control form-control-sm" rows="3" disabled>{{pesanan.jalan_penerima}}</textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Kode Pos</label>
                    <div class="col-md-8">
                      <input class="form-control form-control-sm" type="text" value="{{pesanan.kode_pos_penerima}}" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Catatan Pengiriman</label>
                    <div class="col-md-8">
                      <textarea class="form-control form-control-sm" rows="3" disabled>{{pesanan.catatan}}</textarea>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                    <div class="cart-table table-responsive mb-40">
                        <table id="tabel_pesanan">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Foto</th>
                                    <th class="pro-title">Produk</th>
                                    <th class="pro-price">Harga</th>
                                    <th class="pro-quantity">Jumlah</th>
                                    <th class="pro-subtotal">Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for key, row in detPesanan %}
                                <tr id="{{ row.id }}">
                                  <td class="pro-thumbnail">
                                    <img src="{{row.foto}}" alt="" />
                                  </td>
                                  <td class="pro-title">{{ row.m_produk_nama }}</td>
                                  <td class="pro-price">
                                    <span class="amount" style="font-size:18px;">
                                      {{ row.harga | number_format }}
                                    </span>
                                  </td>
                                  <td>
                                    <span class="amount" style="font-size:18px;">
                                      {{ row.jumlah | number_format }}
                                    </span>
                                  </td>
                                  <td class="pro-subtotal" style="font-size:18px;">
                                    {{ row.sub_total | number_format }}
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="cart-total fix mb-40">
                        <h3>Cart Totals</h3>
                        <table>
                            <tbody>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td>
                                        <strong>
                                          <span class="amount">{{ total | number_format }}</span>
                                        </strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Ongkir</th>
                                    <td>
                                        <strong>
                                          <span class="amount">{{ pesanan.ongkir | number_format }}</span>
                                        </strong>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Grand Total</th>
                                    <td>
                                        <strong>
                                          <span class="amount">{{ (total + pesanan.ongkir) | number_format }}</span>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="proceed-to-checkout section mt-30">
                            <button type="button" id='proses-checkout' class="custom-button-pesanan float-right" value="{{tipe_pesanan}}">
                              Checkout</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </form>

    </div>
</div><!-- Page Section End -->

{% endblock %}
