{% extends "/public/template-parts/main.html" %}
  {% block content %}
<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Keranjang Belanja</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{{site_url}}/home">Home</a></li>
                    <li><a href="{{site_url}}/cart">Keranjang Belanja</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
    <div class="container">

        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table table-responsive mb-40">
                        <table id="tabel_pesanan">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Foto</th>
                                    <th class="pro-title">Produk</th>
                                    <th class="pro-price">Harga</th>
                                    <th class="pro-quantity">Jumlah</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Hapus</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for key, row in listPesanan %}
                                <tr id="{{ row.id }}">
                                  <td class="pro-thumbnail">
                                    <img src="{{row.foto}}" alt="" />
                                  </td>
                                  <td class="pro-title">{{ row.nama }}</td>
                                  <td class="pro-price">
                                    <span class="amount" style="font-size:18px;">
                                      {{ row.harga_jual | number_format }}
                                    </span>
                                  </td>
                                  <td class="pro-quantity">
                                    <div class="pro-qty">
                                      <input class="addProdukCart" id="{{ row.id }},{{ row.jenis }},{{ row.stok }}" type="text" value="{{ row.jumlah_pesan }}" max="{{ row.max }}">
                                    </div>
                                  </td>
                                  <td class="pro-subtotal" style="font-size:18px;">
                                    {{ row.sub_total | number_format }}
                                  </td>
                                  <td class="pro-remove">
                                    <button class="hapusRow btn btn-sm btn-danger" type="button" name="button" title="Keluarkan dari Keranjang Belanja" value="{{ row.id }},{{ row.jenis }}">
                                      <i class="fa fa-trash"></i>
                                    </button>
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="cart-buttons mb-30">
                        <!-- <input id="updateCart" type="button" value="Update Cart" /> -->
                        <a href="{{site_url}}/produk">Lanjutkan Belanja</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="cart-total fix mb-40">
                        <h3>Cart Totals</h3>
                        <table>
                            <tbody>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td>
                                        <strong>
                                          <span class="amount">{{ totalPesanan | number_format }}</span>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="proceed-to-checkout section mt-30">
                            <button type="button" id='proses-checkout' class="custom-button-pesanan float-right" value="{{tipe_pesanan}}">
                              Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div><!-- Page Section End -->

{% endblock %}
