{% extends "/public/template-parts/main.html" %} {% block content %}
<!-- Page Banner Section Start -->
    <div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
        <div class="container">
            <div class="row">
                <div class="page-banner-content col">

                    <h1>Komplain</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{{site_url}}/home">Beranda</a></li>
                        <li><a href="{{site_url}}/Komplain">Komplain</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- Page Section Start -->
    <div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 mb-40">
                  <button class="float-right btn btn-sm btn-primary" id="ajukan_komplain"
                  type="button" data-toggle="modal" data-target="#modalKomplain">
                    <i class="fa fa-plus mt-5"></i>&nbsp; Ajukan Komplain
                  </button>
                  <h3>Komplain</h3>
                  <table class="table table-hover table-stripped table-bordered mt-40">
                    <tr>
                      <th class="text-center" width="150px">Kode</th>
                      <th class="text-center" width="150px">Tanggal</th>
                      <th class="text-center" >Subjek</th>
                      <th class="text-center" width="150px">Status</th>
                      <th class="text-center" width="5%"></th>
                    </tr>
                    {% for key, row in listKomplain %}
                    <tr>
                      <td class="text-center">{{ row.kode }}</td>
                      <td class="text-center">{{ row.tanggal | date('d-m-Y') }}</td>
                      <td>{{ row.subjek }}</td>
                      <td class="text-center">
                        {% if row.is_closed == 1 %}
                          <span class="bg-secondary text-white p-1 rounded">Closed</span>
                        {% else %}
                          <span class="bg-success text-white p-1 rounded">Open</span>
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{site_url}}/komplain-detail?id={{row.id}}">
                          <button class="btn btn-sm btn-primary view-komplain" type="button" name="view-komplain">
                            <i class="fa fa-eye"></i>
                          </button>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% if (listKomplain | length) < 1 %}
                    <tr>
                      <td colspan="5" class="text-center">
                        Anda belum pernah mengajukan Komplain.
                      </td>
                    </tr>
                    {% endif %}
                  </table>
                </div>
                <!-- Modal -->
                <div id="modalKomplain" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Form Pengajuan Komplain</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form name="form" id="form-komplain" action="submit-komplain"
                        method="POST" class="mb-30" enctype='multipart/form-data' accept="image/*" autocomplete="off">
                            <div class="row">
                                <div class="col-4 mb-15">
                                  <label for="nama">Nama</label>
                                  <input class="form-control form-control-sm" name="nama" id="nama" type="text" placeholder="Nama" value="{{session.customer.nama}}" disabled>
                                  <input name="tipe" id="tipe" type="hidden" value="post">
                                  <input name="m_member_id" id="m_member_id" type="hidden" value="{{ session.customer.id }}">
                                </div>
                                <div class="col-8 mb-15">
                                  <label for="email">Email</label>
                                  <input class="form-control form-control-sm" name="email" id="email" type="email" placeholder="Email"  value="{{session.customer.email}}" disabled>
                                </div>
                                <div class="col-4 mb-15">
                                  <label for="kategori">Kategori Komplain</label>
                                  <select class="form-control form-control-sm" name="kategori" id="kategori" type="text" required>
                                    <option value="">- Pilih Kategori Komplain -</option>
                                    <option value="Surat Pesanan">Surat Pesanan</option>
                                    <option value="Pengiriman">Pengiriman</option>
                                    <option value="Pelayanan">Pelayanan</option>
                                    <option value="Lainnya">Lainnya</option>
                                  </select>
                                </div>
                                <div class="col-8 mb-15">
                                  <label for="subjek">Subjek</label>
                                  <input class="form-control form-control-sm" name="subjek" id="subjek" type="text" placeholder="Subjek Komplain" required>
                                </div>
                                <div class="col-4 mb-15">
                                  <label for="image">Upload Gambar</label>
                                  <img class="img-thumbnail" id="blah" src="../../img/no-image.png"
                                  alt="your image" width="100%"/>
                                  <input type="file" class="form-control form-control-sm" name="image" id="image"
                                  onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="col-8 mb-15">
                                  <label for="content">Keluhan Anda</label>
                                  <textarea class="form-control form-control-sm" name="content" id="editor" placeholder="Sampaikan keluhan Anda disini." rows="14"></textarea>

                                </div>
                                <div class="col-md-4 offset-md-4 text-center">
                                  <button type="submit" class="btn btn-sm btn-primary">
                                    Simpan
                                  </button>

                                </div>
                            </div>
                        </form>
                      </div>

                    </div>

                  </div>
                </div>
                  <!-- modal end -->
            </div>
        </div>
    </div><!-- Page Section End -->

  {% include '/public/template-parts/brand-section.html' %}
{% endblock %}
