{% extends "/public/template-parts/main.html" %} {% block content %}
<!-- Page Banner Section Start -->
    <div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
        <div class="container">
            <div class="row">
                <div class="page-banner-content col">

                    <h1>Komplain</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{{site_url}}/home">Beranda</a></li>
                        <li><a href="{{site_url}}/komplain">Detail Komplain</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- Page Section Start -->
    <div class="blog-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">
            <div class="row row-30">

                <div class="col-lg-8 offset-lg-2 col-12 order-1 order-lg-2 mb-40 border-kafilah p-4">
                    <div class="single-blog">
                        <div class="image-wrap">
                            <h4 class="date">{{ komplain.tanggal | date("F") }}
                              <span>{{ komplain.tanggal | date("d") }}</span>
                            </h4>
                            <h3>{{komplain.subjek}}</h3>
                            <!-- <a class="image" href="single-blog.html"><img src="{{base_url}}/assets/images/hero/hero-7.jpg" alt=""></a> -->
                        </div>
                        <div class="content">
                            <ul class="meta">
                                <li>
                                  <a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-default.png" alt="Blog Author">
                                    {{ komplain.nama }}
                                  </a>
                                </li>
                                <!-- <li><a href="#">25 Likes</a></li> -->
                                <li> <span class="fa fa-tags"></span> {{komplain.kategori}}</li>
                                <li>
                                  <a href="#">
                                    {% if komplain.is_closed == 1 %}
                                      <span class="bg-secondary text-white p-1 rounded">Closed</span>
                                    {% else %}
                                      <span class="bg-success text-white p-1 rounded">Open</span>
                                    {% endif %}
                                  </a>
                                </li>
                                <!-- <div class="post-tags col-lg-6 col-12 mv-15">
                                    <h4>Kategori:</h4>
                                    <ul class="tag"> -->
                                    <!-- </ul>
                                </div> -->
                            </ul>
                            <div class="desc">
                              {% if komplain.image %}
                              <div class="row">
                                <center>
                                <img src="{{komplain.image}}" alt="komplain.subjek" style='max-height:350px;object-fit:cover'/>
                              </div>
                              {% endif %}

                              {{ komplain.isi | raw }}
                            </div>

                            <!-- <div class="blog-footer row mt-45">

                                <div class="post-tags col-lg-6 col-12 mv-15">
                                    <h4>Kategori:</h4>
                                    <ul class="tag">
                                        <li>{{komplain.kategori}}</li>
                                    </ul>
                                </div>

                            </div> -->
                        </div>
                    </div>

                </div>

                <!-- List Reply -->
                {% for key, row in komplain_det %}

                <div class="col-lg-8 offset-lg-2 col-12 order-1 order-lg-2 mb-40 border-kafilah p-4 bg-light">
                    <div class="single-blog">

                        <div class="content">
                            <ul class="meta">
                                <li>
                                  <a href="#"><img src="{{base_url}}/assets/images/blog/blog-author-default.png" alt="Blog Author">
                                    {% if row.m_member_id == komplain.m_member_id %}
                                      {{ row.nama }}
                                    {% else %}
                                      Admin
                                    {% endif %}
                                  </a>
                                </li>
                                <li>
                                  <span>{{ komplain.tanggal | date("d-m-Y") }}</span>
                                </li>
                            </ul>
                            <div class="desc">
                              {{ row.isi | raw }}
                            </div>

                        </div>
                    </div>

                </div>

                {% endfor %}
                <!-- end of List Reply -->
                {% if komplain.is_closed == 0 %}
                <div class="col-lg-8 offset-lg-2 col-12 order-1 order-lg-2 mb-40 text-center">
                  <button class="btn- btn-sm btn-primary" type="button" name="button"
                     data-toggle="modal" data-target="#modalKomplain">
                    Tambahkan Komentar
                  </button>
                </div>
                {% endif %}
                <!-- Modal -->
                <div id="modalKomplain" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-md">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Berikan tanggapan Anda</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form name="form" id="form-komplain" action="submit-komplain"
                    method="POST" class="mb-30" enctype='multipart/form-data' accept="image/*" autocomplete="off">
                        <div class="row">
                            <div class="col-12 mb-15">
                              <input name="m_komplain_id" id="m_komplain_id" type="hidden" value="{{ komplain.id }}">
                              <input name="tipe" id="tipe" type="hidden" value="reply">
                              <input name="m_member_id" id="m_member_id" type="hidden" value="{{ session.customer.id }}">

                              <textarea class="form-control form-control-sm" name="content" id="editor" placeholder="Tanggapan Anda" rows="10"></textarea>
                            </div>
                            <div class="col-md-4 offset-md-4 text-center">
                              <button type="submit" class="btn btn-sm btn-primary">
                                Simpan
                              </button>

                            </div>
                        </div>
                    </form>
                  </div>

                </div>

              </div>
            </div>
              <!-- modal end -->

            </div>
        </div>
    </div><!-- Blog Section End -->

  {% include '/public/template-parts/brand-section.html' %}
{% endblock %}
