{% extends "/public/template-parts/main.html" %}
  {% block content %}
  
    <div class="text-center" style="padding-top:100px;min-height:350px;">
      {% if(status_konfirmasi == 'confirmed') %}
      <h1>Selamat Registrasi Customer Berhasil!</h1>
      <br>
      <h4>Silakan <a href="{{site_url}}/login-register">login</a> dengan Username dan Password yang Anda masukkan ketika mendaftar, terimakasih.</h4>

      {% else %}
      <h1>Error 404</h1>
      <span>Halaman yang Anda cari tidak ditemukan.</span>
      {% endif %}

    </div>
  {% endblock %}
