{% extends "/public/template-parts/main.html" %}{% block content %}
<!-- Page Banner Section Start -->
  <div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
      <div class="container">
          <div class="row">
              <div class="page-banner-content col">

                  <h1>Hubungi Kami</h1>
                  <ul class="page-breadcrumb">
                      <li><a href="{{site_url}}/home">Beranda</a></li>
                      <li><a href="{{site_url}}/kontak">Kontak</a></li>
                  </ul>

              </div>
          </div>
      </div>
  </div><!-- Page Banner Section End -->

  <!-- Page Section Start -->
  <div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
      <div class="container">
          <div class="row row-30">

             <div class="contact-info-wrap col-md-6 col-12 mb-40">
                 <h3>Tetap Terhubung dengan Kami</h3>
                 {{ about.artikel | raw }}
                 <ul class="contact-info">
                     <li>
                         <i class="fa fa-map-marker"></i>
                         <p>{{ session.setting.alamat }}</p>
                     </li>
                     <li>
                         <i class="fa fa-phone"></i>
                         <p>{{ session.setting.no_telp }}</p>
                     </li>
                     <li>
                         <i class="fa fa-globe"></i>
                         <p><a href="#">{{ session.setting.email }}</a></p>
                     </li>
                 </ul>
             </div>

             <!-- <div class="contact-form-wrap col-md-6 col-12 mb-40">
                 <h3>Leave a Message</h3>
                 <form  id="contact-form" action="{{base_url}}/assets/php/mail.php">
                     <div class="contact-form">
                         <div class="row">
                             <div class="col-lg-6 col-12 mb-30"><input type="text" name="name" placeholder="Your Name"></div>
                             <div class="col-lg-6 col-12 mb-30"><input type="email" name="email" placeholder="Email Address"></div>
                             <div class="col-12 mb-30"><textarea name="message" placeholder="Message"></textarea></div>
                             <div class="col-12"><input type="submit" value="send"></div>
                         </div>
                     </div>
                 </form>
                 <p class="form-messege"></p>
             </div> -->

          </div>
      </div>
  </div><!-- Page Section End -->

{% endblock %}
