{% extends "/public/template-parts/main.html" %} {% block content %}
<!-- Page Banner Section Start -->
    <div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
        <div class="container">
            <div class="row">
                <div class="page-banner-content col">

                    <h1>Login & Register</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{{site_url}}/home">Beranda</a></li>
                        <li><a href="{{site_url}}/login-register">Login & Register</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- Page Section Start -->
    <div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 mb-40">
                    <div class="login-register-form-wrap">
                        <h3>Login</h3>
                        <form name="form" id="form_login" action="#" class="mb-30" autocomplete="off">
                            <div class="row">
                                <div class="col-12 mb-15">
                                  <input name="username" id="username" type="text" placeholder="Username">
                                </div>
                                <div class="col-12 mb-15">
                                  <input name="password" id="password" type="password" placeholder="Password">
                                </div>
                                <div class="col-12">
                                  <button class="custom-button" id="form_login_submit" type="button">Login</button>
                                  <a class="float-right mt-10" href="{{site_url}}/lupa-password">
                                    <u>Lupa password Anda?</u>
                                  </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-2 col-12 mb-40 text-center">
                    <span class="login-register-separator"></span>
                </div>

                <div class="col-lg-6 col-12 mb-40 ml-auto">
                    <div class="login-register-form-wrap">
                        <h3>Register</h3>
                        <form name="form" id="form_register" action="#" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6 col-12 mb-15">
                                  <input id="nama" name="nama" type="text" placeholder="Nama Anda">
                                </div>
                                <div class="col-md-6 col-12 mb-15">
                                  <input id="username" name="username" type="text" placeholder="User Name">
                                </div>
                                <div class="col-md-6 col-12 mb-15">
                                  <input id="email" name="email" type="email" placeholder="Email">
                                </div>
                                <div class="col-md-6 col-12 mb-15">
                                  <input id="password" name="password" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-6 col-12 mb-15">
                                  <input id="password_confirm" name="password_confirm" type="password" placeholder="Confirm Password">
                                </div>
                                <div class="col-md-6 col-12">
                                  <button class="custom-button" id="form_register_submit" type="button">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <br>

                <div class="col-lg-6 offset-lg-3 mb-40">
                    <div class="alert alert-warning text-center" id="errorAlert"></div>

                    <div class="alert alert-success text-center" id="successAlert"></div>
                </div>


            </div>
        </div>
    </div><!-- Page Section End -->

  {% include '/public/template-parts/brand-section.html' %}
{% endblock %}
