{% extends "/public/template-parts/main.html" %}
{% block content %}
<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Lupa Password</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{{site_url}}/home">Beranda</a></li>
                    <li><a href="{{site_url}}/lupa-password">Lupa Password</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

{% if(uri == 'lupa-password') %}
<div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 offset-lg-3 col-12 mb-40 text-center">
        <span>Masukkan alamat Email yang Anda gunakan ketika mendaftar. Kami akan mengirimkan link konfirmasi ke email Anda.</span>
        <br> <br>
      </div>
      <div class="col-lg-4 offset-lg-4 col-12 mb-40">
        <div class="login-register-form-wrap text-center">
          <form name="form" id="form_lupa_password" action="#" class="mb-30" autocomplete="off">
            <div class="row">
              <div class="col-12 mb-15">
                <input name="email" id="email" type="email" placeholder="Email Anda">
              </div>
              <!-- <div class="col-12 mb-15">
                <input name="password" id="password" type="password" placeholder="Password Baru">
              </div>
              <div class="col-12 mb-15">
                <input name="password_confirm" id="password_confirm" type="password" placeholder="Konfirmasi Password Baru">
              </div> -->
              <div class="col-12">
                <button class="custom-button" id="form_lupa_submit" type="button">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="pesan" class="col-lg-6 offset-lg-3 col-12 mb-40 text-center">
        <div class="alert alert-warning text-center" id="errorAlert"></div>
        <div class="alert alert-success text-center" id="successAlert"></div>
      </div>

    </div>
  </div>
</div>
{% endif %}

{% if(uri == 'konfirm-reset-password') %}
<div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 offset-lg-3 col-12 mb-40 text-center">
        <span>Silakan masukkan password baru Anda.</span>
        <br> <br>
      </div>
      <div class="col-lg-4 offset-lg-4 col-12 mb-40">
        <div class="login-register-form-wrap text-center">
          <form name="form" id="form_reset" action="#" class="mb-30" autocomplete="off">
            <div class="row">
              <div class="col-12 mb-15">
                <input name="email" id="email" type="hidden" placeholder="Email" value="{{customer.email}}">
              </div>
              <div class="col-12 mb-15">
                <input name="kode_uniq" id="kode_uniq" type="hidden" placeholder="Kode Unik" value="{{customer.password_reset}}">
              </div>
              <div class="col-12 mb-15">
                <input name="password" id="password" type="password" placeholder="Password Baru">
              </div>
              <div class="col-12 mb-15">
                <input name="password_confirm" id="password_confirm" type="password" placeholder="Konfirmasi Password Baru">
              </div>
              <div class="col-12">
                <button class="custom-button" id="form_reset_submit" type="button">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="pesan" class="col-lg-6 offset-lg-3 col-12 mb-40 text-center">
        <div class="alert alert-warning text-center" id="errorAlert"></div>
        <div class="alert alert-success text-center" id="successAlert"></div>
      </div>

    </div>
  </div>
</div>

{% endif %}

{% endblock %}
