{% extends "/public/template-parts/main.html" %}{% block content %}

<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
  <div class="container">
    <div class="row">
      <div class="page-banner-content col">

        <h1>Detail Produk</h1>
        <ul class="page-breadcrumb">
          <li><a href="{{site_url}}/home">Beranda</a></li>
          <li><a href="{{site_url}}/produk">Produk</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
<!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-80 mb-lg-60 mb-md-60 mb-sm-60 mb-xs-40">
  <div class="container">
    <div class="row row-30">

      <div class="col-12">
        <div class="row row-20 mb-20 mb-xs-0">

          <div class="col-lg-6 col-12 mb-40">

            <div class="pro-large-img mb-10 fix easyzoom easyzoom--overlay easyzoom--with-thumbnails">
              <a href="{{produk.foto}}" style="height:420px;display:block;vertical-align:center;">
                <img src="{{produk.foto}}" alt="" style="width:100%;display:block;vertical-align:center;"/>
              </a>
            </div>
            <!-- Single Product Thumbnail Slider -->
            <ul id="pro-thumb-img" class="pro-thumb-img">
              {% for key, row in listFoto %}
              <li>
                <a href="{{row.foto_url}}" data-standard="{{row.foto_url}}">
                  <img src="{{row.foto_url}}" alt="" />
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-6 col-12 mb-40">
            <div class="single-product-content">

              <div class="head">
                <div class="head-left">
                  <h3 class="title">{{produk.nama}}</h3>
                </div>

                <div class="head-right">
                  <span class="price">Rp.{{produk.harga_jual | number_format}},-</span>
                  <strike class=" text-secondary">
                    <span  class="ratting">
                      {% if produk.harga_coret > 0 %}
                      Rp.{{produk.harga_coret | number_format}}
                      {% endif %}
                    </span>
                  </strike>
                </div>
              </div>

              <div class="description">
                {{produk.keterangan | raw}}
              </div>

              <span class="availability">
                Stok:
                {% if (produk.jenis == "non-po") and (produk.stok > 0) %}
                <span>Tersedia</span>
                {% elseif (produk.jenis == "non-po") and (produk.stok < 1)%}
                <span>Habis</span>
                {% else %}
                <span>Tersedia (Pre-Order)</span>
                {% endif %}
              </span>

              <div class="quantity-colors">
                <div class="quantity">
                  <h5>Quantity:</h5>
                  <div class="pro-qty">
                    <input type="text" value="1" min="1" max="{{produk.stok}}" disabled>
                  </div>
                </div>
              </div>

              <div class="actions">
                <button class="tambahKeranjang" id="{{row.id}}" value="{{produk.id}},{{produk.jenis}}">
                  <i class="ti-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </button>
              </div>

              <div class="tags">
                  <h5>Kategori:</h5>
                  <a href="#">{{ produk.kategori }}</a>
              </div>

              <div class="share">
                  <h5>Share: </h5>
                  <a href="http://www.facebook.com/sharer.php?u={{site_url}}/produk/{{produk.url}}" rel='nofollow' target='blank'>
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="http://twitter.com/share?url={{site_url}}/produk/{{produk.url}}" rel='nofollow' target='_bank'>
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="https://plus.google.com/share?url={{site_url}}/produk/{{produk.url}}">
                    <i class="fa fa-google-plus"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="section-title text-left col col mb-60 mb-sm-40 mb-xs-30">
            <h1>Produk Terkait</h1>
          </div>

          <div class="related-product-slider related-product-slider-1 col-12 p-0">
            <!-- Related Product -->
            {% for key, row in relatedProduct %}
            <div class="col" style="margin:20px 0 20px 0; padding-bottom:20px">

              <div class="product-item  border border-kafilah">
                <div class="product-inner">

                  <div class="image">
                    <img src="{{row.foto}}" alt="">
                    <div class="image-overlay">
                      <div class="action-buttons">
                        <a href="{{site_url}}/produk/{{row.url}}">
                          <button>
                              Tampilkan Detail
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="content">
                    <div class="content-left">
                      <h4 class="title">
                        <a href="{{site_url}}/produk/{{row.url}}">
                        {{ row.nama|length > 24 ? row.nama|slice(0, 24) ~ '...' : row.nama }}
                        </a>
                      </h4>
                      <span class="ratting" style="display: block;font-size: 18px;font-weight: 600;color: #ff708a;font-family: 'Dosis', sans-serif;">
                        Rp.{{row.harga_jual | number_format}},-
                        <strike class="text-secondary" style="font-size:15px">
                            {% if row.harga_coret > 0 %}
                            Rp.{{row.harga_coret | number_format}}
                            {% endif %}
                        </strike>
                      </span>

                      <h5 class="size">&nbsp;</h5>
                      <h5 class="color">&nbsp;</h5>

                    </div>

                  </div>
                </div>
              </div>

            </div>
            {% endfor %}
            <!-- End related product -->
          </div>

        </div>

      </div>

    </div>
  </div>
</div><!-- Page Section End -->

{% endblock %}
