{% extends "/public/template-parts/main.html" %} {% block content %}

  <!-- Page Banner Section Start -->
  <div class="page-banner-section section" style="background-image: url({{base_url}}/assets/images/hero/hero-bookshelf-freepik.png)">
      <div class="container">
          <div class="row">
              <div class="page-banner-content col">

                  <h1>Galeri Produk</h1>
                  <ul class="page-breadcrumb">
                      <li><a href="{{site_url}}/home">Beranda</a></li>
                      <li><a href="{{site_url}}/produk">Produk</a></li>
                  </ul>

              </div>
          </div>
      </div>
  </div><!-- Page Banner Section End -->

  <!-- Page Section Start -->
  <div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-80 mb-lg-60 mb-md-60 mb-sm-60 mb-xs-40">
      <div class="container">
          <div class="row">

              {% for key, row in listProduk %}
              <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                  <div class="product-item border border-kafilah">
                      <div class="product-inner">

                          <div class="image">
                              <img src="{{row.foto}}" alt="">

                              <div class="image-overlay">
                                  <div class="action-buttons">
                                      <button class="tambahKeranjang" id="{{row.id}}" value="{{row.id}},{{row.jenis}}">add to cart</button>
                                      <!-- <button>add to wishlist</button> -->
                                  </div>
                              </div>

                          </div>

                          <div class="content">
                              <div class="content-left">
                                  <h4 class="title">
                                    <a href="{{site_url}}/produk/{{row.url}}">
                                      {{ row.nama|length > 24 ? row.nama|slice(0, 24) ~ '...' : row.nama }}
                                    </a>
                                  </h4>

                                  <span class="ratting" style="display: block;font-size: 18px;font-weight: 600;color: #ff708a;font-family: 'Dosis', sans-serif;">
                                    Rp.{{row.harga_jual | number_format}},-
                                    <strike class="text-secondary" style="font-size:15px">
                                        {% if row.harga_coret > 0 %}
                                        Rp.{{row.harga_coret | number_format}}
                                        {% endif %}
                                    </strike>
                                  </span>

                                  <h5 class="size">&nbsp;</h5>
                                  <h5 class="color">&nbsp;</h5>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>

              {% endfor %}

              <div class="col-12">
                {{ pagination | raw }}
                  <!-- <ul class="page-pagination">
                      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
              </div>

          </div>

      </div>
  </div><!-- Page Section End -->
{% endblock %}
