<div class="animated fadeIn">
  <div ng-controller="resellerCtrl">
    <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
      <div class="card-header">
        <strong class="d-md-down-none">Daftar Reseller</strong>
        <div class="btn-group pull-right mt-5px" role="group">
          <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <i class="fa fa-search"></i>
            &nbsp;Pencarian
          </button>
          <button class="btn btn-primary btn-sm" ng-click="create();">
            <i class="fa fa-plus"></i>
            &nbsp;Buat Baru
          </button>
        </div>
      </div>
      <div class="card-body p-0px">
        <div class="pl-15px pr-15px">
          <div class="row mt-15px" ng-show="!isCollapsed">
            <div class="col-md-12">
              <div class="alert alert-secondary">
                <form name="landaform" novalidate="">
                  <div class="form-group row mb-0">
                    <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                    <div class="col-sm-2">
                      <input st-search="m_member.kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode" />
                    </div>
                    <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                    <div class="col-sm-2">
                      <input st-search="m_member.nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
              <tr>
                <th class="align-left">Kode</th>
                <th class="align-left">Nama</th>
                <th class="align-left">Telepon</th>
                <th class="align-left">Alamat</th>
                <th></th>
              </tr>
              </tr>
            </thead>
            <tbody ng-show="!isLoading">
              <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                <td class="align-left">{{ row.kode }}</td>
                <td class="align-left">{{ row.nama }}</td>
                <td class="align-left">{{ row.no_hp }}</td>
                <td class="align-left">{{ row.w_desa.desa }}, {{row.w_kecamatan.kecamatan}}, {{row.w_kota.kota}}, {{row.w_provinsi.provinsi}}.</td>
                <td>
                  <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                    <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
      </div>
    </div>
    <div class="card" ng-if="is_edit">
      <div class="card-header">
        <strong>
          {{formtittle}}
        </strong>
      </div>
      <div class="card-body">
        <form name="landaform" novalidate="">
          <div class="row">
            <div class="col-md-6">
              <span class="font-weight-bold">DATA PRIBADI</span>
              <hr>
              <div class="form-group row" ng-if="!is_create">
                  <label class="col-sm-3 col-form-label-sm">Reff ID</label>
                  <div class="col-sm-9">
                      <ui-select ng-model="form.reff_id" class="w100" theme="bootstrap" ng-disabled="1">
                          <ui-select-match placeholder="Pilih Reff ID [Ketikkan Nama Member]">{{ $select.selected.nama }}</ui-select-match>
                          <ui-select-choices position="down" refresh="getReff($select.search)" repeat="reff in listMember">{{ reff.nama }}</ui-select-choices>
                      </ui-select>
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">NIK</label>
                <div class="col-sm-9">
                  <input type="text" class="angka text-left form-control form-control-sm" ng-model="form.nik" maxlength="16" ng-disabled="is_view" placeholder="NIK"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Kode</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"  placeholder="Kode"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Nama</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="100" ng-disabled="is_view"  placeholder="Nama Lengkap"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Jenis Kelamin</label>
                <div class="col-sm-9">
                  <select class="form-control form-control-sm" ng-model="form.jenkel" ng-disabled="is_view">
                    <option value="">.: Pilih Jenis Kelamin :.</option>
                    <option value="laki-laki">Laki-laki</option>
                    <option value="perempuan">Perempuan</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">TTL</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control form-control-sm" ng-model="form.tempat_lahir" maxlength="50" ng-disabled="is_view" placeholder="Tempat Lahir"/>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_lahir')" is-open="opened.tanggal_lahir" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_lahir" ng-disabled="is_view"  placeholder="Tanggal Lahir"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">No HP</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm text-left angka" ng-model="form.no_hp" maxlength="25" ng-disabled="is_view"  placeholder="No Telepon / HP"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" ng-model="form.email" maxlength="50" ng-disabled="is_view"  placeholder="Email"/>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <span class="font-weight-bold">ALAMAT RESELLER</span>
              <hr>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                <div class="col-sm-9">
                  <ui-select ng-model="form.w_provinsi" on-select="cariKota(form.w_provinsi)" class="w100" theme="bootstrap" ng-disabled="is_view">
                    <ui-select-match placeholder="Pilih Provinsi">
                      {{$select.selected.provinsi}}
                    </ui-select-match>
                    <ui-select-choices position="down" repeat="provinsi in listProvinsi | filter:$select.search">
                      {{provinsi.provinsi}}
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Kabupaten / Kota</label>
                <div class="col-sm-9">
                  <ui-select ng-model="form.w_kota" on-select="cariKecamatan(form.w_kota)" class="w100" theme="bootstrap" ng-disabled="is_view">
                    <ui-select-match placeholder="Pilih Kota">
                      {{$select.selected.kota}}
                    </ui-select-match>
                    <ui-select-choices position="down" repeat="kota in listKota | filter:$select.search">
                      {{kota.kota}}
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                <div class="col-sm-9">
                  <ui-select ng-model="form.w_kecamatan" on-select="cariDesa(form.w_kecamatan)" class="w100" theme="bootstrap" ng-disabled="is_view">
                    <ui-select-match placeholder="Pilih Kecamatan">
                      {{$select.selected.kecamatan}}
                    </ui-select-match>
                    <ui-select-choices position="down" repeat="kecamatan in listKecamatan | filter:$select.search">
                      {{kecamatan.kecamatan}}
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Desa</label>
                <div class="col-sm-9">
                  <ui-select ng-model="form.w_desa" class="w100" theme="bootstrap" ng-disabled="is_view">
                    <ui-select-match placeholder="Pilih Desa">
                      {{$select.selected.desa}}
                    </ui-select-match>
                    <ui-select-choices position="down" repeat="desa in listDesa | filter:$select.search">
                      {{desa.desa}}
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">Jalan</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" ng-model="form.jalan" maxlength="255" ng-disabled="is_view" placeholder="Nama Jalan"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">RT / RW</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control form-control-sm" ng-model="form.rt" maxlength="45" ng-disabled="is_view" placeholder="RT"/>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control form-control-sm" ng-model="form.rw" maxlength="45" ng-disabled="is_view"  placeholder="RW"/>
                </div>
                <label class="col-sm-2 col-form-label-sm">Kode POS</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control form-control-sm" ng-model="form.kode_pos" maxlength="45" ng-disabled="is_view" placeholder="Kode POS"/>
                </div>
              </div>

            </div>

          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="pull-right" ng-hide="is_pengajuan">
          <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
            <i class="fa fa-arrow-left"></i>
            &nbsp;Kembali
          </button>
          <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
