<div class="animated fadeIn">
    <div ng-controller="mutasiCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Mutasi Member</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <!-- <button class="btn btn-primary btn-sm" ng-click="create();" ng-if="user.tipe_member == 'Admin'">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button> -->
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nik</label>
                                        <div class="col-sm-2">
                                            <input st-search="nik" class="form-control form-control-sm" placeholder="Cari berdasarkan Nik"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Kode</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_member.kode" class="form-control form-control-sm" placeholder="Cari berdasarkan Kode"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_member.nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Kode</th>
                                    <th class="align-left">Nik</th>
                                    <th class="align-left">Nama</th>
                                    <th class="align-left">Jenis Kelamin</th>
                                    <th class="align-left">Telepon</th>
                                    <th class="align-left">Level</th>
                                    <th class="align-center">Status</th>
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode }}</td>
                                <td class="align-left">{{ row.nik }}</td>
                                <td class="align-left">{{ row.nama }}</td>
                                <td class="align-left">{{ row.jenkel }}</td>
                                <td class="align-left">{{ row.no_hp }}</td>
                                <td class="align-left">{{ row.level_nama }} {{row.status_qpa != undefined ? '('+row.status_qpa+')' : '' }}</td>
                                <td class="align-center">
                                    <span ng-if="row.status == 'menunggu persetujuan'" class="badge badge-warning">Menunggu Persetujuan</span>
                                    <span ng-if="row.status == 'aktif'" class="badge badge-success">Aktif</span>
                                    <span ng-if="row.status == 'ditolak'" class="badge badge-danger">Diblokir</span>
                                    <span ng-if="row.status == 'diblokir'" class="badge badge-danger">Diblokir</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-click="update(row)"></button>
                                        <!-- <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0 && user.m_roles_id == 1" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
                <button class="btn btn-danger btn-sm float-right" ng-hide="!is_pengajuan" ng-click="konfirmasi(form, 'tolak')">
                    <i class="fa fa-remove"></i>
                    &nbsp;Tolak
                </button>
                <button class="btn btn-success btn-sm float-right mr-2" ng-hide="!is_pengajuan" ng-click="konfirmasi(form, 'terima')">
                    <i class="fa fa-check-square"></i>
                    &nbsp;Setujui
                </button>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">

                        <div class="col-md-6">
                            <span class="font-weight-bold">DATA PRIBADI</span>
                            <hr/>
                            <div class="form-group row" ng-if="user.tipe_member == 'Admin'">
                                <label class="col-sm-3 col-form-label-sm">Reff ID</label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.reff_id" class="w100" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Reff ID [Ketikkan Nama Member]">{{ $select.selected.nama }}</ui-select-match>
                                        <ui-select-choices position="down" refresh="getReff($select.search)" repeat="reff in listMember">{{ reff.nama }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="angka text-left form-control form-control-sm" ng-model="form.nik" maxlength="16" ng-disabled="1"  placeholder="NIK"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="45" ng-disabled="1"  placeholder="Kode"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="100" ng-disabled="1"  placeholder="Nama Lengkap"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                          <span class="font-weight-bold">&nbsp;</span>
                          <hr/>

                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm required">Jenis Kelamin</label>
                              <div class="col-sm-9">
                                  <div class="btn-group">
                                      <label class="btn btn-primary btn-sm" ng-disabled="1" ng-model="form.jenkel" uib-btn-radio="'laki-laki'">Laki-Laki</label>
                                      <label class="btn btn-primary btn-sm" ng-disabled="1" ng-model="form.jenkel" uib-btn-radio="'perempuan'">Perempuan</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm required">Tempat, Tgl Lahir</label>
                              <div class="col-sm-5">
                                  <input type="text" class="form-control form-control-sm" ng-model="form.tempat_lahir" maxlength="50" ng-disabled="1" placeholder="Tempat Lahir"/>
                              </div>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal_lahir')" is-open="opened.tanggal_lahir" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal_lahir" ng-disabled="1"  placeholder="Tanggal Lahir"/>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm">No HP</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control form-control-sm" ng-model="form.no_hp" maxlength="25" ng-disabled="1"  placeholder="No Telepon / HP"/>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm required">Email</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control form-control-sm" ng-model="form.email" maxlength="50" ng-disabled="1"  placeholder="Email"/>
                              </div>
                          </div>

                        </div>

                        <div class="col-md-6 mt-3">
                          <span class="font-weight-bold">Level Lama</span>
                          <hr/>

                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm">Level Member</label>
                              <div class="col-sm-3">
                                  <input type="text" class="form-control form-control-sm" value="{{ form.level_nama }}" ng-disabled="1"/>
                              </div>
                              <label class="col-sm-3 col-form-label-sm">Status Member</label>
                              <div class="col-sm-3">
                                  <input type="text" class="form-control form-control-sm" value="{{ form.status_qpa }}" ng-disabled="1"/>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm">Status Member</label>
                              <div class="col-sm-9">
                                <label class="btn btn-primary btn-sm" ng-disabled="1" ng-model="form.status" uib-btn-radio="'aktif'" ng-if="form.status=='aktif'">Aktif</label>
                                <label class="btn btn-danger btn-sm" ng-disabled="1" ng-model="form.status" uib-btn-radio="'aktif'" ng-if="form.status=='non-aktif'">Non-Aktif</label>
                              </div>
                          </div>
                        </div>

                        <div class="col-md-6 mt-3">
                          <span class="font-weight-bold">Level Baru</span>
                          <hr/>

                          <div class="form-group row">
                              <label class="col-sm-3 col-form-label-sm">Level Member</label>
                              <div class="col-sm-3">
                                  <!-- <select class="form-control form-control-sm" ng-model="form.m_level_id_baru" ng-disabled="is_view">
                                    <option value="{{val.id}}" ng-repeat="val in listLevel">{{val.nama}}</option>
                                  </select> -->

                                  <ui-select ng-model="form.m_level_id_baru" class="w100" theme="bootstrap" ng-disabled="is_view">
                                      <ui-select-match placeholder="Pilih Level">{{ $select.selected.nama }}</ui-select-match>
                                      <ui-select-choices position="down" repeat="level in listLevel | filter : $select.search">{{ level.nama }}</ui-select-choices>
                                  </ui-select>
                              </div>
                              <label class="col-sm-3 col-form-label-sm">Status Member</label>
                              <div class="col-sm-3">
                                <select class="form-control form-control-sm" ng-model="form.status_qpa_baru" ng-disabled="is_view || form.m_level_id_baru.id == 3">
                                  <option value=""> - </option>
                                  <option value="Beginner"> Beginner </option>
                                  <option value="Qualified"> Qualified </option>
                                </select>
                              </div>
                          </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="card-footer" ng-hide="is_pengajuan">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
