﻿
<!DOCTYPE html>
<html>

<head>
  <style>
  .print-area {
    margin: 10px;
    border:solid black 1px;
    height:530px;
    width:830px;
    vertical-align: middle;
    display:table-cell;
  }
  table{
    border-collapse:collapse;
    font-family:Verdana, Geneva, sans-serif;
  }
  th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
  }
  @page {
    size: 210mm 148mm;
    margin: 0mm;
  }
  html
  {
      background-color: #FFFFFF;
      margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  body
  {
      margin: 2mm 2mm 2mm 2mm; /* margin you want for the content */
      font-family:Verdana, Geneva, sans-serif;
      font-size: 13px;
  }
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }
</style>

</head>

<body>
  <div class="print-area">
    <table>
      <tr>
        <td width="25%">Ekspedisi</td>
        <td width="25%">
          {{penjualan.ekspedisi_ket}} <br>
          {{penjualan.catatan}}
        </td>
        <td colspan="2" width="50%">
          Nomor Invoice <br>
          {{penjualan.kode}}
        </td>
      </tr>
      <tr>
        <td>Administrasi</td>
        <td>
          Ongkir<br>
          <strong>Rp.{{penjualan.ongkir | number_format}}</strong>
        </td>
        <td>
          Berat<br>
          <strong>{{penjualan.total_berat/1000}} kg</strong>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          Pengirim <br>
          Kota <br>
          No. HP
        </td>
        <td colspan="3">
          <strong>{{alamat_kirim.nama}}</strong> <br>
          {{ alamat_kirim.w_kota.kota }} <br>
          {{alamat_kirim.no_hp}}
          <!-- {{penjualan.jalan_penerima}} <br>
          {{penjualan.w_desa.desa}}, {{penjualan.w_kecamatan.kecamatan}}, {{penjualan.w_kota.kota}}, {{penjualan.kode_pos_penerima}} <br>
          {{penjualan.w_provinsi.provinsi}} -->
        </td>
      </tr>
      <tr>
        <td>
          Kepada <br>
          Alamat <br><br> <br>
          No. HP
        </td>
        <td colspan="3">
          <strong>{{penjualan.nama_penerima}}</strong> <br>
          {{penjualan.jalan_penerima}}
          {{ (penjualan.rt_penerima is defined) ? 'RT '~ penjualan.rt_penerima~', ' : '' }}
          {{ (penjualan.rw_penerima is defined) ? 'RW '~ penjualan.rw_penerima~', ' : '' }}<br>
          {{penjualan.w_desa.desa}}, {{penjualan.w_kecamatan.kecamatan}}, {{penjualan.w_kota.kota}}, {{penjualan.kode_pos_penerima}} <br>
          {{penjualan.w_provinsi.provinsi}} <br>
          {{penjualan.telepon_penerima}} <br>
        </td>
      </tr>
      <tr>
        <td>
          Produk / QTY
        </td>
        <td colspan="3">
          {% for produk in detail %}
          {{ produk.nama }} / <strong>({{ produk.jumlah }})</strong> <br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          Catatan
        </td>
        <td colspan="3">
          {{penjualan.catatan_pesanan}}
        </td>
      </tr>
    </table>

  </div>

  <script type="text/javascript">
    window.print();
    setTimeout(function() {
      window.close();
    }, 500);
  </script>

</body>

</html>
